[2020-03-11 19:11] kissane opened #4 "DNS is still weird"
Most people are seeing the website at http://covidtracking.com/ but some are not and the HTTPS is still borked

[2020-03-11 19:11] kissane opened #5 "Need to add GitHub to the footer"
By the Twitter and RSS links

[2020-03-11 19:25] kissane commented on #4
Informal poll of about 15 international and US folks has everyone seeing the website, but I know at least one person on our team isn't.

[2020-03-11 19:47] hammer opened #6 "Add a page w/ overview of software"
A slight expansion of what's in this tweet: https://twitter.com/COVID19Tracking/status/1237423059545587714

[2020-03-11 19:51] hammer opened #7 "See if we can get covid19tracking.com"
Our Twitter and GitHub handles are @COVID19Tracking so it would be nice to own covid19tracking.com.

WHOIS shows JericoDeAngelo@Gmail.com as the owner, who appears to be this guy https://www.linkedin.com/in/deangelo-jerico-0a733479.

Anyone want to reach out to him?

[2020-03-11 20:37] hammer commented on #4
Just wanted to note that my issues have resolved for no apparent reason.

[2020-03-11 23:17] #5 closed

[2020-03-12 00:11] webmasterkai opened #8 "feature: Display HTML Tables of Data within Website"
Should the tables/pages be `njk` templates or is there is going to be some client side code like React that creates the table and allows some interactivity with it?

[2020-03-12 01:25] lucasgonze commented on #4
I am now getting two issues:

1. http://covidtracking.com redirects to the Google Sheets URI
2. HTTPS still broken

I will work on these

[2020-03-12 01:38] lucasgonze commented on #4
The plain old HTTP server is related to DNS server. It wasn't happening for me until I came home from work. Switching DNS server to 1.1.1.1 fixes it. Using Tor (which moves DNS resolution to the exit node) fixes it.

[2020-03-12 01:38] lucasgonze commented on #4
Screenshot of the TLS error.

![Capture d’écran 2020-03-11 à 18 36 56](https://user-images.githubusercontent.com/111581/76478975-863ce180-63c7-11ea-9cb2-71e541d0cf44.png)

[2020-03-12 01:54] Wilto commented on #4
Hey, just a heads-up: there’s nothing we can do to speed this process up, but any changes we make may _delay_ the DNS propagation—I think we just have to wait this one out.

[2020-03-12 01:57] Wilto commented on #4
Also, I think a form of caching is a factor: if you saw it broke, you’re likely going to keep seeing it broke longer than someone hitting the site anew.

[2020-03-12 02:35] lucasgonze commented on #4
Discourse ticket:
https://community.netlify.com/t/unable-to-get-a-lets-encrypt-cert-because-dns-verification-is-failing/10469

On Wed, Mar 11, 2020 at 6:57 PM Mat Marquis <notifications@github.com>
wrote:

[2020-03-12 15:19] cephillips opened #10 "Adding Big Local News as a partner?"
Hi -- here to volunteer our help. Small team of four data journalists, plus a half-time engineer. Just launched our data-sharing for journalists platform, built around a robust API, ability to open data into tools, such as Datasette (SQL), or use api to open into Jupyter Notebooks, etc. We archive data with Stanford Libraries. Would like to help track and also create an open project that puts a ne

[2020-03-12 15:26] hammer opened #11 "Link to our best practices document"
https://docs.google.com/document/d/1OyN6_1UeDePwPwKi6UKZB8GwNC7-kSf1-BO2af8kqVA/edit

[2020-03-12 19:16] nealmcb opened #91 "Provide simple visualizations, link to existing ones in the meantime"
Thanks for this project!

Adding visualizations and the ability to query and drill down into the data would be very handy. E.g. I'd love to see a time series plot of the [daily data](https://github.com/COVID19Tracking/covid-tracking-data/blob/master/data/states_daily_4pm_et.csv) for just one state or one outcome (`positive` or `death` or whatever).

Until that is available, thanks for linking via

[2020-03-12 22:44] webmasterkai commented on #4
The SSL certificate was updated and DNS is working correctly now.

[2020-03-12 22:44] #4 closed

[2020-03-12 22:45] webmasterkai commented on #6
#12 has been merged https://covidtracking.com/software/

[2020-03-12 22:45] #6 closed

[2020-03-12 23:41] hammer opened #15 "Link to Alexis's latest article?"
https://www.theatlantic.com/technology/archive/2020/03/how-understand-your-states-coronavirus-numbers/607921/

[2020-03-13 02:07] hammer opened #16 "Add visualization gallery"
Could include things like Willem’s dope Tableau dashboard and graphics that use our data like this one:
![](https://pbs.twimg.com/media/ES7QrXCXQAAbGqD.jpg)

[2020-03-13 02:07] jqnatividad opened #17 "Pool resources with NYTimes?"
NYTimes seems to have more granular data
https://www.nytimes.com/interactive/2020/world/coronavirus-maps.html?action=click&pgtype=Article&state=default&module=STYLN_coronahub&variant=show&region=header&context=menu#us

Have you tried reaching out to them?

Nowadays, maps are not good enough.

[2020-03-13 18:52] metasj commented on #10
That sounds lovely - a daily archive is important.
Do you have the access you need from the public sheet to set up the archived daily version?

[2020-03-13 18:54] metasj commented on #17
There's definitely communication - yes it makes sense to not how much coordination is happening with different groups.

[2020-03-13 19:15] cephillips commented on #10
Looping in Eric Sagara, one of our senior data journalists. Eric can you take a look at the COVID19Tracking site and spreadsheet. The idea is we would add this as a daily snapshot into our Public Project on Coronavirus data

https://covidtracking.com/

Cheryl
cep3@stanford.edu<mailto:cep3@stanford.edu>

On Mar 13, 2020, at 11:52 AM, Samuel Klein <notifications@github.com<mailto:notifications@githu

[2020-03-13 20:30] esagara commented on #10
It should be fairly easy to use your API to grab the data and upload through our own API. What files should be archived daily and when is the optimal time to ping the API? I am assuming sometime after 4 p.m. EST.

[2020-03-13 20:56] plmrry opened #21 "Clarification on /states/daily counts"
Are the values in `/api/states/daily` _cumulative_ or _new tests per day_?

I assumed they were cumulative, but noticed that the total value decreases over time for certain states (e.g. New York).

[2020-03-13 21:01] webmasterkai commented on #15
closed with #19

[2020-03-13 21:01] #15 closed

[2020-03-13 22:03] kissane commented on #21
@plmrry Can you drop this into https://github.com/COVID19Tracking/issues/issues please? There are data people wathcing those, this is for getting the website launched.

[2020-03-13 22:05] kissane commented on #11
https://github.com/COVID19Tracking/website/pull/22

[2020-03-13 22:10] kissane commented on #11
OK, I cleaned this up and annotated it lightly, it's at the bottom of the homepage, we'll find a better place for it in v2 if necessary.

[2020-03-13 22:10] #11 closed

[2020-03-13 22:13] jamesprescott743 opened #23 "How is the total column calculated?"
There is either a problem with the Total column in the spreadsheet, or it should be documented better.

I would assume it should be (Pos + Neg + Pending) but that is currently 2083+15170+1152=18405 while the Total is 18311.

On the "US Daily 4pm" tab the totals from 3/4 - 3/9 look good but after that they don't add up.

Last updated: 3/13 18:03 ET
Positive | Negative | Pos + Neg | Pending | Death

[2020-03-13 22:22] careeningspace commented on #23
Looks like we had a data error in our sum for MD. Was entered as 17 but should have been 111

[2020-03-13 22:27] careeningspace commented on #21
They should be cumulative, but there are some data points that may have been revised do to a change in reporting methods. Do you have examples?

[2020-03-13 22:33] kissane commented on #21
So what happened in the example you emailed in, @plmrry—which, thanks!—is that NY stopped reporting two classes of numbers (negatives and pendings), and we didn't carry over the old numbers. Normally we DO carry over even old negatives and pendings, and we can look into that one.

[2020-03-13 22:41] kissane commented on #7
Just sent an email to him.

[2020-03-14 00:00] webmasterkai opened #25 "Contributing Page"
It would be great to have some words on how a person or small team can contribute to the project.

Some ideas

* How to help collect/record data.
* How to help with website/graphics.
* How to bug public officials to improve/increase reporting of data and boost quality.

[2020-03-14 00:27] hammer commented on #16
https://twitter.com/yiqinfu/status/1238621836100784128

[2020-03-14 00:40] metasj opened #26 ""See also" links?"
For commonly confused domains (covidtracker, coronatracker?), it might be worth having a banner of the form
 "_for the global arcgis visualization, see plague.com._"

Perhaps this can be merged w/ other discussions of how to link out to existing visualizations, since most of these are quasi-relatime visuals with their own data sources

[2020-03-14 01:41] hammer commented on #21
I can fix up the NY data to carry forward the negatives. I did the same for MD where the negatives weren't carried forward for a few days. Pending I just let go blank when they stop reporting.

[2020-03-14 01:42] hammer commented on #23
That's my fault, I tried to carry forward some negatives that had been left out in previous tallies and was not careful enough. Thanks for the fix @careeningspace!

[2020-03-14 02:34] hammer opened #27 "Add information on diagnostic sensitivity and specificity"
Cf this thread https://mobile.twitter.com/LizDNature/status/1238653778745856000

[2020-03-14 03:08] Dsmith-Tucson opened #28 "Take me to the (very plain) data -- link"
The "Take Me to the Data" link goes to the raw spreadsheets, not the fancy /notes/ display that's linked from the footer.

[2020-03-14 06:10] chiester opened #29 "ISO 8601 Dates in API"
Is it possible for the JSON payload from the API to use ISO 8601, like `2020-03-13` instead of the current `20200313`?

[2020-03-14 06:20] hammer commented on #27
Also cf https://mobile.twitter.com/nataliexdean/status/1238518203736903680

[2020-03-14 07:04] loglow commented on #16
Just created this very simple domain & page: http://www.covidcharts.com/

Right now it's just using Google Sheets, but I'll probably update it to use the JSON API.

[2020-03-14 08:50] hammer commented on #16
Thanks @loglow! I’ve invited you to our Slack workspace to discuss how to best connect these sites moving forward.

[2020-03-15 00:06] hammer commented on #16
https://covid19dashboards.com/growth-us-states/

[2020-03-15 00:49] rypan commented on #21
I've gotten the same question about our spreadsheet...if data on `US Daily 4p ET` is "daily" or "cumulative". We should clarify by updating the column title? (Or will that break things...for people who are scraping us?)

[2020-03-15 03:08] webmasterkai opened #30 "Add state images to API"
Pull in this XML and add to states info.
https://covid-data-archive.s3.us-east-2.amazonaws.com/

Use on individual states page as a link next to the daily numbers

[2020-03-15 04:30] kissane commented on #7
The guy who has it is a domain scalper who is offering it to us at the low low price of $2,300. I did not respond.

[2020-03-15 04:31] kissane commented on #21
I would be very much in favor of clarifying somewhere in the sheet and will leave it to @hammer to decide how to do it without breaking things

[2020-03-15 04:32] kissane commented on #23
Thanks, all, closing this one.

[2020-03-15 04:32] #23 closed

[2020-03-15 04:34] kissane commented on #26
This is smart, I feel like we should link out to the obvious suspects now and sort our full viz plan after, bc there are a bunch of open questions about that part. @metasj could you give me a list of your obvious candidates and I'll grab mine and merge and add them?

[2020-03-15 05:25] kissane commented on #28
We shouldn't remove the link to raw but the data page is probably now good enough to add a link to it, yeah. Let me look at this.

[2020-03-15 05:32] #7 closed

[2020-03-15 10:45] hammer commented on #27
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3546052

[2020-03-15 18:28] webmasterkai commented on #28
Proposed solution in PR #31

[2020-03-15 18:41] kissane commented on #28
OK, now we have pretty data, spreadsheet, and API up top. Closing this for real now.

[2020-03-15 18:41] #28 closed

[2020-03-15 18:50] webmasterkai opened #32 "Twitter/Website Card Ideas"
<img width="1161" alt="Screenshot 2020-03-14 23 57 29" src="https://user-images.githubusercontent.com/969456/76708296-1af75600-66cc-11ea-9a3f-0d87da65d166.png">
<img width="520" alt="Screenshot 2020-03-14 23 55 21" src="https://user-images.githubusercontent.com/969456/76708299-1c288300-66cc-11ea-82e1-fb1f4a2b1e0f.png">
<img width="523" alt="Screenshot 2020-03-14 23 55 16" src="https://user-images.

[2020-03-15 19:06] kissane commented on #27
I've started work on this, but I will need a qualified science person to bless what I write, and that will also not happen before this evening. My goal is 1-2 paragraphs that will live on the Methodology page on the website.

[2020-03-15 19:08] kissane commented on #32
Thanks, @webmasterkai, I would like to get one or more designers to bless our type/image guidelines before we proceed with any more design work.

[2020-03-15 19:22] kissane commented on #27
Hey @hammer I started this here https://docs.google.com/document/d/12jzOzsAoCsXn2uN_zOR3CAydD-YPGr0vQdUPPbgFSbM/edit?usp=sharing

[2020-03-15 19:27] kissane commented on #27
Also Kathy Paur is editing this, she's wonderful and has the teaching + bioscience expertise

[2020-03-15 20:37] hammer commented on #16
https://public.tableau.com/profile/peter.james.walker#!/vizhome/shared/ZCDYCJ4TF

[2020-03-15 20:47] hammer commented on #16
https://github.com/rbracco/covidcompare

[2020-03-15 22:26] kissane commented on #27
I saw a lot of notes flying in Slack about this, I am hoping we can add either an edit of the mini-explainer I made OR an alternate version sometime Monday.

[2020-03-16 02:38] chiester commented on #16
https://www.tinpanvalley.com/covid

[2020-03-16 02:44] chiester opened #35 "Make more obvious /states/daily is the count at 16:00 ET"
The API is reporting 642 positive cases in WA, but the /data page says 769 positive cases.

[2020-03-16 02:52] hammer commented on #35
paging @webmasterkai

[2020-03-16 02:55] webmasterkai commented on #35
The API is reporting 769 positive cases.
<img width="531" alt="Screen Shot 2020-03-15 at 10 54 18 PM" src="https://user-images.githubusercontent.com/969456/76719372-03da5780-6710-11ea-9054-4a4de5da76ad.png">

[2020-03-16 03:15] chiester commented on #35
My apologies, I wasn't clear which api. /api/states/daily is reporting 642 positive cases.

<img width="866" alt="Screen Shot 2020-03-15 at 11 14 14 PM" src="https://user-images.githubusercontent.com/3964828/76720297-cdeaa280-6712-11ea-8c3d-7421ea0f3aae.png">

[2020-03-16 03:27] webmasterkai commented on #35
Ah, I should have checked to see if that's where your number came from. The /data page says "Last updated: 3/15 18:00 ET" and the /api/states/daily is a snapshot at 1600 ET. We should probably make that more obvious.

[2020-03-16 17:37] mentalplex opened #37 "Arizona data isn't complete"
See https://www.azdhs.gov/preparedness/epidemiology-disease-control/infectious-disease-epidemiology/index.php#novel-coronavirus-home

The tracker is only reporting state lab results, despite commercial lab results being reported on the state website. As of now, AZDHS reports 18 positive, not 12

[2020-03-16 17:40] careeningspace commented on #37
Thank you for your vigilance! That data will be included in the next data push shortly

[2020-03-16 19:02] webmasterkai commented on #21
Has this been fixed? I just got an email from WSJ asking about it.

[2020-03-16 19:05] hammer commented on #21
I think documenting in the spreadsheet is hard so it's best to document on the website. We've successfully buried the spreadsheet link at this point so if you end up there without seeing any of our documentation and you miss the README tab that links to the website I'm sorry.

@rypan for your particular question it's cumulative.

[2020-03-16 19:08] hammer commented on #21
Another question I get regularly: what do update time and check time mean on the current tab, and how are the daily tabs computed?

I suggest we put this information on the `/data` for now.

[2020-03-16 19:11] kissane commented on #21
I'm bringing in someone from Politico with data questions

[2020-03-16 19:14] bzjin commented on #21
Sometimes the negative cases are null, which brings the total down day by day.

For example, in Louisiana, `negative` cases are `37` on March 11 and March 13, but `null` on March 12. This makes the `total `cases 51, 14, then 51, which I believe is in correct.

[2020-03-16 19:17] webmasterkai commented on #21
Another example of negatives in NY the 11th and 12th.
<img width="709" alt="Screen Shot 2020-03-16 at 3 05 11 PM" src="https://user-images.githubusercontent.com/969456/76792185-df768d80-6798-11ea-9c75-7f8907f2f5e8.png">

[2020-03-16 19:37] kissane commented on #21
We are in the midst of our most comprehensive daily update, data folks will be available to answer questions soon.

[2020-03-16 21:28] careeningspace opened #40 "Update tagline to include territories"
![Screen Shot 2020-03-16 at 5 28 03 PM](https://user-images.githubusercontent.com/43073915/76801199-8a904280-67ab-11ea-83d3-4ddb4c4d873c.png)

[2020-03-17 00:03] #40 closed

[2020-03-17 00:07] #37 closed

[2020-03-17 00:14] careeningspace commented on #21
Hello - there are a couple of things that are causing the **Total** number discrepancy.

1. States would start reporting three data points - Positive, Negative, and Pending and then add them up. A number of states have transitioned to reporting only **Positive** values, which would render our initial totals obsolete.  The above NY example is a perfect illustration of this challenging and evolving

[2020-03-17 00:17] hammer commented on #21
The missing LA number is likely because LA stopped reporting negatives for a while and someone failed to carry over the previous negative count.

[2020-03-17 03:12] hammer commented on #16
https://github.com/eric-czech/covid-tracking

[2020-03-17 03:28] kissane commented on #35
@hammer Can we just add this information to the tab name or will that break everything?

[2020-03-17 03:31] hammer commented on #35
This is actually an issue with the REST API URL structure and not the sheet, thank goodness.

[2020-03-17 03:32] kissane commented on #35
We've had some reporters confused about the sheet as well, but maybe our new documentation will help with that! I'll leave the API bit for @webmasterkai

[2020-03-17 04:00] webmasterkai commented on #35
A property has been added to the /api/sates/daily called `dateChecked` that includes the time. For example `"dateChecked: "2020-03-16T20:00:00Z"`.

[2020-03-17 04:00] #35 closed

[2020-03-17 09:50] richardkeep opened #44 "A Similar App"
I have created a similar app. Please check it out https://github.com/richardkeep/covid-19

[2020-03-17 14:41] adityamore opened #45 "/api/states has an empty response"
On the api site covidtracking/api, the states call responds with a 200 but an empty body. The graphql api seems to be throwing an error too.

[2020-03-17 19:25] watplatt commented on #21
Apart from mortality, there isn't a statistic for "recovered" in the time series for states.  We need that to construct SIR/SEIR models in order to get the right "Infected - I" counts.  Is there a possibility you could add these?

[2020-03-17 21:35] ToxicBakery opened #49 "Some states do not appear to work with the filters"
Looking at the unfiltered data set, Florida is represented. Filtering for FL returns an empty array. Other states appear to work as intended.

Response: https://covidtracking.com/api/states?state=FL
[code]

Expected Response:
[code]

[2020-03-17 23:02] webmasterkai commented on #8
We have https://covidtracking.com/data/ and https://covidtracking.com/us-daily/
I'll make a new issue for individual state history pages/tables.

[2020-03-17 23:02] #8 closed

[2020-03-17 23:03] webmasterkai opened #50 "Individual State Pages"
Maybe we could have individual state pages that each have the daily history for the state? Might also be good to include links to the screenshots taken of the individual state websites.

[2020-03-17 23:16] webmasterkai commented on #32
Copy paste from Project identity doc

[2020-03-17 23:23] kissane commented on #32
BTW, we have @beep with us half-time this week to help integrate design changes from elsewhere, finish the design system our original anonymous designer started, and get our loose ends tucked in.

[2020-03-17 23:43] careeningspace opened #52 "NC Data correction"
We were temporarily adding Deaths into our total for SC and NV. I cleaned the data up and fixed the formula:

![Screen Shot 2020-03-17 at 7 28 34 PM](https://user-images.githubusercontent.com/43073915/76911590-88031b00-6887-11ea-9e0d-54b9e81d3c09.png)
![Screen Shot 2020-03-17 at 7 41 22 PM](https://user-images.githubusercontent.com/43073915/76911591-89ccde80-6887-11ea-8483-7384d960d071.png)

[2020-03-18 03:16] WeileiZeng opened #54 "data for cases by counties available?"
Is data for cases by counties in US available?

I am looking for data for Riverside counties at CA. I can manually read from their announce website, but just wondering if there are any existed data source?

Thanks!

[2020-03-18 03:28] WeileiZeng opened #55 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the Open-Source-COVID-19 page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are al

[2020-03-18 15:41] kevee commented on #50
I started to work on a branch for this but ran into the fact that there's no declarative way to generate pages with 11sy API. Would you be open to changing over to Gatsby to make it easier to ingest and use the data across the site? I could give you a proof of concept.

I realize this is a big ask, so I could instead just go with like using grunt to automate page creation based off a single templa

[2020-03-18 15:41] hammer opened #57 "Refresh software page"
We've got a lot of new repos now; perhaps @zachlipton or @julia326 could try to write up descriptions of all of them for the https://covidtracking.com/software page?

[2020-03-18 17:38] kissane opened #59 "Usability audit/fixing, page by page"
We've patchworked up a pretty solid set of items on this site, but after I finish adding some quick documentation this morning, we definitely need to go through and do some usability and feature design stuff. This is the GH home for that.

[2020-03-18 17:41] lucasgonze commented on #59
First question: what are the core functions of the home page? What is it intended to accomplish?

An example question: why do we have press links there?

[2020-03-18 17:49] lucasgonze commented on #59
Work in progress on a site review:
https://docs.google.com/document/d/1rC63f7sytZgcb89WHJh6sxvWdVQ_bBHUVRC70edoQQM/edit?usp=sharing

This document is to review all the current components of the site. It will list the pages. For each page it will list the sections. For each section it will list the business purpose.

[2020-03-18 18:53] kissane commented on #59
Sidenote that we need to be able to re-order the footer nav which is currently semi-alpha and also just eeeeeee nav.

[2020-03-18 18:58] kissane commented on #57
I added some things this morning on https://covidtracking.com/software/ and am now accepting links to other things that either

# make our work more useful (R wrapper, etc)
# use and extend our data in great ways

Not all that stuff will live on "Software & Credits" always, but it's a start. Drop em here please.

[2020-03-18 19:14] zachlipton commented on #57
Yes! One of my short-term goals is to just take an inventory of what stuff we even have and what we're building, and getting a presentable version of that onto the website would be great.

[2020-03-19 02:04] dimitrilucas opened #60 "Daily new case number discrepancy between this site and CDC info"
Hello,

I'm writing because there seems to be a discrepancy between the number of daily new US cases on your site vs the CDC website.  According to my calculations based on numbers reported on https://covidtracking.com/us-daily/, there were 528, 723, 846 new positive cases reported on March 14, 15 and 16.    Here is a screenshot of those dates and numbers:
![image](https://user-images.githubuserco

[2020-03-19 02:13] hammer commented on #60
hey @dimitrilucas thanks for the question!

it may be because our daily numbers are as of 4 pm ET. the total number on 3/16 for us was 4,019 while the cdc has 4,226, so we're definitely in the same ballpark. states report their data at different times on different days so i wouldn't focus too much on the precise number each day. a trend line would be more useful.

for more details on our methods,

[2020-03-19 03:05] loglow opened #61 "Some anomalies in state daily API data"
There are some anomalies in the data from:
https://covidtracking.com/api/states/daily

Might be an API problem, since some vars aren't showing up at all:
- MA 3/10 is missing all values except 'positive'
- PA 3/10 is missing all values except 'positive'
- VA 3/10 is missing all values except 'positive' and 'negative'

Might be a data problem, since nulls are being reported amid very few other null

[2020-03-19 03:08] hammer commented on #61
Those 3/10 missing totals definitely seem like a bug, as does MD on 3/12. Thanks for catching them!

Those nulls for positives are likely due to my choice to not put 0 when the state was not reporting anything. Many states were slow to put out any data at all, and I wanted to distinguish that case from an explicit 0.

[2020-03-19 03:10] loglow commented on #61
The reason I highlighted those nulls is because they're the **only** 4 'positive' nulls in the entire (!) dataset, and they're also all surrounded by either 0s or 1s on either side.

[2020-03-19 03:12] hammer commented on #61
Okay fair enough we should definitely pull forward the previous day’s value in each of those cases then.

[2020-03-19 04:07] careeningspace commented on #61
Here is the original Total data missing for PA, VA, MA:
![Screen Shot 2020-03-18 at 11 58 47 PM](https://user-images.githubusercontent.com/43073915/77030403-d2ae9100-6974-11ea-8a06-a68362c7373b.png)

Here it is fixedfor PA, VA, MA:
![Screen Shot 2020-03-18 at 11 59 34 PM](https://user-images.githubusercontent.com/43073915/77030380-c75b6580-6974-11ea-86c2-6b4f193706d8.png)

For the other data point

[2020-03-19 05:23] #61 closed

[2020-03-19 06:39] metasj commented on #60
Also I find the CDC's data rather opaque and confusing. There is no way to know exactly where it is coming from or what their update process is, nor an issue tracker to leave questions or suggestions...

[2020-03-19 19:15] klumbard opened #62 "Inconsistencies in "States daily 4 pm ET""
These are instances in which the cumulative count of pos/neg on a given day are less than the previous day:

Negative:
NM on 03-08
CO on 03-10
MS on 03-13
UT on 03-13
CO on 03-15
ID on 03-15
NJ on 03-16
NY on 03-16
AZ on 03-17

Positive:
NV on 03-10
DC on 03-11

[2020-03-19 19:15] hammer commented on #62
![image](https://user-images.githubusercontent.com/15233/77105779-78551500-69f4-11ea-87e2-a5d420a01872.png)

[2020-03-19 19:18] kissane commented on #60
Man there is just not an emoji to appropriately respond to this.

[2020-03-19 19:24] kissane opened #63 "site design iteration 3/19"
Hiya let's knock out some fixes. I got this from Júlia Ledur:

Website suggestions:

- [x] Don’t think the headers should be underline as they are already bold and colored (“Home”, “US Daily” and “States”). I would probably keep them black too.
- [x] ~The COVID Tracking Project in the nav bar should be bigger. Right now the hierarchy is a bit odd. Also the COVID Tracking Project logo should be som

[2020-03-19 19:34] kissane commented on #63
@beep Once we have color-change hex codes is that a thing I can give to you? Likewise maybe the uhhh visual hierarchy stuff? This is def interim sketchy stuff, lmk if that gets in the way of larger design passes or anything

[2020-03-19 19:39] kissane commented on #63
Got hexes

button: #4A5F85
button hover: #3D4F70
links and headers: #607A9C
hover links: #4A5F85
hover headers: #7391B0

[2020-03-19 19:44] beep commented on #63
i’m gonna use them hexes

(thank you, erin and júlia! more soon.)

[2020-03-19 19:45] beep commented on #63
(Oh and this definitely doesn’t get in the way of the larger design pass! These are easy, easy fixes, and we should make ’em.)

[2020-03-19 19:53] kissane commented on #63
We are going to standardize on "US" rather than "U.S." because that's how it is in the Spreadsheet tab names, which we are never changing until it's safe to got outdoors.

[2020-03-19 19:57] beep commented on #63
On reread, one thought on this item:

I _completely_ agree, but I’d suggest we punt on this until next week. I’d like us to get a proper lockup in place, and it’ll be easier to do that as part of the larger pass.

[2020-03-19 20:01] kissane commented on #63
Dropping this doc in progress here, it's guiding our micro-decisions for now https://docs.google.com/document/d/1nMydLa_Ckj9MDyu6ooGRKeZx5OeAbI1q7lzDUKEr6rw/edit?usp=sharing

[2020-03-19 20:04] kissane commented on #63
This is a good idea but that button should probably go to the same place sa it does on the homepage, which is currently the spreadsheet. Maybe this is just a couple of text links at the top, one going to each place?

[2020-03-19 21:03] kissane commented on #63
This is SO MUCH PRETTIER thank you!

@beep I am so sorry but could I please request help getting the top nav links to be MOST RECENT DATA instead of STATES and US HISTORICAL DATA instead of US DAILY?

If you don't have time for that, I can get to it when I return in three-ish hours, not at all an emergency.

[2020-03-19 21:03] beep commented on #63
@kissane ON IT

[2020-03-19 21:10] beep commented on #63
@kissane I DID IT #65 FYioh you merged it already thank you

[2020-03-19 23:24] kissane commented on #63
HEY THERE we did all the things here or officially moved them to the Large Design Thoughts currently earmarked for next week, I'm so happy, ty ty ty.

[2020-03-19 23:24] #63 closed

[2020-03-19 23:25] kissane commented on #59
@lucasgonze Hey Lucas, ping me when you have work to put eyes on for this? Tx!

[2020-03-19 23:26] kissane commented on #57
@zachlipton, let's touch base on this tomorrow?

[2020-03-19 23:27] kissane commented on #55
Thanks very much, @WeileiZeng!

[2020-03-19 23:31] kissane commented on #27
Sooo we stalled out on this. @hammer I think Kathy had some things for you to asnwer, but IDK. Is this request just to put our guess at the accuracy of the current tests in the US onto the site, rather than explaining to non-healthcare journalists/general readers what sensitivity and specificity are? I feel like that information is…super dynamic. Let me know what you're after.

[2020-03-19 23:32] kissane commented on #54
Hi @WeileiZeng, I would send you to the Los Angeles Times for their data on CA counties, for now https://www.latimes.com/projects/california-coronavirus-cases-tracking-outbreak/

[2020-03-19 23:32] #54 closed

[2020-03-19 23:34] kissane commented on #32
I believe this is pending next week's design review, but @beep LMK if this is a separate thread and I'll get someone on it!

[2020-03-19 23:40] kissane commented on #50
I've called for help to see how this plays out in our now-altered nav situation.

[2020-03-19 23:42] kissane commented on #25
BTW I'm not ignoring this, we're building the onboarding docs and capacity to actually help people do the work once they arrive.

[2020-03-19 23:43] kissane commented on #16
I'm flagging this up to our internal presentation/viz leads who have been working on this for a bit and will soon be rolling something out.

[2020-03-20 01:39] jasonkalmeida opened #66 ""Total Test" Confusion"
Referenced Page: https://covidtracking.com/us-daily/

Hey all, LOVE the work being done here (and actually looking to help out if you need any).

One issue I had was a bit of confusion regarding the "Total Test" numbers on the historical table - is that last column the total for the day or total US from start of tracking?

For example:

Did the US run 103,945 tests on 19 Mar 2020

**OR**

Has the

[2020-03-20 01:41] jasonkalmeida commented on #66
Just saw that this is addressed in the FAQ - https://covidtracking.com/newsroom-expert-faq/

If possible, a little information button in the table or such might be an elegant way to highlight this info?

[2020-03-20 01:41] webmasterkai commented on #66
Total US from start of tracking. The aggregate US states have reported 103,945 from 04 Mar 2020 to 19 Mar 2020.

[2020-03-20 04:14] kissane commented on #66
Thanks, Jason! The intro text on the page begins with "Cumulative daily totals as of 4pm ET each day" in bold, so we thought we had that covered, but I'll def check into additional ways of flagging it.

[2020-03-20 04:18] WeileiZeng commented on #54
Thank you very much!

[2020-03-20 04:41] kissane opened #67 "PR conflict help requested"
Hello! This great PR from @jeremiak slid by me and I only just saw it. @beep has since made a bunch of great CSS changes and we've changed the homepage text. Could one of you wonderful humans merge master in and update the PR to fix conflicts before we merge the PR?

THANKS, SORRY, SO MANY THINGS.

[2020-03-20 04:46] kissane commented on #50
I have un-called for that help but do need some eyes on this tomorrow since we went ahead and merged https://github.com/COVID19Tracking/website/pull/58 and now need to refine it a teensy bit

[2020-03-20 06:12] olivierlacan commented on #67
Fixed via https://github.com/COVID19Tracking/website/pull/56/commits/f5eff1038f0b5fd8affaf890a4bac97053d76372

[2020-03-20 06:12] #67 closed

[2020-03-20 06:13] olivierlacan commented on #66
I'd suggest we rename this to `All-time Tests` which would clear up any confusion.

[2020-03-20 07:31] tehkaiyu commented on #16
Hi there, I've been playing around with your API and have built a [small dashboard](https://covid.kyh.io) that visualizes the data. You can find the source [here](https://github.com/tehkaiyu/covid-dashboard). Let me know if ya'll need any more help or if you'd like to integrate

[2020-03-20 07:32] hammer commented on #16
https://www.politico.com/interactives/2020/coronavirus-testing-by-state-chart-of-new-cases/

[2020-03-20 12:21] #16 closed

[2020-03-20 12:56] beep commented on #50
@kissane Just opened #73! Let me know if you think this covers the refinement you mentioned? Happy to take another pass!

[2020-03-20 13:07] beep commented on #32
@kissane No worries, I’m already tracking it as part of the bigger design review!

[2020-03-20 14:02] hammer opened #74 "Add checked time to state info"
We show last updated time on the most recent data and state pages. We should also show last checked time.

[2020-03-20 14:55] hammer opened #76 "Link to crawl history on state pages"
I believe @julia326 or @joshuaellinger are the keepers of this data on S3. It would be amazing if we could link to it on the state page, or even have a carousel display of it!

[2020-03-20 15:00] joshuaellinger commented on #76
Julia -- can you post the S3 link for them to integrate?

[2020-03-20 15:10] kevee commented on #76
How about having the most recent snapshot, along with links to data sources, etc to the side next to the state notes? That would help bring up the data, and separate more metadata about the state from the actual data. Then we can have a separate `/data/state/[state-name]/history` page with more detailed info and a screenshot per crawl.

![IMG-3372](https://user-images.githubusercontent.com/270536/

[2020-03-20 15:22] hammer commented on #76
http://covid-data-archive.s3-website.us-east-2.amazonaws.com/state_screenshots

[2020-03-20 15:25] julia326 commented on #76
Afaik @webmasterkai is already pointing to that bucket in his API to also serve screenshots from covidtracking.com like https://covidtracking.com/screenshots/AK/AK-20200320-010029.png - Kai do you have logic in there that would easily integrate?

[2020-03-20 15:30] julia326 commented on #57
@kissane take a look at https://docs.google.com/document/d/1m42MrNORpe2PB5mMMa7naUG4XKx3qO7JzGsAnfvE36s/edit# - would the repo descriptions at the top of the doc be usable for this, or are you looking for more high/low-level?

[2020-03-20 15:37] kevee commented on #76
The `/screenshots/` is actually just a [netlify redirect](https://github.com/COVID19Tracking/website/blob/master/_redirects#L6) to the S3 bucket.

[2020-03-20 15:39] webmasterkai commented on #76
There's an API that lists screenshots by state https://covidtracking.com/api/screenshots
I haven't parsed out the date yet. I can do that.

[2020-03-20 16:02] kevee commented on #76
I've got a branch I'm working on and will have a PR soon - we will need to do some sort of cropping.

[2020-03-20 16:50] julia326 commented on #76
@kevee the screenshots aren't perfect (how often they break is prob similar to what urlwatch is seeing), and I've been fixing them as I find out they're broken - in case this affects the decision to feature them on the state site right now. Also if you have ideas for cropping logic, I can potentially put those in the backup script - I did the simplest thing for screenshots initially.

[2020-03-20 16:52] julia326 commented on #76
The screenshot timestamp is in the filenames (date, time in EST) and the sources come from the States tab COVID-19 site column.

[2020-03-20 17:05] schwartzadev commented on #66
The same goes for the `Deaths` numbers...it's currently unclear if the value is per day or cumulative.

Also, the table currently lists that we're tracking 56 `States`...this should probably be `States and Territories`

[2020-03-20 17:09] julia326 commented on #76
@kevee @webmasterkai let me know if you want to display anything that you don't currently have enough metadata for, happy to add as needed

[2020-03-20 17:24] kissane commented on #66
These are ultimately data structure and naming questions that need to happen upstream from the website so I am bringing in @zachlipton @careeningspace and @hammer to weigh in. Noting we do say "Cumulative" in bold type in the text intro.

[2020-03-20 17:34] kissane commented on #57
@julia326 This is PERFECT thank you!

[2020-03-20 17:39] olivierlacan commented on #57
Do we still use the Netlify CMS? It looks to me like we're exclusively using the [11ty static site generator](https://www.11ty.dev/) at this point. Maybe this is outdated.

[2020-03-20 17:48] kissane commented on #57
@olivierlacan We still use the CMS as well for the billion editorial changes thoughout the day, I'll add the generator.

[2020-03-20 17:51] kissane commented on #57
Ding ding done https://covidtracking.com/software/

[2020-03-20 17:51] #57 closed

[2020-03-20 17:52] kissane commented on #50
Thanks @beep looks great, I think we're set with this initial pass, though there's more tweaking to be done so I'm going to close this for now and we should open more granular issues for refinement.

[2020-03-20 17:52] #50 closed

[2020-03-20 17:55] kissane opened #82 "Switch to standard bullet alignment"
I know we've talked about this for the next design pass but our data guys are extremely brain-itchy about it. @beep could you take a look at this when next you pass by and LMK if it's quick enough to just do?

[2020-03-20 17:58] hammer commented on #82
also there's a weird amount of vertical spacing on https://covidtracking.com/software, for example.

[2020-03-20 18:01] olivierlacan opened #83 "Header anchors to link to specific section"
I found myself wanting to link people to the Best Practices doc from the homepage and since the page overflows the default viewport height on most screens I realized it wasn't easy to link to a specific section based on a header anchor link (which I find extremely useful).

Example:

[code]

Then anyone can easily link to `https://covidtracking.com/#best-practices-for-data-release` and get straigh

[2020-03-20 18:08] webmasterkai commented on #83
I'll add a redirect for the google doc https://covidtracking.com/best-practices

[2020-03-20 18:10] olivierlacan commented on #83
That's swell too. Think anchor links are worth it anyway?

[2020-03-20 18:26] beep commented on #82
Thanks, folks! Let me know how #85 looks to you?

I think #85’ll help with this, but let me know!

(That said, one of the issues on that page is markdown-related, not CSS-related: each top-level title is getting wrapped in a `p`, which is causing the extra space.  I’ve put in a _very_ hacky fix for this, but hopefully it’ll be short-lived.)

[2020-03-20 18:29] #82 closed

[2020-03-20 18:56] kissane commented on #32
@beep Blessings, gonna close this for now.

[2020-03-20 18:56] #32 closed

[2020-03-20 19:31] lucasgonze opened #86 "Many pages are missing top-level subtitles"
For a page like https://covidtracking.com/data/, there is a page title in the content, like "Most Recent Data", but not at the window level. In HTML the window title is the element html.head.title.

For example, the window-level title for that "Most Recent Data" page is the same as for every other page on the site: "The COVID Tracking Project":

![Screen Shot 2020-03-20 at 12 29 00](https://user-i

[2020-03-20 20:07] beep commented on #86
Thanks, @lucasgonze. I’m not sure I have the nunjucks skills for this one. More specifically, I think I can figure this out for _most_ pages, but I’m not sure how to handle the individual state pages: they’re not passing a `title` variable to the base template.

[2020-03-20 20:29] lucasgonze commented on #86
@beep Do you agree this is a good thing to change?

[2020-03-20 20:31] lucasgonze commented on #86
@webmasterkai Are you a good owner for this development work?

[2020-03-20 20:38] beep commented on #86
@lucasgonze oh _absolutely_ agree it’s a good thing to change! I just don’t know how to implement it myself—sorry!

[2020-03-20 20:44] olivierlacan commented on #86
I can tackle this if @webmasterkai is out.

[2020-03-20 21:38] kevee commented on #76
@julia326 It would be great to reduce file size if there was a cropped/resized version to like 400x400 or something like that. Right now I'm just cropping using a div and `overflow: hidden`

[2020-03-20 22:13] sjkoelle opened #89 "Washington state counts: total versus negative"
Hi,
I think the WA results are reporting total tests as negatives.

[2020-03-20 22:19] kevee commented on #76
Now that I'm thinking about this a big more - should we just add another column to the "History" table that links to the screenshot for that day?

![Sample table](https://user-images.githubusercontent.com/270536/77210404-51234400-6ad7-11ea-8105-f32fefe01fa0.png)

[2020-03-20 22:21] kaz-Anova opened #90 "How to reference you - limitations in using the data?"
First of all, let me say, you have done great work in putting this data together (on a daily basis) and helping understanding Coronations better.

Do you have some best practice on how could someone could reference you?

Is there a limitation in using this [data ](https://covidtracking.com/api/states/daily) in Open source projects?

Could I for example make the data available on kaggle/datasets (h

[2020-03-20 22:35] #89 closed

[2020-03-20 22:37] joshuaellinger commented on #91
moved from the general issues to web site.

[2020-03-20 23:09] #74 closed

[2020-03-20 23:27] #86 closed

[2020-03-20 23:41] on2air commented on #91
I run an agency around Airtable and decided to pull in your data to Airtable which is pretty good data visualization: https://airtable.com/shrGZit91PisYqpdM/tblvj81hpMq0uZ1FB/viw7h7DDzmL0u4q5p?blocks=bipNeGkkQAz6fvcaA&bip=full

Feel free to share.  It requires a code snippet on my end to run each day and pull in your updates that I'll try to keep updated.

[2020-03-21 02:12] nealmcb commented on #91
@on2air Cool - thanks!  Nice stacked bars etc.
But you seem to be showing cumulative sums of values that are already cumulative totals-to-date.

[2020-03-21 03:09] on2air commented on #91
ah thanks @nealmcb . I've updated to calculate daily numbers. should be reflected now

[2020-03-21 13:24] kevee commented on #76
Closing, per #79

[2020-03-21 13:24] #76 closed

[2020-03-21 18:15] hammer opened #96 "Add hospitalized values to website tables"
We now track this value in the sheet for States and US current, and will add it to States and US daily after the 4 pm push today. We should expose this value on our website and in our API!

[2020-03-21 18:53] schwartzadev opened #98 ""States" Refactor to "States and Territories""
This should be pretty simple: the Project currently always refers to states _and_ territories as simply "states"

For example, on the `/us-daily/` page, the table indicates that 56 states are tracked while this includes N. Mariana Islands, Guam, Washington D.C., and others:
![image](https://user-images.githubusercontent.com/18607205/77234265-8e88df80-6b72-11ea-85e4-f1e0aa4aca42.png)

I'm not sure

[2020-03-21 18:54] webmasterkai commented on #96
Fixed via #97

[2020-03-21 18:54] #96 closed

[2020-03-21 20:49] hammer opened #101 "Design updates for mobile"
I've noticed a few rough edges when viewing the website on my iPhone.

### Home
- [ ] "US Historical Data" and "Most Recent Data" in the header wrap onto two lines.
- [x] The "In the press" logos stretch the width but the list below wraps much earlier, causing the logos to have a big overhang.
- [x] Footer links stack vertically quite a bit. Maybe fine but looks a bit odd.

### Most recent data
-

[2020-03-21 20:49] hammer commented on #98
For sure! We did not change the sheet as we were afraid to break things that depended on column names. Can definitely make the change on the website.

[2020-03-21 21:48] olivierlacan opened #103 "Hospitalization column is causing visual collision"
On: https://covidtracking.com/data/

![image](https://user-images.githubusercontent.com/65950/77237158-1afbc800-6b9c-11ea-9a9c-e8fbf47379f4.png)

We probably need to rework the way we set up the grid since it's now overflowing.

[2020-03-21 22:43] schwartzadev commented on #103
I'll work on this. It's cut off on mobile as well:
![image](https://user-images.githubusercontent.com/18607205/77238071-0e26a680-6b93-11ea-8427-ec7333ace3f9.png)

[2020-03-21 23:23] lucasgonze commented on #59
Good progress on the sitemap, which is a prerequisite to requirements:

https://docs.google.com/document/d/1rC63f7sytZgcb89WHJh6sxvWdVQ_bBHUVRC70edoQQM/edit#heading=h.fyk2vnfphf6j

[2020-03-21 23:30] papakpmartin opened #104 "/api/states giving dates with wrong year (1970)"
Looking at https://covidtracking.com/api/states as of now (2020-03-21T23:30:00Z) has entries like this: `"dateModified":"1970-03-21T18:47:00Z"`

[2020-03-22 00:00] lucasgonze opened #105 "/about-team refactoring"
This page has two functions: teaching about the history of the project and giving attribution to contributors.

I propose a minor bit of refactoring.

The first paragraph in "current status" should move into "history" and get a little touching up on the text.

The "current status" section should be renamed "contributors."

[2020-03-22 00:24] lucasgonze commented on #59
The site functional review is complete. This is basically a sitemap, formatted as a document rather than a graph.

The Website Users/Goals review is a closely related document:
https://docs.google.com/document/d/1nMydLa_Ckj9MDyu6ooGRKeZx5OeAbI1q7lzDUKEr6rw/edit

[2020-03-22 00:26] lucasgonze commented on #59
The next step is to finish the Website Users/Goals review (https://docs.google.com/document/d/1nMydLa_Ckj9MDyu6ooGRKeZx5OeAbI1q7lzDUKEr6rw/edit).

Then we can refactor the overall set of pages and the content of each page.

[2020-03-22 02:02] schwartzadev commented on #101
#106 fixes:

- [x] "Pos + neg" title in US totals table wraps
- [x] Below each state the "Grade - Last updated - Last checked" display wraps. Maybe stack?

The grade/last updated/last checked display is now stacked.

[2020-03-22 04:35] #103 closed

[2020-03-22 04:52] schwartzadev commented on #101
It looks like the three `Home` issues are still open

[2020-03-22 04:57] schwartzadev opened #108 "Sort/filter for state pages"
I would love to see a feature to jump to a particular state from the `/states/` page. I've used [chosen](https://harvesthq.github.io/chosen/) before, which allows for both entering text to search and for choosing from a dropdown.

Something similar would be great. I'm curious to hear others' thoughts.

[2020-03-22 05:16] schwartzadev opened #109 "Double border on tables"
This was my doing and should be the literal last priority.

----

The horizontal top and bottom borders are half as thick as the vertical ones. They should be twice as thick as they are now. (They should match the thickness of the vertical right and left borders.)

![image](https://user-images.githubusercontent.com/18607205/77242930-7a240180-6bc9-11ea-8af2-e15039d82c53.png)

Here's a close-up:

![

[2020-03-22 06:43] goleary opened #112 "API returning no results for state='GA'"
https://covidtracking.com/api/states/daily?state=GA
^^ returns an empty array.

Other states seem to be working:
https://covidtracking.com/api/states/daily?state=WA
https://covidtracking.com/api/states/daily?state=NY

if no state is specified the GA results are returned (with everything else):
https://covidtracking.com/api/states/daily

[2020-03-22 17:28] schwartzadev opened #115 "Flexbox collapses with empty values"
This should be a simple fix -- just need to go into the template and add whitespace values as defaults when the table values are missing.

Alternatively, this could be solved with `flex-grow`.

![image](https://user-images.githubusercontent.com/18607205/77255843-108b0e00-6c30-11ea-8362-bad3bae5c294.png)

[2020-03-22 17:40] kevee commented on #108
I think this is a great idea, as the data page is pretty long.

`<off-topic-ish>`
Looking at #59, and #100, I think we're going to have a pretty big rethink coming soon in terms of how the site is structured, and what JS we want to add to pages. In context of both of these things, should we back up just a little bit and think about what our longer-term approach to client-side code should be. There

[2020-03-22 18:21] kevee opened #116 "Investigate site build tool"
As the very important work of #59 continues, along with PRs that include client-side code like #100, it's clear that we need a plan for the technical backend of the site. This is an issue to discuss options for either refactoring the existing Eleventy site, or move to another tool.

**Technical requirements**

- **Accessible** - People with a wide variety of technologies (mobile, slow connections)

[2020-03-22 18:36] goleary commented on #116
Gatsby seems to meet the requirements and from my perspective (working on #presentation / data viz) a lot of what I've done on my [personal dashboard](https://covid19-dash.netlify.com/) is done with React/Recharts so would be easy to port if we start working with Gatsby (React).

Having never worked with 11ty before I feel much less productive in the current code base especially while trying to ge

[2020-03-22 18:39] kissane commented on #116
FWIW as ad-hoc website product lead, my deal is I'm fine with anything that keeps us EXTREMELY FAST and VERY STABLE. React is fine for viz, if that is what Jeremia and Júlia (co-leading that effort) can use, please talk to them before you make tech calls, but I want to keep the bulk of the site as basic as possible, we are going to be working with slow connections and crappy old devices so anythin

[2020-03-22 18:41] olivierlacan commented on #116
And if you need React or any client-side framework, don't use it for the whole site unless you have to. Just use it for pages like visualizations where it's absolutely needed (if it is, not convinced).

[2020-03-22 18:53] kevee commented on #116
So in my experience, Gatsby addresses some of these issues because the React template actually renders on site build to flat HTML, so you don't actually need to use JS at all to view the pages.

That's not to say that we need to go to Gatsby. We can address some of the current problems by  some refactoring and adding on other build tools as well.

[2020-03-22 18:57] kissane commented on #116
I have had good experiences with Gatsby elsewhere, no bad feels there, and I do hear you (and @webmasterkai) about rendering out the React, I just have scars

[2020-03-22 18:59] webmasterkai commented on #25
@kevee has also suggested a project-wide contributing/code of conduct/governance document might be order.

[2020-03-22 19:01] kissane commented on #25
CORRECT please flag that to Amanda French and Marie Connolly

[2020-03-22 19:02] schwartzadev commented on #25
Agreed 100% -- at the very least, some details about how new contributors can get involved and some defined processes would be awesome. (Issue templates, committing to master, etc. etc.)

[2020-03-22 19:02] kissane commented on #25
We got an onboarding team that can do both

[2020-03-22 19:05] webmasterkai commented on #25
Perhaps we could start with https://www.contributor-covenant.org/version/2/0/code_of_conduct/ for code of conduct.

[2020-03-22 19:16] schwartzadev commented on #116
I would suggest adding support for markdown to the list of technical requirements -- I think its important that people without major technical experience can still easily contribute to the website.

Other than that, I think shifting away from 11ty would be nice but I'm flexible.

[2020-03-22 19:21] schwartzadev commented on #108
#114 partially addresses this -- `master` now has navigation

[2020-03-22 19:24] kevee commented on #116
Added!

[2020-03-22 21:54] kickingvegas opened #121 "UX Enhancement: Identify State history more clearly on states page"
Thanks much to all who are working on this project.

Link to "the recent data broken out by state" on <https://covidtracking.com/us-daily/> goes only to the most recent data per state. Would like to see historical data per state also tracked.

[2020-03-22 21:57] duncanhowes opened #122 "MA data parsing incorrectly"
Massachusetts testing data for the last two days is incorrectly attributed.

The current and correct total for 3/22 is 646 but is labeled as 3/21 in the table.
The correct data for 3/21 is 525 and labeled as 3/22.

None of the current screenshots include the current number (site usually updates around 4pm so 2pm screenshot is correctly from the previous day). Potentially when that is added it will

[2020-03-22 21:59] kickingvegas commented on #121
Doh. Didn't dig deeper by clicking on the name of the state for the historical data. Perhaps adding text link to more explicitly show history for each state on https://covidtracking.com/data/ ?

[2020-03-22 23:02] schwartzadev commented on #121
Looking for input -- (1) or (2) or another course?

![image](https://user-images.githubusercontent.com/18607205/77263769-a9d11900-6c5e-11ea-9c50-3690b8e67dad.png)

[2020-03-22 23:08] olivierlacan opened #123 "Horizontal scroll on US Daily for mobile viewports"
![CEF8B520-9AA2-4BB9-A236-A6206B1D7C1D](https://user-images.githubusercontent.com/65950/77263779-71860680-6c6f-11ea-99b4-dcd9c8d25dab.png)

The table seems to be overflowing in some way.

[2020-03-22 23:19] schwartzadev commented on #115
closed by #120

[2020-03-22 23:19] #115 closed

[2020-03-22 23:54] kickingvegas commented on #121
Thanks for responding! For me, either is fine, although prefer 1 to keep the page concise.

[2020-03-23 01:11] schwartzadev commented on #116
We should also likely develop a style guide (or at the very least, some standards) for contributors. The main things I am thinking of are:

* standard css sizes (should be scss variables) and when to use them (for font sizes, padding, margins, colors, etc.)
* general common practices
* how scss files are organized in the project

[2020-03-23 01:20] #121 closed

[2020-03-23 01:54] lucasgonze commented on #59
Completed. Next step is
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit

[2020-03-23 01:54] #59 closed

[2020-03-23 01:55] lucasgonze opened #125 "website restructure master tracking ticket"
This is to bootstrap and coordinate work towards a major rewrite of the site structure. I'll call this project website-restructure.

This is not only structure but also design. This rev will be the vehicle for the new design.

The requirements:
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit

[2020-03-23 02:20] schwartzadev commented on #125
Hey can you enable commenting on this document?

Thanks for sharing this here!

[2020-03-23 03:06] jdmaresco opened #127 "Sort shortcut state abbreviations alphabetically"
I think the abbreviations should be sorted alphabetically based on the abbreviation, not on the full state name. For a minute I thought Nevada was missing but then I realized NV was sorting before NH.

![DE93ECB8-BF50-4FE6-86C2-0E0C335BF1BF](https://user-images.githubusercontent.com/1327983/77276682-a1460600-6c91-11ea-8f0b-20a3aafbfec0.png)

[2020-03-23 03:52] schwartzadev commented on #127
Nice, that's a good call. The [current code](https://github.com/COVID19Tracking/website/blob/master/_src/_templates/states.njk#L63) iterates using:

[code]
...which seems to be sorted alpha by state name. (Not state abbreviation.)

I'm not sure if sorting by abbreviation is something that we could do in the template...if not, we could expose the list of abbreviations in `sheets.js` and then consum

[2020-03-23 03:55] lucasgonze commented on #125
This is an editable and commentable copy of the document:

https://docs.google.com/document/d/1Qamjso7vGSOFHHogQXu13QPwUnrvd_Tk-Du06EmZROE/edit?usp=sharing

[2020-03-23 03:59] lucasgonze commented on #125
It would be very productive to make markups, whether in the form of wireframes or HTML.

[2020-03-23 11:43] nickblink opened #131 "AK, DC, ID, MI, NY, NV have non-cumulative results"
For DC and NV, there is a day when positive tests decrease from the previous day. For the other four states, there are days when negative tests decrease.

Thanks for putting this together!

[2020-03-23 13:58] kevee commented on #116
Agreed, added "Easily documented" to the requirements.

[2020-03-23 15:54] olivierlacan opened #133 "State shortcuts show up on top of the UI in some narrow viewport sizes"
![image](https://user-images.githubusercontent.com/65950/77335773-fb2fe580-6cfc-11ea-98bd-abe373dca303.png)

This happens with `#main` width set to 1024 pixels which I believe is the same as the body width.

[2020-03-23 16:27] kevee commented on #133
Looks like #135 fixes this, please double check here and if it's good for you we can merge it:

https://deploy-preview-135--upbeat-lovelace-3e9fff.netlify.com/data/

[2020-03-23 16:30] olivierlacan commented on #133
@kevee Fixed by #135. Feel free to add a `Fixes #133` to the PR in there. I think that'll auto close this issue.

[2020-03-23 16:30] olivierlacan commented on #133
Oh duh you did, never mind.

[2020-03-23 16:30] #133 closed

[2020-03-23 17:01] hammer opened #137 "Incorporate county data into API and website?"
The crew at https://coronadatascraper.com/#features.json have got some very impressive county-level data that we've been tracking for a while. I think it may be time to bring into our API and display on state-level data pages, with a huge attribution and shout-out to them.

Anyone interested in picking this up? cc @webmasterkai for API, and @kevee for state data pages.

[2020-03-23 17:04] kevee commented on #123
Added a wrapper for large tables that just scrolls horizontally if it's too big for the page. Let me know if this works:

https://deploy-preview-138--upbeat-lovelace-3e9fff.netlify.com/us-daily/

[2020-03-23 17:14] jeremiak commented on #116
Just chiming in here, just the presentation work stream will be able to pretty easily adapt if y'all want to use something Gatsby and React.

In fact, lots of our current volunteers seem more experience with a React based visualization library called "Recharts". We're also totally OK with sticking with 11ty!

In short, both tools would be fine for us and we just ask for a few days heads up so that

[2020-03-23 17:38] #123 closed

[2020-03-23 17:55] schwartzadev commented on #105
I'm on this

[2020-03-23 18:24] #105 closed

[2020-03-23 18:37] hammer commented on #137
The other source for county data is the NYT: https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html#g-cases-by-county. We could just scrape this table and pull into a visualization on each state page. By my count they have 54 states and territories, which appears to be more complete than the CDS data.

[2020-03-23 18:41] kissane commented on #137
I would like us to not scrape the NYT please, but I would propose that we ask them if they'd like to share

[2020-03-23 18:42] kissane commented on #137
(We can't scrape newsroom work without permission, for legal/ethical reasons)

[2020-03-23 18:44] kissane commented on #125
Permissions updated on the main doc, let's kill that fork https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit

[2020-03-23 18:50] hammer commented on #137
Another data source is JHU https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv

[2020-03-23 18:51] hammer commented on #137
Perhaps our role could be to compare the data from these 3 sources?

[2020-03-23 19:06] kevee commented on #116
After this issue, along with internal discussion with the website team, we are going to implement new designs and mockups within a separate Gatsby branch. We'll then assess whether we have met all our user need and technical requirements before moving forward.

[2020-03-23 19:06] #116 closed

[2020-03-23 19:07] kissane commented on #137
Just an update where everyone can see it, for clarity:

We get a lot of our key data from newsrooms. If we cite them thoroughly, it is totally fine right now to grab a number here and there. Where we are working with larger datasets, like the LAT and potentially the NYT, we gotta be in touch with their teams to make sure it's all good on both sides. We have that connect in on both LAT and apparenl

[2020-03-23 19:11] kissane commented on #101
We are working on a full design/markup rescue mission, a lot of this is going to be open through this week so that we're able to do that work thoroughly instead of gopher-whacking things individually. The one piece we have to address in parallel to the overall design/CSS/markup overhaul is that we need to rework navigation items, but the other rough edges are going to stay rough for a bit.

[2020-03-23 19:58] kevee commented on #125
After discussion in #116 and in Slack, we decided to move ahead with using Gatsby for the website. I'm going to start a new `gatsby` branch that we can start that work from.

A working sample that just uses our existing design is up here for perf testing, it only has a homepage and the us-daily page:
https://distracted-darwin-ddf968.netlify.com/

[2020-03-23 19:59] jplecavalier opened #140 "Adding the data quality grade in `States info`"
I'm wondering if it would be possible for you to add a `quality` field in the States info API reflecting the data quality grade. You obviously have the information somewhere since you present it in the Most Recent Data tab.

Thanks!

[2020-03-23 20:12] hammer opened #141 "Include local news source on each state page"
We often check local news sources for the most recent data for each state. I think we should include a link to these sources for each state.

[2020-03-23 20:56] kevee commented on #141
Is there a separate sheet with this information?

[2020-03-23 21:03] hammer commented on #141
I put it into the states tab of our dev sheet for now

[2020-03-23 21:05] hammer commented on #137
One other source of county data: https://coronavirus.1point3acres.com/en

[2020-03-23 21:11] lucasgonze commented on #105
Verified. Looks good.

[2020-03-23 21:56] olivierlacan opened #144 "Fix missing icons for mobile"
![image](https://user-images.githubusercontent.com/65950/77367010-9fcb1b00-6d2f-11ea-8af6-5e31215cfedc.png)

I'd focus on the icons first, the rest we can probably tackle later.

Here they are: https://github.com/COVID19Tracking/website/blob/274b520564da7a171efafae59565cacaad96518e/_src/_templates/base.njk#L21-L24

[2020-03-23 22:23] AaronMullan opened #145 "Freeze column headers on spreadsheets"
The spreadsheets would be easier to read if the top row was frozen.

[2020-03-23 23:00] lucasgonze commented on #125
CTP Website Users/Goals

https://docs.google.com/document/d/1nMydLa_Ckj9MDyu6ooGRKeZx5OeAbI1q7lzDUKEr6rw/edit#heading=h.mrmpuq727hid

[2020-03-23 23:01] bhays commented on #144
Happy to fix other missing assets as well, although I'm not quite sure on how they'd work with the current build setup.

[2020-03-23 23:05] kevee commented on #125
Components that are either just plain needed, or defined in the doc. I'm going to boilerplate these out and hook up a storybook so we can monitor.

- [ ] Accessibility utilities
- [ ] Skip content (probably reach skipnav)
- [ ] Header
- [ ] Footer
- [ ] Help/small text
- [ ] Secondary navigation
- [ ] Buttons (big, small)
- [ ] Lead paragraph
- [ ] Data visualization links
- [ ] Lists (UL, OL, UL

[2020-03-23 23:05] lucasgonze opened #148 "Security alert on Acorn"
Github is detecting a moderate severity security alert on a package we use called Acorn. See https://github.com/COVID19Tracking/website/network/alerts

[2020-03-23 23:09] lucasgonze opened #149 "Lorem Ipsum"
This is a test.

[2020-03-23 23:09] #149 closed

[2020-03-23 23:10] lucasgonze commented on #148
![Screen Shot 2020-03-23 at 16 10 05](https://user-images.githubusercontent.com/111581/77371565-d3527900-6d20-11ea-9bd1-c6aad2afee2a.png)
![Screen Shot 2020-03-23 at 16 04 02](https://user-images.githubusercontent.com/111581/77371573-d8afc380-6d20-11ea-88a1-3ac170e75472.png)

[2020-03-23 23:18] lucasgonze opened #150 "Initialize new front end stack"
Get Gatsby and React going. Do first draft of all the components.

[2020-03-23 23:23] lucasgonze opened #151 "Home page (website restructure)"
Implement 1.0 Homepage

This one has subpieces (this is Erin I hijacked the issue):

- [x] Final homepage spec
- [ ] Final homepage comp
- [ ] Final homepage template
- [ ] Final homepage content

Requirements:
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit#bookmark=id.gdoqjntnfhdf

[2020-03-23 23:25] lucasgonze opened #152 ""Why It Matters" content (website restructure)"
Requirements:
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit#bookmark=id.z9jandyd809r

[2020-03-23 23:26] lucasgonze opened #153 "Implement "See the Data" page"
Requirements:
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit#bookmark=id.uu209f9dnxxk

[2020-03-24 00:28] olivierlacan opened #155 "Press logos cause wrapping on narrow viewports"
![image](https://user-images.githubusercontent.com/65950/77375759-d3fd0680-6d44-11ea-8734-76fafe96f1a3.png)

We need to properly set up their flexbox properties.

I think @schwartzadev is good at this stuff.

[2020-03-24 03:40] kevee commented on #150
I have a storybook up in a separate netlify instance (the deploy steps are different, so I'll work with Kai on that tomorrow). This way we can implement design on a component-based level.

https://5e798067e08bcc000acdf70b--goofy-tesla-43452a.netlify.com/__storybook/

I'll be working on getting together all the pages tomorrow and keep a list of what pages have no defined content yet.

[2020-03-24 04:04] hammer commented on #137
Looks like there’s already an API for the CSBS county-level data https://github.com/ExpDev07/coronavirus-tracker-api/blob/master/README.md

[2020-03-24 12:19] ghostiewm opened #158 "Here is a news source for montgomery county tx"
https://montgomerycountypolicereporter.com/19-cases-of-covid-19-now-in-montgomery-county/

[2020-03-24 13:35] swiperthefox opened #159 "Always show the state navigation list"
Thanks for creating this project.

Since the states data page is quite long, I think it's useful to have the state list fixed on the left side of the page. Here is a quick hack to show what I mean.

[code]

1. make the state-nav container fixed on the left side, and set a height for it by specifying the `bottom` property.
2. set overflow mode to auto for the ul list and specify its height.

[2020-03-24 15:06] lucasgonze opened #160 "/data/ user experience"
Thoughts from Dustin Preisler:

1. The jump to states on /data/ is cluttery and I am curious of it's real utility.  Do we have any tracking setup to understand what people use (haha, i know).  Anyway, just my 2 cents.

2. It would be great to see US Totals in the same font and position as states, on top of the main top block of data.  It seems inconsistent.

3. I would love to see the grade move u

[2020-03-24 15:52] #155 closed

[2020-03-24 15:56] schwartzadev commented on #158
Thanks! I'm passing this along to our data people.

We appreciate the help!

[2020-03-24 15:56] #158 closed

[2020-03-24 16:40] schwartzadev commented on #159
Interesting -- thank you for sharing :+1:

My initial reluctance to do this was that the nav bar took up ~15% of the screen real estate on mobile devices. What would this change look like on mobile? Could you please share some screenshots?

Thanks!

[2020-03-24 19:31] metasj commented on #137
Comparing the data from these 3 sources would be excellent

[2020-03-24 19:59] jdmaresco opened #165 "Screen capture isn't capturing full page"
Can we capture the full vertical height of the data pages? Seems we're cutting off the bottom of a lot of pages in our screen capture.

![image](https://user-images.githubusercontent.com/1327983/77471302-699da200-6de8-11ea-8ae1-c16326960c5c.png)

[2020-03-24 20:46] #148 closed

[2020-03-24 20:57] kevee commented on #127
Fixed per https://github.com/COVID19Tracking/website/commit/38b2838b58aab461fc196082618f437e153efc15

[2020-03-24 20:57] #127 closed

[2020-03-24 20:58] kevee commented on #108
Rolling into requirements doc and closing

[2020-03-24 20:58] #108 closed

[2020-03-24 21:20] #144 closed

[2020-03-24 23:02] theojulienne commented on #91
https://covid.graphics/country/usa.html (and sub-state pages) are now pulling the wonderful (:heart: :heart: thank you!) data provided from the API here for US states over the top of JHU CSSE data for the rest of the world.

[2020-03-24 23:17] llaflair commented on #137
Agreed! The sources above provide cross-sectional data by county. Where can one find regularly updated time-series (January-present) county-level data on COVID cases and deaths? Thanks!

[2020-03-24 23:20] lucasgonze commented on #150
(Moving this from the master tracking ticket #125) Components that are either just plain needed, or defined in the doc. I'm going to boilerplate these out and hook up a storybook so we can monitor.

- [ ] Accessibility utilities
- [x] Skip content (probably reach skipnav)
- [ ] Header
- [ ] Footer
- [ ] Help/small text
- [ ] Secondary navigation
- [x] Buttons (big, small)
- [x] Lead paragraph
- [

[2020-03-24 23:28] lucasgonze commented on #125
Moved "components" checklist to dedicated ticket, https://github.com/COVID19Tracking/website/issues/150

[2020-03-24 23:33] lucasgonze opened #171 "Final design for restructure"
Real Actual design

[2020-03-25 00:11] lucasgonze opened #172 "Implement "Data Visualizations" page (website restructure)"
Requirements:
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit#bookmark=id.855uixcuskiw

[2020-03-25 00:12] lucasgonze opened #173 "Implement "About the Data" page (website restructure)"
Requirements:
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit#heading=h.1fx21r9fn86y

[2020-03-25 00:14] lucasgonze opened #174 "Implement "About the Project" page"
Requirements:
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit#bookmark=id.6yh48hc52pbr

[2020-03-25 00:15] lucasgonze opened #175 "Implement "How You Can Help" page"
Requirements:
https://docs.google.com/document/d/1NPypuNap-yFaOpzd2SKkXbI9GnkzI5QOsozLACSBuww/edit#bookmark=id.gnacjhegog3a

[2020-03-25 00:21] lucasgonze commented on #153
Thoughts from Dustin Preisler on the V1 of this page:

1. The jump to states on /data/ is cluttery and I am curious of it's real utility.  Do we have any tracking setup to understand what people use (haha, i know).  Anyway, just my 2 cents.

2. It would be great to see US Totals in the same font and position as states, on top of the main top block of data.  It seems inconsistent.

3. I would love

[2020-03-25 00:21] lucasgonze commented on #160
Moved this into #153

[2020-03-25 00:21] #160 closed

[2020-03-25 00:28] lucasgonze commented on #150
#145 is an ask for the Table component.

[2020-03-25 00:29] lucasgonze commented on #125
Given that I have created a milestone and project, this tracking ticket has no purpose.

[2020-03-25 00:29] #125 closed

[2020-03-25 01:19] #98 closed

[2020-03-25 01:24] schwartzadev commented on #150
So was #108 , for sort/filter

[2020-03-25 02:30] #101 closed

[2020-03-25 03:02] Greg-Boggs opened #177 "Recovery count"
Is there a feasible way to add recovery count to the API? I've gotten a couple of requests for it now.

[2020-03-25 03:44] kissane commented on #175
Made it, it's tiny and not linked up anywhere yet https://covidtracking.com/how-you-can-help/

[2020-03-25 03:44] #175 closed

[2020-03-25 04:11] kissane opened #178 "Update best practices doc"
We should update this to include our current requests on outcomes. @careeningspace LMK if you're up for taking a crack at it? (If so just make a copy, the public one is locked down.)

https://docs.google.com/document/d/1OyN6_1UeDePwPwKi6UKZB8GwNC7-kSf1-BO2af8kqVA/edit

[2020-03-25 04:12] careeningspace commented on #178
I will give it a try in the morning

[2020-03-25 04:25] kissane commented on #178
It looks like Alexis is working on it! Now I will coax him into a Github account so he can close his first issue.

[2020-03-25 06:39] mortenbache opened #180 "Recovered/discharged patients"
Thank you for this brilliant data set.
Form Italian data sets I find it extremely useful to track recovered/discharged patients from hospitals, so you can get an overview of the *current* load on the hospitals. Otherwise you just sum up. I know it is not so useful now because no one is being discharged yet, but it will be.
Another useful stat is "intensive therapy" cases.
I have made some excel da

[2020-03-25 12:19] kevee commented on #25
Let's split this up a bit, Code of Conduct and broad contributing/onboarding should be covered under the entire project, but let's focus this issue on just the nuts-and-bolts of how to contribute to the website repo.

I've taken a [first crack at it here](https://docs.google.com/document/d/1pLlbYYX6c1gmfedQ9Q9VkQ3FPAYuTRz1veQ1iAPMdDA/edit?usp=sharing), largely rewritten from a few other open-sourc

[2020-03-25 12:23] kevee commented on #177
Adding comment from duplicate issue #180 filed by @mortenbache:
Thank you for this brilliant data set.
Form Italian data sets I find it extremely useful to track recovered/discharged patients from hospitals, so you can get an overview of the current load on the hospitals. Otherwise you just sum up. I know it is not so useful now because no one is being discharged yet, but it will be.
Another usefu

[2020-03-25 12:24] kevee commented on #180
Hi, @mortenbache! I love this idea, not sure where our data team is on it. There's already an issue open with this request, #177, so I added your comment to it and will close this one.

[2020-03-25 12:24] #180 closed

[2020-03-25 12:43] kevee commented on #25
🎯[Some inspiration](https://github.com/nayafia/contributing-template/blob/master/CONTRIBUTING-template.md)

[2020-03-25 13:57] swiperthefox commented on #159
Thanks for your response.

I forgot about the mobile devices. Just checked the site on my phone, and
there is no space for the navigation bar for sure.

During that test, I found the "back to top" link, so it only takes two
clicks to switch to another state, it's good enough I think.

I think the state list of the mobile version (the grid) is easier to use
than that of desktop version (the list).

[2020-03-25 14:02] swiperthefox commented on #159
I sent my last post from email, not sure if the gif is attached. [Here](https://drive.google.com/file/d/1WV1_OwNBgQUDWSRAxodwXuP74iDiGfAu/view?usp=sharing) is the image on google drive.

[2020-03-25 14:14] breyed opened #182 "Show daily, rather than cumulative, figures on history pages"
How many cases we have now matters much more for decision-making than how many we've ever had.

For example, an increase in daily positive results relative to daily total results is generally indicative of the disease spreading, and likewise a decrease indicative of receding. With all-time cumulative numbers, that kind of analysis doesn't hold.

The cumulative is useful for a retrospective. At som

[2020-03-25 15:32] kevee opened #183 "fix: Clarify test columns"
Rename the "Totals" columns in US and state tables to "Total test results" and make sure it's clear that it is Positive + Negative

[2020-03-25 16:24] kevee commented on #182
Hi, @breyed, I think this is a great point, and should be bubbled up to the larger issues queue so that it can be discussed by the data folks.

[2020-03-25 16:31] kevee commented on #25
I opened a [code of conduct issue](https://github.com/COVID19Tracking/issues/issues/52) in the larger "issues" repo.

[2020-03-25 16:55] artyomtrityak commented on #172
Anyone is working on data visualizations? I want to help and build some using d3.js

[2020-03-25 19:22] hammer opened #185 "Clarify number of states and territories reporting each figure"
On our [US historical data](https://covidtracking.com/us-daily/) page we have a column "States & Territories" that reports the number of states and territories from which we collected data on each day. Unfortunately "Hospitalized" counts are not reported by all 56 states and territories. Perhaps we could refactor this display so that, for each figure, we could report the number of states and terri

[2020-03-25 19:23] hammer commented on #185
cc @jdmaresco who is thinking through how we will count and display our new outcomes data.

[2020-03-25 19:51] jjshoe opened #186 "Feature Request: Time Series"
Johns Hopkins has completely fudged their time series, any chance you could host it via api?

I know I could write something to query day by day, and do the work from there, but it would be great if there was a CSV all set to go.

[2020-03-25 20:16] mattbk commented on #137
Some of the county data is on the screenshots included already: https://covidtracking.com/data/

[2020-03-25 22:20] #183 closed

[2020-03-26 00:42] micahcc opened #192 "California issue"
California seems to have an artifact where the data from the previous day shows up in the afternoon (as today), then it gets updated later at night. Probably an artifact of the scraping? So right now there is:

[code]
It seems like this row should be left out because it clearly hasn't been filled in yet.

[2020-03-26 00:43] kevee commented on #192
Hi, @micahcc, I'm moving this over to the API folks.

[2020-03-26 00:56] swiperthefox commented on #159
I gave it a try and created pull request #193, which implements the hoverable dropdown menu. So I am going to close this issue.

Thanks.

[2020-03-26 00:56] #159 closed

[2020-03-26 03:17] jonah commented on #172
I'm building some visualizations on my own, pulling data from the api.  I'm a php developer so I'm not going to burden this project with my limited node.js skills:)  Not sure if its helpful to this project, but maybe food for thought:

https://corona.worldinfoshare.com

I'm using google charts.  My interest is in showing trends and rates, and eventually adding in confirmed cases per capita, cases

[2020-03-26 04:08] webmasterkai opened #398 "API: Add geo and population stats"
I need a source of the information. Is that something we are maintaining a copy of or are we locating an official source that can be directly pulled from?

[2020-03-26 04:10] watplatt commented on #177
If you want to do modeling, in order to extract active infections, you have to subtract recovered+deceased from the cumulative positives.  Without recovered counts, this data isn't very useful for modeling (e.g. SEIR).

[2020-03-26 04:13] Greg-Boggs commented on #177
Hospital load would be really nice to see as well which could be easily calculated once we have recovered data!

I got tired of squinting my eyes at Json, so I put this together for myself:

https://corona.gregboggs.com/

[2020-03-26 04:28] watplatt commented on #177
I agree, Gregg-Boggs...  Hospitalizations w/ time would be really great!  Given that, compartmental models including hospitalizatons could break out rates of conversion to severe cases, rates of recovery for severe cases, etc.  Also on my wish list would be a bit on age structure (known risk group counts).  Knowing a hint of what state offices are like (NY is behind on reporting 'flu numbers longe

[2020-03-26 04:51] hammer commented on #137
We've determined this issue to be out of scope for our project.

[2020-03-26 04:51] #137 closed

[2020-03-26 07:08] Greg-Boggs opened #196 "Oregon Data is sometimes incorrect because of timing"
It's happened a couple of times where the API fetches Oregon Data just before the Oregon Health department updates the numbers. So, the API shows the same data for two days in a row. Can we adjust the timing on the Oregon data scrape so that it's a bit later in the day?

[2020-03-26 13:34] jjshoe opened #197 "Feature Request: Fips codes"
Adding fips codes to the data sets greatly speeds the ability for folks to graph data.

[2020-03-26 13:36] jjshoe commented on #197
I missunderstood the api, I see this exists.

[2020-03-26 13:36] #197 closed

[2020-03-26 16:17] beep opened #200 "Question: can we revert to tables?"
I noticed that we’re using `div`-based markup for most of our `table`s. (I think the change landed in #106.) I’d like to ask if we could revisit that decision, as table-based markup provides a _lot_ of [navigational](https://a11yproject.com/posts/accessible-data-tables/) [affordances](http://www.tsbvi.edu/web/tables/2-tables-jaws.html) to screen readers—announcing when a table has focus, how much

[2020-03-26 16:53] schwartzadev commented on #200
**Support**: That was my doing and in hindsight, it probably wasn't the best call. As one of the people implementing the designs tor V2, I can look more into this. I'm sure that we can implement breakpoints while using `table`.

This certainly seems worthwhile even if it is a difficult modification.

Thanks for bringing this up!

[2020-03-26 17:01] schwartzadev commented on #177
This is in the works..stay tuned :+1:

[2020-03-26 17:18] beep commented on #200
@schwartzadev Thanks Andrew! Just for the record, I think you did a _stellar_ job with that flex-driven layout. But if there’s anything I can do to help figure out an approach for v2, do let me know; if I can help, I’d love to!

[2020-03-26 18:20] gwynnebaer commented on #196
Alternative, make a request more than once in 24 hours? Is there harm in making a request 12 hours out of phase? Oregon has not consistently updated their data (at the same time of day). For that, what is the harm in making regular (4-6 hour) requests?

[2020-03-26 18:39] writenorman commented on #172
Same here.. hoping to contribute to data visualization, have experience with Javascript node.js and jQuery.  Mocked up a static prototype in excel to compare US state by state.  Would be nice to make it interactive and polling live data.
![image](https://user-images.githubusercontent.com/58993339/77683797-55d07800-6f6f-11ea-9c70-7d6174d69567.png)

[2020-03-26 18:42] rmontroy opened #202 "Michigan data quality grade needs updated"
MDHHS is reporting negative test numbers again as of today.

[2020-03-26 20:17] julialedur opened #206 "Add logos to press section"
- Add logos for the following outlets to the website's "In the press" section: The New Yorker, Slate, NPR, MarketWatch, Ars Technica, CityLab, Yahoo, Business Insider, Gizmodo, ZD Net, CBS, The Wall Street Journal.

- Add links that are not on the page yet (the blue rows in this spreadsheet).

- Make NYT logo a big bigger. It feels very small right now and it's one of the most prestigious places w

[2020-03-26 20:34] Emtech2 opened #207 "California data not updated"
California seems to have changed their way of reporting from being a total to being in press releases. The problem is the tracker doesn't update with the numbers in these releases.

[2020-03-26 21:46] olivierlacan opened #208 "State tables overflowing on mobile"
![BE6E914E-BA22-4B1F-80CE-24E7D41135B8](https://user-images.githubusercontent.com/65950/77699930-a523a200-6f89-11ea-9e76-2544115a27a7.png)

[2020-03-26 21:48] kevee commented on #202
Hi, @rmontroy, I'm reassigning this to the general issues queue so that the data team sees it.

[2020-03-26 21:49] kevee commented on #196
Reassigning to the API team.

[2020-03-26 21:50] kevee commented on #207
Hi, @Emtech2, thanks for letting us know! I'm assigning this issue to the correct repository so the data team sees it.

[2020-03-26 22:02] kevee commented on #185
This gets to a bigger question: we really need hard relationships between states, their daily reporting numbers, and the US reporting numbers. Like a snapshot of every date's status per day, including info on what numbers they are reporting.

For example, let's say California changes from press releases to a website for reporting. That should be updated in the notes for the state, but the historic

[2020-03-26 22:15] kevee commented on #206
Hi, @julialedur! I don't see the spreadsheet link here - can you add it? Thanks!

[2020-03-26 22:18] kevee opened #209 "Status page"
We have several services, from the website to the API to data that we should be tracking and notifying the status of for both operations as well as transparency.

We could make this as a quick github-pages hosted site (status sites should never be on the website), or use something like statuspage.io. Like what [Netlify does](https://www.netlifystatus.com/)

Requirements:

- Track website uptime (i

[2020-03-26 22:56] julialedur commented on #206
Oops, my bad, forgot to link! https://docs.google.com/spreadsheets/d/1-lvGZ3NgVlda4EcF5t_AVFLnBqz-TOl4YZxYH_mJF_4/edit#gid=0

[2020-03-27 00:07] schwartzadev commented on #206
Here's a list. I linked svg logos as available on Wikimedia Commons.
- [ ] [The New Yorker](https://commons.wikimedia.org/wiki/File:The_New_Yorker_Logo.svg)
- [ ] Slate - no svg logo on Wikimedia
- [ ] [NPR](https://commons.wikimedia.org/wiki/File:National_Public_Radio_logo.svg) - styled in black and white [like this](https://media.npr.org/assets/img/2016/11/17/nprlogo_blackoutline_custom-78c536fb

[2020-03-27 00:56] julialedur commented on #206
thanks! i can review these! not sure about the links though, can you ask on #website?

[2020-03-27 01:03] julialedur commented on #206
- for CBS, let's use CSB News cause that's the one on the website
- for the colorful ones, let's make the colored parts black (let me know if you need help with that!)
- for the ones you couldn't find on wikimedia commons, we can get from the outlet's website or the internet. def not ideal but it's okay

[2020-03-27 03:17] schwartzadev commented on #206
Agreed 100% -- I'll work on making the logos black and white now.

Ideally we can find SVGs for the missing ones :crossed_fingers:

[2020-03-27 14:24] brambow opened #383 "GraphQL endpoint includes null values for many properties"
Hi,

Some of the data fields in the graphql endpoint seem to be returning nulls, but the REST endpoints are returning values

GRAPHQL
![image](https://user-images.githubusercontent.com/6227786/77765659-f3ca4e00-7014-11ea-9ecd-8d69c4b88a11.png)

REST
![image](https://user-images.githubusercontent.com/6227786/77765794-28d6a080-7015-11ea-8b99-23c9ba3f2d8d.png)

[2020-03-27 15:49] #25 closed

[2020-03-27 16:19] julialedur commented on #206
I'm uploading all the logos to [this folder ](https://drive.google.com/drive/folders/1rL46Rw9JXsn6YbkmzMnx7PHNlLtnxCcp?usp=sharing).
Couldn't find Yahoo news! logo.

We still need to add a few more:

- [ ] FiveThirtyEight
- [ ] LA Times
- [ ] ProPublica
- [ ] San Francisco Chronicle
- [ ] CNN
- [ ] Columbia Journalism Review

I also updated the spreadsheet with the links and some information. It'd

[2020-03-27 16:40] olivierlacan opened #220 "Broken Markdown on Press section in Homepage"
![image](https://user-images.githubusercontent.com/65950/77778909-20d42c00-7028-11ea-9e47-5d3e5ebce372.png)

[2020-03-27 17:50] webmasterkai commented on #220
The `title` field was missing in this particular instance.

The [sheet](https://docs.google.com/spreadsheets/d/1-lvGZ3NgVlda4EcF5t_AVFLnBqz-TOl4YZxYH_mJF_4/edit?usp=sharing) was locked down so only Erin and Jeremia can mark items for publishing on the site.

I added https://github.com/COVID19Tracking/website/commit/c3652fc4c3f86765b59e7ca64079f2f75d427982 to filter out items without title. That tr

[2020-03-27 17:50] #220 closed

[2020-03-27 23:19] richcorbs opened #223 "CORS disabled on states end point"
The `Access-Control-Allow-Origin` header isn't being sent from the `/api/states` end point.

The `/api/us` endpoint still works fine.

[2020-03-28 16:42] roy7 commented on #172
@writenorman If you make that chart in Google Charts, it can pull data directly from the Google Sheet so it'll update live.

I'd like suggest someone add state population to the sheet someplace, to make per capita graphing easier.

[2020-03-29 16:21] nowherenearithaca opened #233 "How do I submit changes during the day?"
Hey I'm watching Arkansas and Tennessee kinda carefully.  How do I submit changes during the day?

[2020-03-29 19:36] hal2814 commented on #208
<img width="317" alt="Screen Shot 2020-03-29 at 12 31 33 PM" src="https://user-images.githubusercontent.com/30516063/77858668-a804d980-71b9-11ea-89b4-7188872763b7.png">

This appears to have been fixed/changed in the current build from the screenshots I see in this issue. Should this issue be closed?

[2020-03-29 19:45] matisse opened #235 "What would it take to integrate the New York Times county-level data?"
The New York Times is compiling county-level COVID-19 data:

 https://www.nytimes.com/article/coronavirus-county-data-us.html

 You can clone the data repository from here on Github:

 https://github.com/nytimes/covid-19-data

What would it take to integrate this?

[2020-03-29 21:17] kissane opened #236 "Adding a simple blog"
I know it's a bit late to slap more things into the V2 site, but it would be lovely to get a blog in so that Alexis doesn't have to tweet 500 times each day. Should be old-school reverse-chron, and it would be nice if we could preview the most recent post from the new homepage, which, of course, is still a bit TKTKTK. (I will try to settle it this afternoon.)

Link in the footer nav is plenty of v

[2020-03-29 21:23] kevee commented on #236
This should be pretty simple, especially as we move to Gatsby. Some thoughts:

We *can* use Netlify CMS for this, but handling images will cause more technical debt on our side.
We can also use a hosted headless CMS, like Contentful, etc. This does add yet-another-external-service, but it allows us to offload a lot of work.

[2020-03-29 22:34] zachlankton opened #238 "Michigan Screenshots Wrong"
Michigan screen shots and link to best data source are out of date.

[2020-03-29 23:17] kissane commented on #206
Leaving this up until we have it implemented in V2

[2020-03-29 23:25] #174 closed

[2020-03-29 23:25] #173 closed

[2020-03-29 23:26] kissane commented on #172
Hi everyone! We have a massive data visualization site section coming out within a day or two, and then it will be much clearer how to contribute there! Thanks for being here—we're spinning this piece up ASAP.

[2020-03-29 23:29] #171 closed

[2020-03-29 23:30] kissane commented on #153
This is all underway and fixed in the new designs, closing this for decluttering.

[2020-03-29 23:30] #153 closed

[2020-03-29 23:33] kissane commented on #83
Where did this lovely idea end up?

[2020-03-29 23:39] kissane opened #239 "Finalize page-body markup/styles"
One of the last TBD pieces, I think.

[2020-03-29 23:41] kissane opened #240 "Finalize the way we handle fonts"
@schwartzadev mentioned this in discussion with @kevee in Slack—I promise @beep and JSM are going to have Thoughts and Feelings on this. Let's get this nailed down once we're in the swing of things on Monday.

[2020-03-29 23:43] kissane opened #241 "Test Netlify CMS in new stack"

[2020-03-29 23:45] kissane opened #242 "New state grades"
Got to get the new ones that incorporate the outcomes data finished from Alexis and up on the new site

[2020-03-29 23:46] kissane opened #243 "Get a friendly branch off the data dashboard visualization PR going"

[2020-03-29 23:49] kissane opened #244 "Launch plan for website v2"
What day/time are we imagining going live? What are the steps and pieces? Who needs to be on deck to get it done and help catch problems?

[2020-03-29 23:49] kissane opened #245 "OVERALL v2 LIST"
I…don't know how to use Github's weird project management features, so I'm going to do this old-school. Everything outstanding on the v2 site refresh should get an issue that gets tracked in here.

- [x] Launch plan—we need one, incl staffing #244

**Main design/dev pieces:**
- [x] Handle the homepage #151 (in [process](https://github.com/COVID19Tracking/website/pull/251))
- [x] Update the footer

[2020-03-30 00:10] schwartzadev commented on #239
I'm game to implement this on the JS/SCSS side of things -- I'll just need some direction/consensus from the design folks -- @beep @tealtan @ JSM

[2020-03-30 00:11] schwartzadev commented on #242
I'm game to tackle this on the implementation side. I'll need to touch base with Alexis about the latest updates to the grading system

[2020-03-30 00:14] jasonsantamaria commented on #240
I think I missed the convo in Slack, but am happy to help with thoughts if I can!

[2020-03-30 00:18] schwartzadev commented on #141
I don't think this is in the production spreadsheet yet. Is this data accessible via the API at the moment? @webmasterkai

[2020-03-30 00:23] schwartzadev commented on #242
Can we group this in with the state notes, external links, etc.?

Do we have a finalized design for the `states` page and/or the individual `state` pages for presenting that data? I know there were some slack discussions about dropdowns, but I'm not sure where that ended up. @beep @tealtan @ JSM

[2020-03-30 03:40] kissane commented on #242
@schwartzadev I believe we do have it for `/data/` but not sure about the individual states. Pretty sure @beep will know.

[2020-03-30 04:20] kissane commented on #151
Updated the page outlines doc with a real HP spec, which I copy here for discussion and visibility:

- **Big tagline:**

- **Get the Data/Learn About the Data** (as comped)
- **Two previews of dataviz** from the Visualizations section
- **Press logos**
- **Why This Data Matters**

- **Press links**, maybe like six?
- **Look up your state’s data report card** and **find out how to help**

[2020-03-30 12:07] kevee commented on #241
@kissane  - I sent you an invite to a separate Netlify login for testing the Netlify CMS. Any changes you make there will [go to this repo ](https://github.com/kevee/Covid19Tracking-website/tree/gatsbyjs)(and not go live anywhere).

The only change is because the CMS doesn't support folders, you will see four sections:

- **Pages** - top-level pages
- **About the data** - Pages under `/about`
- **

[2020-03-30 12:18] kevee commented on #244
Overall steps:

1. In Netlify, add a branch deploy for `gatsbyjs`
2. Test Netlify CMS in our main repo (the config at `static/admin/config.yml` is pointing at the `gatsbyjs` branch for testing)
3. Change the Netlify CMS config to point to `master`
4. Merge `gatsbyjs` into `master`
5. Change the Netlify build command to `npm run build` (although it's ignored because of a `netlify.toml` file)

[2020-03-30 12:40] kevee opened #250 "fix(gatsby-header): wrapping"
See third check here: https://github.com/COVID19Tracking/website/pull/228#issuecomment-605552972

[2020-03-30 14:04] nealmcb commented on #91
Note the excellent visualization project now at https://github.com/COVID19Tracking/covid-tracking-dash

I'd love to see it provide derivatives: daily increments for each parameter, especially for the hospitalization data, as noted at [How to fight the coronavirus SARS-CoV-2 and its disease, COVID-19 Michael Lin, PhD-MD](https://drive.google.com/file/d/1ZaiDO87me4puBte-8VytcSRtpQ3PVpkK/view)

[2020-03-30 14:27] beep opened #253 "Update Twitter/social card to match new design"
Per [@hammer’s comment in Slack](https://5e81ee0f8daa4900083bc27f--goofy-tesla-43452a.netlify.com/), we should update the opengraph preview card to match the new design.

(Ping #245)

[2020-03-30 14:28] kevee commented on #253
How about just use the logo?

[2020-03-30 14:35] jasonsantamaria commented on #240
Some areas that need typographic attention:

- [ ] `or` between the hero button and "Learn About the Data" link should be the same size as the button label and text (currently looks larger)
- [ ] Nav text should align vertically to (roughly) the middle of the logo
- [ ] Hero button bg should be `#8CC7F4` and label text should be `#012656`
- [ ] Text link color should be `#575AAD` and I suggest `#8

[2020-03-30 15:41] beep commented on #208
_(Cross-posting from Slack.)_

I did a quick riff on this using [tablesaw](https://github.com/filamentgroup/tablesaw/), a `responsive tables` library from Filament Group that I’ve used in the past.

https://codepen.io/beep/pen/57ec7b1b9c4895edad60f0bd768cb574

To get this to work, I had to tweak the table structure a little:

1. I had to ditch the empty cells in the first header row, move the date

[2020-03-30 16:06] tealtan opened #254 "Adjust nav design"
This is visual feedback for the amazing nav work coming together for v2!

For Now
----

**Top nav**
- [x] Logo should be 176px wide (that should math out to 50px high)
- [x] The nav items should be vertically centered with the logo, and horizontal spacing should be 30px. I’m not a fan of using vw for the padding since that will vary so much – open to discussion here but since we’re using rem units

[2020-03-30 16:12] kevee commented on #236
I'm moving forward with Contentful, @kissane you should have an invite to a Contentful space. Here's a preview of the site with the two sample blog posts currently in that space:

https://5e82184b7278cc0008e120e1--goofy-tesla-43452a.netlify.com/blog/

[2020-03-30 17:04] kevee commented on #240
I'm putting those changes to the homepage into PR #251

[2020-03-30 17:11] kevee commented on #240
@jasonsantamaria - Implemented those changes. We don't have `#012656` in our [color pallet ](https://goofy-tesla-43452a.netlify.com/__storybook/?path=/story/colors--main-colors) right now, so I used our darkest "main" color.

[2020-03-30 17:11] kevee commented on #240
And the nav alignment is being covered in #254

[2020-03-30 17:11] pspeter3 commented on #245
I've been really impressed by what COVID Tracking is doing and would love to help. Any issues you would like to assign?

[2020-03-30 17:27] jasonsantamaria opened #256 "Color palette updates"
This is a work in progress that may need to keep evolving as we see it in use, but for the moment this is the latest and greatest.

_All color ranges listed from darkest to lightest_

**Base palette**

[code]

**Messages**

[code]

![Color palette](https://user-images.githubusercontent.com/128280/77942741-11ecb400-728a-11ea-878a-a271ff1dff05.png)

[2020-03-30 17:28] jasonsantamaria commented on #240
@kevee Apologies! I think we specced out a palette but it may not have gotten into development. I've documented it over here #256

[2020-03-30 17:56] kevee commented on #256
Looks like Blueberry's `#8CC7F4` is duped...

[2020-03-30 18:15] jasonsantamaria commented on #256
Fixed!

[2020-03-30 18:21] kevee commented on #250
Closing, covered in #254

[2020-03-30 18:21] #250 closed

[2020-03-30 18:23] kissane commented on #244
Thank you! Here are more questions: Who do we need in the room while this happens? @kevee, @webmasterkai, @beep, @schwartzadev, me?

What is the lowest-traffic time of day we can all be here? I can be here anytime in any US time zone.

[2020-03-30 18:25] kissane commented on #245
YES, Slack invitation incoming.

[2020-03-30 18:27] kissane commented on #245
Or actually, @pspeter3, could you send me your best email? erin@incisive.nu is me, I'll get you into the project's website design/dev Slack channels.

[2020-03-30 18:28] beep commented on #244
I’m very down to help with launch. (I can’t run gatsby locally yet, but I can provide design/UI spot-checkin’ assistance.)

I have a call scheduled from 2–3pm ET tomorrow, but I can move it if that’s the most convenient time for launch. Otherwise, I can make myself available whenever!

[2020-03-30 18:29] schwartzadev commented on #244
I am _not_ the devops person on this project (:point_right: @kevee , @webmasterkai ) -- I can sit out that side of things for sure.

That being said, if y'all want me around, I would love to be, I just don't think I would be a major value-added on the implementation side.

Once we choose a time, we should probably put something up on Twitter, and maybe a banner on the site. Food for thought.

[2020-03-30 19:01] kissane commented on #244
I mean, I used to always launch at like 3am ET because I ALWAYS fucked it up, but I approve of trying not to fuck it up instead. Do we want to tentatively open a launch window of tomorrow (Tuesday) after the big 4pm (ET) data drop? We'd been talking about "morning" but with the dashboard work to do, I think we'll need the extra hours.

[2020-03-30 19:06] webmasterkai commented on #236
I might be a little late, but why are we adding yet another content stream? What image handling do we need that Netlify can't handle?

[2020-03-30 19:15] beep commented on #244
@kissane 4pm ET (or thereafter) works for me!

[2020-03-30 20:58] jasonsantamaria commented on #253
Yep, I think the logo (maybe on the hero purple with pattern) with the site's hero text either in the image and/or as the site description?

[2020-03-30 20:58] pspeter3 commented on #245
Thanks, sent you an email. Looking forward to helping!

[2020-03-30 21:01] kissane commented on #244
Noting that the above plans are being reformed in the Slack

[2020-03-30 21:11] beep opened #259 "Update footer to match design"
Figured this is on folks’ radar, but just to log it for launch: the footer currently on the dev site is showing my original design for the footer. We should make sure it matches the current spec/layout before launch!

<img width="1440" alt="new footer design for the covid tracking project" src="https://user-images.githubusercontent.com/124493/77962344-6ce1d380-72a9-11ea-846c-21bcefa36ed7.png" />

[2020-03-30 22:17] kevee commented on #259
Some of this is covered in #254

[2020-03-30 22:37] olivierlacan commented on #83
@kissane Forgotten a bit by this grueling past week and the churn I worried about on the website front. I'm sort of waiting for the Gatsby stuff to get merged in before attempting to do this since the implementation I had started was heavily dependent on the Markdown parser used by 11ty and its configuration.

[2020-03-30 23:09] kissane commented on #244
OK, we're looking at a planned launch for V2 at 12pm ET Tuesday, with @kevee @beep @webmasterkai and me running the various parts of the launch list. That means 10am ET is our go/no-go time—if we have only tiny tiny things left open at 10am, we can move into a final check at 11am ET. If we got things open at 11am ET, we reschedule for evening or (more likely) Wednesday morning.

[2020-03-30 23:26] preislerd opened #260 "Add state population data to the website"
As a consumer of the website, when I see the test and outcome numbers, I always ask myself, what is the population we are talking about.  It would be great to have a population number next to the state names, or below the state boxes.  And the same for US total.  Ideally it would be a trusted static data source that provides context for the testing data (like Census data).

I've asked @metasj to l

[2020-03-31 00:08] metasj commented on #260
I added mid-2019 census population counts to the States [worksheet](https://docs.google.com/spreadsheets/d/1MvvbHfnjF67GnYUDJJiNYUmGco5KQ9PW0ZRnEP9ndlU/edit#gid=1208387230); we should be able to easily draw from that into the site.  I'll post the source file to associated-data for safekeeping.

[2020-03-31 00:30] metasj opened #261 "Update license page"
We should have a license page that notes:
* Code license (Apache where not otherwise stated?)
* Data license (CC-0)
* Text/media license (CC-BY?)

[2020-03-31 03:01] #253 closed

[2020-03-31 03:05] kevee commented on #240
New fonts provided by Allen and colors by @jasonsantamaria are merged in gatsbyjs.

[2020-03-31 03:05] #240 closed

[2020-03-31 03:11] #259 closed

[2020-03-31 03:43] webmasterkai opened #266 "API: Migrate API as a build step before site compiles"
I think the first Netlify function is probably a web-hook endpoint that fetches the current data for us and states from the sheets and saves it to the repo after some slight processing.

After that we'll add a build step to the website that takes that file and splits it out into a bunch of other files to serve as the basis of the API.

Possible structure:

- /data/current/us.json (replaces /api/us

[2020-03-31 03:51] schwartzadev commented on #200
Implemented in #221

[2020-03-31 03:51] #200 closed

[2020-03-31 03:53] schwartzadev commented on #177
#221 adds hospitalization numbers. I think we'll add new numbers to the website as we collect them and make them public on the spreadsheet.

[2020-03-31 03:53] #177 closed

[2020-03-31 03:54] schwartzadev commented on #254
Closed with #257

[2020-03-31 04:23] kissane commented on #152
Drafted, posted, needs careful review from Alexis before we link to it.

[2020-03-31 05:08] MrSteve2 commented on #91
@nealmcb  are you looking for something like they talk about on slides 14/15 "Estimated 5% of total infected (not diagnosed cases) require hospitalization"  Ie Chart positives / hospitalizations?
Like this for NY
![visualization-1](https://user-images.githubusercontent.com/4956801/77989060-d84c9500-72eb-11ea-92c7-726e1dbfec3b.png)

I can quickly create Vega/Vegalite versions that could be auto-gen

[2020-03-31 05:12] #254 closed

[2020-03-31 05:13] schwartzadev opened #269 "Adjust nav design (post-v2 rollout)"
This comes from @tealtan 's work -- see #254

----

**Top nav**
- [x] Ideally, the collapsed nav should say "Close" when open – not a big deal if we do this later - done in #274
- [ ] Also ideally, the collapsed nav appears as an overlay (white links on black bg) – let’s tackle this later
- [ ] The nav left/right padding should go down to 30px around the 1024px wide viewport size (based on eyeball

[2020-03-31 05:14] schwartzadev commented on #242
Checking in again -- I'm on this still. I'll probably work on it after the launch tomorrow.

[2020-03-31 10:50] kevee commented on #83
Closing, as markdown has links in gatsbyjs branch

[2020-03-31 10:50] #83 closed

[2020-03-31 11:12] #256 closed

[2020-03-31 11:23] kevee commented on #241
Closing, we are using Contentful as of #271

[2020-03-31 11:23] #241 closed

[2020-03-31 12:19] kevee commented on #245
Hm, what should go here? https://gatsbyjs--upbeat-lovelace-3e9fff.netlify.com/project

[2020-03-31 12:49] #150 closed

[2020-03-31 12:49] #151 closed

[2020-03-31 13:05] webmasterkai commented on #266
We are going to move forward with building all json asset/data files at site compile time. The `/functions` dir will have code related to any interactive API code like GraphQL. The `/build` dir will contain code related to building the json files. Both will have dedicated package.json files to maintain dependencies.

I'm now thinking a structure more like:
- /data/us/current.json
- /data/us/daily.

[2020-03-31 14:23] nealmcb commented on #91
@MrSteve2 Thanks for the offer!
I'm looking at page 15:

increase doubling time. Social distancing efforts in CA started 3/20. Since
cases are undercounted, we will only know if efforts are working by looking
at weekly hospitalization trends 2–3 weeks later (4/10).

3 weeks to get a second chance.

immediately clamp down to avoid hospital overflow. This would require
Wuhan-like measures such as ce

[2020-03-31 14:36] beep opened #276 "Design-related items in current v2 build"
Just logging a few design-related things I’ve spotted on [the current preview site](https://gatsbyjs--upbeat-lovelace-3e9fff.netlify.com/data), and comparing it to [the v2 comps](https://www.dropbox.com/s/41azsi92oh724m6/covidrefresh%20-%202020%200330%20EM.sketch?dl=0). Please note that these are _all_ for discussion/review, to see what’s worth fixing before launch!

(Also, happy to break these ou

[2020-03-31 14:48] kevee commented on #276
@schwartzadev You wanna take on the Data/state page tables (because you love tables now) and I'll start from the top

[2020-03-31 14:55] kevee commented on #276
I'm seeing the font stack in there, but I could be missing something:

![image](https://user-images.githubusercontent.com/270536/78040966-27231a80-733e-11ea-9a8a-10cebc3645d7.png)

[2020-03-31 15:21] jasonsantamaria commented on #276
Some color recs:

- [ ] Text link color should be `#575AAD` and I suggest `#8B8DC7` for a hover/active color
- [ ] Button bg should be `#8CC7F4` and `#E2F1FC` for a hover/active color
- [ ] Nav link hovers can be the same as the "active" state (blue bottom border)

[2020-03-31 15:24] kevee commented on #276
Colors in https://github.com/COVID19Tracking/website/pull/277/commits/a1ad74d0d387ebbcab249d0f2e14f80a35bab1a4

[2020-03-31 15:31] kissane opened #278 "Update software and credits page"

[2020-03-31 15:38] kissane opened #279 "Update Slack and Twitter branding"

[2020-03-31 15:47] kevee commented on #276
Where we are at right now: https://5e836511afdc600006e20311--upbeat-lovelace-3e9fff.netlify.com/

[2020-03-31 15:54] julialedur opened #280 "Update front page viz thumbnails"
As discussed on [Slack](https://covid-tracking.slack.com/archives/C010N48RY73/p1585668517267200?thread_ts=1585593301.094100&cid=C010N48RY73), let's take out map with dark background because it looks unbalanced.
Let's do, from left to right: NYT chart, Politico's map and WSJ chart. Here's a screenshot and links:

![thumbs](https://user-images.githubusercontent.com/39416238/78047335-36a66180-7346-11

[2020-03-31 16:00] jasonsantamaria commented on #276
A couple of updates that may have gotten garbled:

- [ ] Nav link hovers: `#E2F1FC` and blue bottom border from active state
- [ ] Hovers for text links: `#8B8DC7`
- [ ] Hover for the white text link in hero: `#E2F1FC`
- [ ] Can all hover styles ease on ~`.2s`?
- [ ] Looks like the ProPub logo is missing the magnifying glass which is making it a lot bigger

[2020-03-31 17:12] schwartzadev commented on #276
Oh yeah I _love_ tables 😄

I can tackle those, sure.

@beep : The new outcomes data isn't yet available on the API, so I dropped those columns last night. After doing that, there was a _ton_ of white space so I re-added the two column layout only on very large viewports. See #268 .

See above @ the outcomes data...are there changes that you'd like to see considering that data isn't yet available?

[2020-03-31 17:48] beep commented on #276
@schwartzadev if you need a cool bio for slack, may i humbly suggest this 😂

<img width="182" alt="image" src="https://user-images.githubusercontent.com/124493/78057062-1bdae980-7354-11ea-8670-9a453461578f.png">

But seriously, that’s real helpful—thanks for calling that out. And [per our chat in Slack](https://covid-tracking.slack.com/archives/C010N48RY73/p1585675301302200?thread_ts=1585674969.30

[2020-03-31 17:50] beep commented on #276
(Oh, and we can drop the `col` / `colgroup` elements we can sync them up with the outcomes data structure.)

[2020-03-31 18:11] schwartzadev commented on #280
#283 will close this

[2020-03-31 18:34] schwartzadev commented on #279
Not sure if this goes here, but the font on the current URL image (the one that shows up when you paste the URL into slack -- I don't know the name of this?) is not the preferred one for the project. I think it is just generic sans-serif. Probably a zero priority issue.

[2020-03-31 19:45] friej715 opened #287 "Mobile: logos, nav, and background"
(Rolling these three into one since they seem pretty small--let me know if you want 'em broken up more!)

Tested on my iPhone 6S's Safari. Maybe small enough to get in for #267?

- [x] Press logos are not centered on page.
- [x] Mobile nav gets cut off on Most Recent Data page (again, iPhone 6S, fwiw)
- [ ] Tiny white line to the right side (probably due to background tiling)

![Image from iOS (1)

[2020-03-31 19:57] friej715 commented on #287
Maybe too small to worry about, but the background size now jumps based on whether the menu is open.

![RPReplay_Final1585684536 2020-03-31 15_56_28](https://user-images.githubusercontent.com/1028403/78069528-433bb180-7368-11ea-90a6-52b4e5735004.gif)

[2020-03-31 21:25] shawnwildermuth opened #288 "api/state/daily Is out of date with spreadsheet"
Looks like the data in the api is not being updated correctly. The website shows newer data than the APIs. See the Georgia data for an example.

[2020-03-31 21:51] schwartzadev commented on #287
These are great -- thank you!

I'm going to check this one off -- this is by design

[2020-03-31 21:54] schwartzadev commented on #276
The latest from Slack: we will move the outcomes data to a **post-v2 launch item** (updating here for transparency)

[2020-03-31 21:56] #280 closed

[2020-03-31 22:07] MrSteve2 commented on #91
@nealmcb I'll see what I can do.
I also found this site: https://covid19.healthdata.org/projections
Which has hospital data on (bed and ICU occupancy, and ventilator use).

[2020-03-31 22:12] colintj opened #290 "Positive count on 2020-03-17 for IL no longer matches screen shot"
The screenshot from 6:02 pm has the data (160 positives) that was previously populated on 2020-03-17 for Illinois:

https://covidtracking.com/screenshots/IL/IL-20200317-180220.png

As of this posting, the API and website return 28 positives for that date.

https://covidtracking.com/data/state/illinois/#history

[2020-03-31 22:15] schwartzadev commented on #276
@beep -- #291 should take care of your suggestions 👍

[2020-03-31 22:41] johnindenver opened #292 "BETTER WEB PAGE SOURCE"
Colorado's data seems to come out first at https://covid19.colorado.gov/case-data
today's was posted:   Colorado Case Summary (Updated 3/31/20 at 4:00 p.m.)

[2020-03-31 22:45] kissane opened #293 "Implement redirects"
I'll line em up here

https://covidtracking.com/about-team/ -> https://covidtracking.com/about-project/
https://covidtracking.com/about-tracker/ -> https://covidtracking.com/about-data/

[2020-03-31 22:46] #206 closed

[2020-03-31 23:52] kissane commented on #278
Good enough for launch

[2020-03-31 23:52] #278 closed

[2020-04-01 00:01] #152 closed

[2020-04-01 00:02] kissane commented on #208
Is this ready to close?

[2020-04-01 00:10] schwartzadev commented on #287
It looks like by now (8a638d8c75a32dc515f72ef71d0d4cd883341881 on `gatsbyjs`), the alignment issue is fixed. I'm not 100% sure where it happened, but hey :man_shrugging: Here it is on (simulated) iPhone 6, iOS 11:
![image](https://user-images.githubusercontent.com/18607205/78086284-b64e2380-737a-11ea-82fc-b4a8f0867f75.png)

[2020-04-01 00:12] schwartzadev commented on #287
I can't seem to emulate the issue with the background tiling. @friej715 is there a chance that you could see if other sites seem to have similar behavior on that device?

It could be useful to narrow down the issue to that particular device, if possible.

Thank you :raised_hands:

[2020-04-01 00:21] beep commented on #208
@kissane Looks amazing on https://deploy-preview-267--upbeat-lovelace-3e9fff.netlify.com/data to me. (ping #267) I’d say yes!

[2020-04-01 00:44] schwartzadev commented on #276
Hey @jasonsantamaria #296 will close this :wink:

[2020-04-01 00:55] pspeter3 commented on #266
Perhaps we want to rename `/build` to `/generate` since `/build` is sometimes used as an output directory?

The structure looks good though wondering if we want `/data/state/:state/:yyyy-mm-dd.json`?

Also do we want `/data/us/:yyy-mm-dd.json`?

[2020-04-01 00:56] pspeter3 commented on #266
I assume there will also be a CSV equivalent for each of these?

[2020-04-01 01:03] pspeter3 commented on #266
I would like to propose `/data/:version` as a prefix. That way we can write multiple versions. Unsure how we do this for GraphQL. I think GraphQL has its own scheme for deprecations.

[2020-04-01 01:20] kevee commented on #293
Done!

[2020-04-01 01:20] #293 closed

[2020-04-01 01:22] pspeter3 commented on #266
Based on discussions in Slack, the team thinks that not versioning the API and only appending fields is the easier way to go. This means that the generated data and GraphQL api will follow the same versioning and deprecation scheme.

[2020-04-01 01:28] saewoonam opened #298 "Data integrity problem for Michigan for Saturday March 28"
The values for Saturday March 28th are not correct.   They are just the daily figures from the previous day.

[2020-04-01 01:40] saewoonam opened #300 "Data integrity problem for Colorado on March 31, 2020"
This is the data from the Colorado website
<img width="687" alt="Screen Shot 2020-03-31 at 7 35 28 PM" src="https://user-images.githubusercontent.com/2872116/78090436-56aa4500-7387-11ea-859c-57867702f926.png">

[2020-04-01 02:03] jasonsantamaria commented on #276
Ack, sorry still not quite done — looks like a few things are missing/bugged:

Nav links, I'll break all states down to avoid confusion:
<img width="780" alt="Screen Shot 2020-03-31 at 10 00 50 PM" src="https://user-images.githubusercontent.com/128280/78091533-1e146680-739b-11ea-8304-ac98e93605b8.png">

And the big CTA button hover styles are bugging out and hiding the text.  Button bg should be `

[2020-04-01 02:28] webmasterkai commented on #266
Okay, I'm tired but I think I got most of the code that creates API assets added to the repo https://github.com/COVID19Tracking/website/tree/api-2/build

[2020-04-01 02:48] friej715 commented on #287
You mean the white line thing @schwartzadev? It seems to be gone now 👍

[2020-04-01 03:50] whodaguy opened #302 "Hawaii COVID-19 data"
On the Hawaii Department of Health website sourced for covidtracking data, the category "Pending" does not refer to people in Hawaii who have been swabbed and are still awaiting test results. It means people who have tested positive but whose county of residence has not yet been confirmed.

Just FYI.

[2020-04-01 03:55] schwartzadev opened #303 "Homepage press list spacing"
This list is pretty clustered -- can we maybe add a little space between each item?

![image](https://user-images.githubusercontent.com/18607205/78097731-3df75a80-739a-11ea-8a3c-b124ee4a1bea.png)

[2020-04-01 04:52] schwartzadev commented on #287
Awesome!

[2020-04-01 04:52] #287 closed

[2020-04-01 07:18] MrSteve2 commented on #91
OKay I graphed all the data items and added a dropdown to select state.
Check https://mrsteve2.github.io/covidTrackingViz.github.io/covidCharts.html

Let me know if the increase graphs were what you were looking for.

[2020-04-01 12:14] kevee commented on #303
On it.

[2020-04-01 12:30] #303 closed

[2020-04-01 12:31] kevee commented on #266
Initial feels is: run npm run [get-api-thing] - then it writes to like _data , then Gatsby builds off of that data, then we just copy _data into /public/api

[2020-04-01 12:40] kevee opened #306 "Post launch: repository access control, issue templates"
We're all a ton of professional, dedicated, detail-oriented, can-do people. 😇 But sometimes I forget which remote my Git is pointing to, and that 👻scares me. Post launch I'd like to do some house cleaning:

- Implement branch protection rules for `master`
- Add a `staging` branch that is enabled as a branch deploy in `Netlify`
- Evaluate how to prevent staging PRs from leaking environment variable

[2020-04-01 13:06] kevee commented on #239
This was covered in #276

[2020-04-01 13:06] #239 closed

[2020-04-01 13:28] kevee commented on #266
We also need to add some jest tests or something that pulls all the main API endpoints and does some data quality heuristics (number of items in array? object composition?). This would run after the build and before Gatsby runs, so that if the Jest test fails, the build is flagged as failing and we don't break anything.

[2020-04-01 13:43] nealmcb commented on #91
Thanks, MrSteve2. Those look good! If they were smaller, or combined in cases where the scales are amenible, we could see more of it at once. And I'd put the state selector a the top.

Can the code for that be integrated with the project and dash?

I'll also note a few other links to visualizations that I've been collecting:

* covid.graphics: https://covid.graphics/country/usa.html
* COVID on Wor

[2020-04-01 14:09] kevee opened #309 "Move storybook to its own place"
Storybook building adds a whole **90 seconds** to the build - let's trim that down by having either a separate branch here or a *whole different repo* that just builds it to Github Pages.

[2020-04-01 15:09] #208 closed

[2020-04-01 15:21] kissane opened #311 "Italicize press pub titles"
Can we (post-launch) get cite tags or some such around the publication titles in our press links, and make sure they're styled in italics? News orgs have such strong feelings about their italics.

[2020-04-01 15:35] kissane commented on #279
Wait I should not close this until I actually DO this on Twitter dot com.

[2020-04-01 15:36] beep commented on #109
👋 Hey @schwartzadev, just checking: will this issue still be relevant once v2 launches?

[2020-04-01 15:36] kevee commented on #311
As an ardent believer in Chicago style, I can't agree more.

[2020-04-01 16:17] beep opened #312 "404 template design"
[Per slack](https://covid-tracking.slack.com/archives/C010N48RY73/p1585757752482600), we should have a 404 page design. https://covidtracking.com/sdfsd does the thing, but we could do the thing _better_

[2020-04-01 16:20] friej715 opened #313 "Slightly weird alignment on homepage"
Noticed on my iPhone 6S, Safari. Visible to varying degrees on different Chrome window sizes.

![IMG_1641](https://user-images.githubusercontent.com/1028403/78161210-1d1f1b80-7413-11ea-97cb-b10e3412e14f.jpg)

[2020-04-01 16:30] beep commented on #313
It looks like each item is a flexbox’d div, with an inner div styling the bullet. Switching over to lists and background images might simplify things a bit. (Or, if the `ul` switch isn’t an option, background images.)

[2020-04-01 16:31] kissane opened #314 "Add API page to top global nav"
Let's do this now we have the redirect sorted, I want to maintain visibility.

[2020-04-01 16:39] olivierlacan opened #315 "Outdated Residents out of state FAQ section"
This paragraph is outdated and needs to be amended or removed:

![image](https://user-images.githubusercontent.com/65950/78162905-90c22800-7415-11ea-825e-0ea510e56405.png)

We may have done this in the past but what Florida now reports as Total Tests is (currently) equal to Total PUIs (Patients Under Investigation) which includes these three categories: Residents, Non-residents, Residents out of s

[2020-04-01 16:44] olivierlacan opened #316 "Tiny typo in FAQ about U.S. Daily"
We're missing a space after the anchor link and I can't find this page in the codebase so I'm guessing it's hosted somewhere else:

![image](https://user-images.githubusercontent.com/65950/78163466-6c1a8000-7416-11ea-993b-67aa06eb7cbd.png)

[2020-04-01 16:46] beep opened #317 "Feature: implement responsive table pattern"
Currently, we’re overflowing tables once they’re too wide for their container. Which is great! But _ideally_, we’d have some sort of responsive table solution that manages table adaptation a little more gracefully across viewports. (This will be especially important once the outcomes data lands.)

*Historical note*: @schwartzadev implemented [tablesaw](https://github.com/filamentgroup/tablesaw/) i

[2020-04-01 16:46] beep commented on #317
Personally, I think that as long as our solution maintains a tabular structure _as much as is appropriate_, then we’re in good shape. (Like, if we need to render DLs on smaller screens, awesome—but if we have the room for tables, we should use them.)

[2020-04-01 16:49] olivierlacan opened #318 "Should there be an escape hatch link on the footer logo?"
![image](https://user-images.githubusercontent.com/65950/78163978-14304900-7417-11ea-8b19-b13841578ba4.png)

Not a strong opinion but it would help in a "go back to top and back home" sort of way. Seems odd to see a mirror of the top of the site logo with no hyperlink. I don't feel strongly about this so feel free to insta-close with "this on purpose, friend". 😄

[2020-04-01 16:57] beep opened #319 "Footer refinements"
A few design-related items, comparing the current footer to [the design spec](https://www.dropbox.com/s/41azsi92oh724m6/covidrefresh%20-%202020%200330%20EM.sketch?dl=0) (Also screenshotted below!):

- [x] - Ensure the bottom/top padding on the footer is equivalent. (That is, the content should be vertically centered.)
- [x] - Links should be underlined.
- [x] - The focus state is currently a littl

[2020-04-01 16:59] beep commented on #318
Whoops, missed this when I was drafting https://github.com/COVID19Tracking/website/issues/319. _Agreed_ that this should be there, @olivierlacan—thanks for flagging this!

(I know this issue came first, but: do you mind if I close this to keep the discussion with the other footer enhancements?)

[2020-04-01 17:17] olivierlacan commented on #318
Of course!

[2020-04-01 17:17] #318 closed

[2020-04-01 17:23] beep commented on #318
Thanks, @olivierlacan! And sorry for the dupe on my end—really appreciate you catchin’ this.

[2020-04-01 17:27] beep opened #320 "Bug: Pages are missing outermost gutters around ~1100px"
Around the 1080–1100px viewport range, certain layout components run flush up against the left and right edges of the browser window:

<img width="1128" alt="homepage" src="https://user-images.githubusercontent.com/124493/78167248-295ba680-741c-11ea-884f-0cc98705678e.png">
<img width="1112" alt="help page" src="https://user-images.githubusercontent.com/124493/78167450-80fa1200-741c-11ea-9817-2e40d

[2020-04-01 17:31] beep commented on #313
(All that said, the _super_ quick fix would be something like `flex: 0 0 30px` on the icons)

[2020-04-01 17:42] olivierlacan opened #321 "Table styling issues"
1. On the state pages, there's some padding issues in the new design tables:
![image](https://user-images.githubusercontent.com/65950/78168783-848e9880-741e-11ea-8c40-c0af7b68ea98.png)

2. I'm not sure we mean to have bullets showing for listed screenshots:
![image](https://user-images.githubusercontent.com/65950/78168855-9a9c5900-741e-11ea-96d3-22af6b299a7e.png)

[2020-04-01 17:45] #244 closed

[2020-04-01 17:46] kevee commented on #236
We're live! Closing.

[2020-04-01 17:46] #236 closed

[2020-04-01 18:03] kevee commented on #316
Fixed in Contentful. Should be live sooon.

[2020-04-01 18:03] #316 closed

[2020-04-01 18:04] kevee commented on #319
I think the deploy preview looks close, please let me know if anything else needs fixing

[2020-04-01 18:15] beep commented on #319
@kevee Okay _real_ basic question, sorry: where’s the deploy preview? (Not seeing one on https://github.com/COVID19Tracking/website/pull/323)

[2020-04-01 18:28] kevee opened #324 "Deploy hook getting called thrice"
Because of branched github actions (probably) we are getting duplicate webhook calls.

[2020-04-01 18:29] kissane opened #325 "People are missing the links to states on the big /data page"
I feel like we have a dropdown comped in at some point? We're getting sad tweets about missing these links from mobile users.

[2020-04-01 18:43] metasj opened #326 "List last update time per state, on the overview page"
As a site visitor, when I look at  https://covidtracking.com/data
I want to know when the data for each state was last updated (and an estimate of when it will _next_ update, if there's a daily tempo).  That could be lised alongside the table.

Ex:
- Last update M/DD HH:MM, usually updates [at|around] HH [am|pm]

[2020-04-01 19:26] goleary opened #327 "add date to map state tooltip"
"another thing we should probably add to the toolip is date in case the reader stops the slider and starts hovering over stuff. politico did it in a nice way" - @julialedur

![image](https://user-images.githubusercontent.com/16123225/78178107-f7dedd00-7413-11ea-8d42-c75e02827ce6.png)

[2020-04-01 19:54] julialedur commented on #327
here's a sketch of the tooltip with date. I also underlined the variables with their respective colors so it's easier to identify them in the table
![sketch-map](https://user-images.githubusercontent.com/39416238/78180608-05569000-7431-11ea-9dbb-689abe3859e3.jpg)

[2020-04-01 19:56] julialedur opened #328 "change colors of map button"
let's make the selected button with white background and black text and stroke. it's cleaner this way

<img width="392" alt="Screen Shot 2020-04-01 at 3 55 13 PM" src="https://user-images.githubusercontent.com/39416238/78180738-320aa780-7431-11ea-9575-58c1810d5713.png">

[2020-04-01 20:03] julialedur opened #329 "change stroke of yellow bubbles to a darker color"
let's change the stroke of the yellow bubbles to a slightly darker color so they're more visible and distinguishable. here's the hex code: #D18F4B
bg color stays the same.

[2020-04-01 20:11] julialedur opened #330 "change labels to million [melba]"
now that we've reached one million tests, let's change labels for the chart below to million so they're not too long (eg 0.2, 0.4, ... 1 million)

<img width="594" alt="Screen Shot 2020-04-01 at 11 53 17 AM" src="https://user-images.githubusercontent.com/39416238/78181811-f7097380-7432-11ea-9b9a-9ab43b8a830b.png">

[2020-04-01 20:13] julialedur opened #331 "adjust page layout"
go back to text-graphic-text-graphic layout and organize content like in [mockups](https://covid-tracking.slack.com/archives/C01089TFL5Q/p1585615748038900)

[2020-04-01 20:34] schwartzadev commented on #109
I don't think so -- thanks for following up 👍

[2020-04-01 20:34] #109 closed

[2020-04-01 20:54] julialedur opened #333 "update stay-at-home orders on small multiples"
more states imposed stay-at-home orders, which are updated in this [spreadsheet](https://docs.google.com/spreadsheets/d/1mD_NhlJR1fM2Pv_pY8YixUrX2p2F8rAE0xPTtsTJOiM/edit#gid=0). we need to add those to the small multiples and also add a note at the bottom:

Note: Only statewide stay-at-home orders were considered. The dates indicate when the order went into effect.

[2020-04-01 21:41] MrSteve2 commented on #91
Agreed. Just wanted to do first step and create.  UX design is needed

Yes. Its a simple matter of programming :)  Do you have a particular project(s) I can clone and page/pages you would like to see them integrate with? If so let me know and I will take a look at what it will take.

Thanks will check and perhaps do a review of them to determine what we can learn and what we should steal (with cre

[2020-04-01 22:14] kevee commented on #319
@beep - it's that unhelpful "Details" link that shows up next to "Deploy preview ready"

https://deploy-preview-323--upbeat-lovelace-3e9fff.netlify.com/

[2020-04-01 22:54] schwartzadev commented on #326
Ooh -- the suggestion of when the state typically updates is a fascinating one. I think that we have that data somewhere, but I'm not sure if it's public. @webmasterkai maybe can you speak to that?

[2020-04-01 22:56] schwartzadev commented on #325
Which links? 🤔 Here's what I'm seeing on mobile:

![image](https://user-images.githubusercontent.com/18607205/78194178-ab0dfd00-7439-11ea-83ea-4ac9ad6948c0.png)

[2020-04-01 23:21] #321 closed

[2020-04-01 23:25] schwartzadev commented on #306
Yes, yes, yes! I'm on board with all of these.

I would be in favor of one other person doing a code review on any changes to master -- that's my 2c :+1:

I'm going to branch off on the issue templates -- I've been thinking about that one for a bit, too.

[2020-04-01 23:27] kissane commented on #325
Sorry, the quick links so people don't have to scroll forever. Someone objected to them and we nixed them, but I'm getting a lot of tweets and DMs. We had a dropdown suggested at some point to replace them?

[2020-04-01 23:37] schwartzadev opened #339 "Add issue templates"
Kevin kicked this off in #306 but I think this warrants its own issue. Below are my suggestions for issue templates:

This repo:
* **Design issue**: something is wrong with the aesthetic of the website
  * Explain what the issue is (I :heart: screenshots here)
  * Explain (if you know) what could be done to resolve this issue
* **Content issue**: something is wrong with the content of the website

[2020-04-01 23:40] careeningspace commented on #339
I thought that was how it was supposed to be?

[2020-04-01 23:44] phact commented on #91
I made this viz based on the John's Hopkins data, would be happy to contribute something similar if there is interest.

https://covid-19-keppler.netlify.com/

[2020-04-02 00:42] schwartzadev commented on #325
Ah yes -- the navigation. Silly me. :man_facepalming:  I'll throw something together for now, but @beep @tealtan @jasonsantamaria maybe you could design something beautiful for this down the line?

[2020-04-02 01:17] kevee commented on #339
We can make an issue template that links to a separate repo or docs as well.

[2020-04-02 01:19] kevee commented on #325
There's a dropdown in the sketch file that looks like a regular select element - I'd like to use something like [Reach's combobox](https://reacttraining.com/reach-ui/combobox) because it's got great a11y features

[2020-04-02 01:43] schwartzadev commented on #325
Oooh Kevin that looks great -- are you thinking we use combobox to:then jump to the selected state (i.e. a user inputs the state name/abbreviation and then clicks on the result) or that we would filter based on the combobox result (i.e. a user inputs "New" and all results disappear except for New York, New Jersey, etc.)?

In the meantime, I just pushed #342  -- Kevin, if you're on board, please me

[2020-04-02 01:49] kevee commented on #325
I think option 1 - I'm merging your PR in a bit.

[2020-04-02 03:11] schwartzadev commented on #311
Closing this -- merged #344

[2020-04-02 03:13] schwartzadev commented on #276
I'm going to add this to a new issue for clarity and close this one

[2020-04-02 03:13] #276 closed

[2020-04-02 03:20] schwartzadev opened #345 "Aria active not appearing for parents of subpages"
From @beep in #276 :

This still seems to be the case: if you browse to a subpage that is not that subpage's index, the parent is no longer underlined:

[code]
(I added the `*` for clarity.)

In this case, `About the Data*` is the parent. `About the Data` (the subpage) has no problems; the `About the Data*` parent is underlined. I believe this is because this subpage is the index for this parent.

[2020-04-02 04:13] preislerd commented on #317
I felt like the previous **mobile experience** of a stacked table per state fitting in my screen (at least in portrait mode) was significantly better.  However if I switch to landscape everything looks good.  Just not my preferred mobile web page browsing experience.

[2020-04-02 04:27] olivierlacan commented on #317
I would agree with @preislerd. The header-to-content width ratio of some of our tables doesn't really make sense in portrait mode especially with a table column like States Tracked (which I think could arguably be changed to something less intrusive maybe) which ends up pushing far more relevant information off to overflow land.

![IMG_3610](https://user-images.githubusercontent.com/65950/78210461

[2020-04-02 05:12] julialedur opened #349 "adjust legend of choropleth"
let's use these colors for the choropleth, so that the yellow we're using across the page for positive tests matches the map scale:

<img width="349" alt="Screen Shot 2020-04-01 at 9 52 43 PM" src="https://user-images.githubusercontent.com/39416238/78202865-6bf4a180-7463-11ea-99b2-dd478ae65ff1.png">

here are the hex codes:
#FCF9EB
#FBE8A9
#F6CE7A
#F3B05D
#E2894E
#C66B3E
#924F34
#753C2D

let's als

[2020-04-02 05:15] julialedur opened #351 "choropleth dropdown style"
let's style the dropdown to match the page design better.
was thinking of something like this:

<img width="355" alt="Screen Shot 2020-04-02 at 1 05 37 AM" src="https://user-images.githubusercontent.com/39416238/78212957-44133700-747f-11ea-8aed-020080776237.png">

<img width="515" alt="Screen Shot 2020-04-02 at 1 06 41 AM" src="https://user-images.githubusercontent.com/39416238/78212977-4e353580-7

[2020-04-02 05:32] julialedur opened #352 "change hover over style on both maps"
right now our states turn gray when we hover over them.
this is totally fine, except when we get to the choropleth, so suddenly the gray from the hover is getting in the way of the color encoding.
so I suggest we only change the stroke around the state to black on mouseover. it's also easier to see which state you're looking at when thee shape is highlighted. Reuters did it well on [this](http://g

[2020-04-02 05:38] julialedur opened #353 "change tooltip table style"
I suggest adding colored underlines to the variables on the table so it's easier to read from a visual perspective. we can also get rid of that gray background (sorry, that was a bad idea!) like this:

<img width="606" alt="Screen Shot 2020-04-02 at 1 32 22 AM" src="https://user-images.githubusercontent.com/39416238/78213985-1c719e00-7482-11ea-8b4c-d1a4b9334f0b.png">

let's also take the font of t

[2020-04-02 05:42] julialedur opened #354 "standardize language on all graphics"
I noticed we're using "positive tests" in some places and "confirmed cases" in others (like on the choropleth dropdown and  bubble map legend)
same thing for "total tests" and "tests conducted"

let's be consistent and only use "**total tests**" and "**positive tests**" for all graphics

[2020-04-02 06:18] julialedur opened #355 "make maps bigger"
your maps are so beautiful and incredible and i think we should make them like 30% bigger on the page.
let them shine! ❇️
plus it will also be easier to see the states on the east coast that are covered by bubbles

[2020-04-02 06:23] julialedur opened #356 "less x-axis labels on death chart [melba]"
forgot to say this on previous issue, but let's remove some of the x-axis labels on this chart. it's a bit busy now

let's do mar. 5, mar. 11, mar. 17, and so on

<img width="593" alt="Screen Shot 2020-04-01 at 9 41 17 PM" src="https://user-images.githubusercontent.com/39416238/78216827-b0466880-7488-11ea-8c2e-c8aa0ae4b15a.png">

[2020-04-02 06:34] schwartzadev commented on #317
Agreed with both of y'all -- the current solution is...not great. Maybe I
had other performance issues with tablesaw -- I encourage y'all to explore
its performance as well.

For what it's worth, @kevee noticed that tablesaw was also not deploying
properly -- I'm sure Kevin can speak about this more but I think it was an
issue with deprecated DOM manipulation? Regardless, I think gatsby build
was

[2020-04-02 06:36] julialedur opened #357 "add tooltips to all charts"
let's add tooltips to our charts!! ❇️

please follow this style:

for charts that only show one variable
<img width="177" alt="Screen Shot 2020-04-02 at 2 35 27 AM" src="https://user-images.githubusercontent.com/39416238/78217788-b1789500-748a-11ea-875c-4226dbdade0a.png">

for charts that show more than one variable
<img width="198" alt="Screen Shot 2020-04-02 at 2 35 21 AM" src="https://user-imag

[2020-04-02 11:19] beep commented on #319
@kevee Yeah, no, sorry: the entire section of PR checks was missing for me yesterday. But! They’re back now! And things look great 👍

[2020-04-02 12:19] kevee commented on #319
Cool, merging!

[2020-04-02 12:19] #319 closed

[2020-04-02 12:31] kevee opened #359 "Process for approval of PRs with data changes"
Because data *is* what we do, and because I screwed up and used the wrong API field, let's implement a process (to be documented in the CONTRIBUTING.md) file:

PRs that touch the display of data, whether UI or sourcing of data from the API, should:

Use the 'Needs data approval' label
Be assigned to a data team member - right now, @jdmaresco
Be approved by the data team member

[2020-04-02 13:06] beep commented on #325
Sounds good. I’m not familiar with combobox; what’s the experience like if JS fails to load?

[2020-04-02 13:45] gitjeff05 opened #361 "Tab navigation issues"
When navigating to the [Get the Data](https://covidtracking.com/data/) page, there are a couple of issues with the navigation:

1.) The tab "State by State" should be active when the page loads.
2.) Clicking on the tab "Methodology" takes the user away from this section. This is counter to expected tab behavior and different from how all the other tabs on this site work.

[2020-04-02 14:28] friej715 commented on #320
I think this first media query is triggering at a smaller size than the max-width of the container. Maybe the media query should be at the $viewport-xl size (1200px)?

(Asking before editing, since futzing with breakpoints unprompted seems like a great way to fix the site!)

<img width="197" alt="Screen Shot 2020-04-02 at 10 21 00 AM" src="https://user-images.githubusercontent.com/1028403/78260203

[2020-04-02 14:47] #311 closed

[2020-04-02 14:48] kissane commented on #245
Closing this, will chase down the remaining items separately.

[2020-04-02 14:48] #245 closed

[2020-04-02 15:26] kevee commented on #172
Dupe of #91, closing.

[2020-04-02 15:26] #172 closed

[2020-04-02 15:27] kevee commented on #145
Closing, we have a spec for new designed tables that includes this.

[2020-04-02 15:27] #145 closed

[2020-04-02 15:42] #314 closed

[2020-04-02 15:53] #309 closed

[2020-04-02 16:54] kevee opened #364 "Deploy quality testing"
Add a jest test to ensure the website built properly before deploy

[2020-04-02 17:04] kissane opened #365 "Revise global nav"
Now that we don't have the footer, we've lost some things and need to do some revision. Can someone document process for changing global nav rn? Is that hard-coded? If so, shall I just put changes here?

[2020-04-02 17:38] kevee commented on #365
Just let us know and we can change it. Here's the docs:

https://covid19tracking.github.io/website-docs/?path=/docs/main-navigation--page

[2020-04-02 17:54] kevee commented on #339
Added issue templates.

[2020-04-02 17:54] #339 closed

[2020-04-02 18:46] schwartzadev opened #368 "Github Lighthouse Checks Failing"
**Describe the bug**
The [Lighthouse checks](https://github.com/COVID19Tracking/website/actions?query=workflow%3A.github%2Fworkflows%2Flighthouse.yml) _always_ fail. We should either:

* remove this from GH Actions
* update this so it actually checks things

[2020-04-02 18:47] #242 closed

[2020-04-02 18:52] schwartzadev commented on #359
Yes! Great call.

We should be clear about what "touching data" means...Here are some corner cases off the top of my head:

* If I reformat a table that has data in it, does that need review?
   * ... What if I reformat only in SCSS?
   * ...What if I reformat the table component?
* If I refactor (a component that includes a table) into (a parent component) and (a table component), would that need

[2020-04-02 19:03] #329 closed

[2020-04-02 19:11] #364 closed

[2020-04-02 20:36] kissane commented on #365
Wonderful. After the fires are all out today, let's revise to:

[code]

[2020-04-02 21:53] kevee commented on #365
Fixed in #373

[2020-04-02 21:53] #365 closed

[2020-04-02 22:36] olivierlacan opened #376 "Double state title issue on state pages"
![image](https://user-images.githubusercontent.com/65950/78306235-e0d1e500-7510-11ea-86bb-3b6f83595296.png)

https://covidtracking.com/data/state/california

Seems unnecessary. 😃

[2020-04-02 23:10] schwartzadev commented on #276
@jasonsantamaria I haven't forgotten about your updates -- I'm moving it to a new issue for clarity

[2020-04-02 23:12] schwartzadev opened #377 "Nav color updates -- moved from #276"
From @jasonsantamaria on #276 :

----

Ack, sorry still not quite done — looks like a few things are missing/bugged:

Nav links, I'll break all states down to avoid confusion:
<img width="780" alt="Screen Shot 2020-03-31 at 10 00 50 PM" src="https://user-images.githubusercontent.com/128280/78091533-1e146680-739b-11ea-8304-ac98e93605b8.png">

And the big CTA button hover styles are bugging out and

[2020-04-02 23:13] schwartzadev commented on #377
I think I have this fixed:

![image](https://user-images.githubusercontent.com/18607205/78308213-21c3fc80-7505-11ea-9e65-4825a17bc35c.png)

From left to right --> active section, hover, normal

I also animated `border-bottom` so now it's _smooth_.

PR inbound 🚀

[2020-04-02 23:25] #377 closed

[2020-04-02 23:25] schwartzadev commented on #376
Yep -- I have this in a branch now -- I'll push soon :+1:

[2020-04-02 23:26] schwartzadev opened #379 "Displaying screenshots -- Input Requested"
Currently, the way we handle sharing screenshots on the historical tables is pretty messy. I would love some design input about ways to clean it up.

![image](https://user-images.githubusercontent.com/18607205/78308933-04902d80-7507-11ea-888c-ceec0489f060.png)

[2020-04-02 23:54] schwartzadev commented on #325
...or if you don't load JS intentionally 😉

[2020-04-03 00:16] #376 closed

[2020-04-03 00:49] gitjeff05 opened #381 "Add some jest tests that pull all the main API endpoints and check data quality."
We also need to add some jest tests or something that pulls all the main API endpoints and does some data quality heuristics (number of items in array? object composition?). This would run after the build and before Gatsby runs, so that if the Jest test fails, the build is flagged as failing and we don't break anything.

_Originally posted by @kevee in https://github.com/COVID19Tracking/website/is

[2020-04-03 01:52] beep commented on #325
(I knew I liked you, @schwartzadev 😉)

[2020-04-03 01:55] amandafrench opened #387 "Newsroom FAQ page 404s"
https://covidtracking.com/project/faq — linked from About the Data page

[2020-04-03 02:20] webmasterkai commented on #383
Moving to the website repo where we have moved much of the API code.

[2020-04-03 02:23] webmasterkai opened #384 "API: Add some CORS headers to netlify config for json files"
I think something like the following added to netlify.toml

[code]

[2020-04-03 02:25] webmasterkai opened #385 "API: Update docs for latest version of API"
Would be great to have some more formal API documentation. Also need to update things for the latest version with path changes.
Should probably note the API history in CSV is available here https://github.com/COVID19Tracking/covid-tracking-data

[2020-04-03 02:29] webmasterkai opened #386 "API: Add Redirects to netlify config"
Cloudflare could handle query args so you could get just the info you wanted like https://covidtracking.com/api/us/daily?date=20200306

Now we just generate the json file for every date https://covidtracking.com/api/v1/us/20200306.json

Netlify allows for some redirects that are able understand the search args so I think there’s some redirect configs that will let us forward correctly

[2020-04-03 02:42] kissane commented on #387
Fixed, ty!

[2020-04-03 02:42] #387 closed

[2020-04-03 11:44] kevee commented on #345
Hm, there's no explicit relationship between the header nav and the sub nav, and in the case of "Get the data" and "Data API" they are both in the same nav, so when I made a quick test to apply aria-current=true to any page that's the top-level item of a sub navigation, I got:

![image](https://user-images.githubusercontent.com/270536/78357189-fed62e80-757e-11ea-955e-f3b47cccde26.png)

[2020-04-03 12:10] kevee commented on #379
My feels is that with the new outcomes data coming on board that we should have a separate "screenshots" page ---

OR, going crazy here:

How about we have the main /data/states/[state] page be an overview: show current status, a list of critical data (like tests/positive/deaths/recovered) for each day, and then you can click a link to that day which takes you to `/data/state/[state]/[date]` where

[2020-04-03 12:26] kevee commented on #368
Agreed, I had removed it f64f17fd8d311383074d2f9766b09a5001114bae

Going to see why it's still running, it could be PRs based on master branches that are unmerged from upstream?

[2020-04-03 12:29] kevee commented on #325
We can use the current select list that @schwartzadev built, hide it with a style in a `<noscript>` tag - the combobox component could degrade to a select element, but that would be useless without JS anyhow because you can't monitor events.

[2020-04-03 12:43] kevee opened #390 "Refactor SCSS files"
In our great haste, we have a few SCSS files that are spreading global classes around. Let's refactor these to:

- Wrap pages/components in more classes - We can just apply more classes and always have each .scss file scoped to that class. We're most of the way this direction
- Use [SCSS modules](https://www.gatsbyjs.org/docs/css-modules/) - **Pro:** This will *force* us to use modules. **Con:** H

[2020-04-03 13:37] beep commented on #345
Oh innnnnteresting. Is there a way for us to create that relationship? Seems we’d want to be able to signal which top-level section “owns” the page the user’s viewing.

Ah, great catch—I’d totally missed that. That might be an IA question, if not a bug: if “Data API” is on the top level, do we need it `underneath` “Get the Data”? (I’d personally be fine keeping it just up top, but there might be s

[2020-04-03 13:42] kevee commented on #345
There was a request to add it to the top for now. I think long-term (for this project, 3-5 days) there is content/IA work that is going to be coming down the pike.

[2020-04-03 13:43] kevee commented on #361
We reordered all the nav, is this issue resolved?

[2020-04-03 13:46] beep commented on #390
Oh man, I’m glad you logged this. @tealtan and I were chatting a bit about our style architecture, and making sure the front-end’s as inviting/accessible as possible for new contributors to jump in.

[2020-04-03 13:51] beep commented on #345
Yeah, sorry: I think it makes sense up top! But it seems like a top-level nav item shouldn’t _also_ live on the subnav.

(I guess I’m not clear on how the navigation’s constructed, which might help with some of these questions.)

[2020-04-03 13:51] kevee commented on #390
Right, I we could just start by saying "all modules/pages shalt be wrapped in a class" and then refactor the scss we have...

[2020-04-03 13:56] kevee commented on #345
Main nav is [in a YAML file](https://covid19tracking.github.io/website-docs/?path=/docs/main-navigation--page) - mostly because there's design implications, but really because it was built before Contentful was a thing and we just didn't have time.

[Sub Nav is in Contentful](https://covid19tracking.github.io/website-docs/?path=/docs/using-contentful--page#navigation-groups)

[2020-04-03 14:00] kevee commented on #317
Tablesaw was a little fragile within a React environment, but if you all have specs I'm sure we can easily rebuild that functionality with some React state stuff. Other possibilities?

 - For some tables, provide minimal information, and allow linking to a separate page with more info that we can display without a table. This is less desirable when you want to quickly compare rows, I guess.
 - Mak

[2020-04-03 14:09] beep commented on #325
I think that’ll work if JS is actively disabled, but not if there’s some other condition that prevents JS from executing, right?

True! I guess I’d assumed the list of states would just be a list, and then styled in its `enhanced` state with a bit of overflow scroll. (Perhaps with that slick collapsible element pattern you’d showed?)

Sorry to be bringing so many questions to this! (I tend to be [

[2020-04-03 14:30] kevee commented on #317
Other idea: the "summary" is just a single row, you don't need a table at all. You can use flex columns, headers, and DL:

![image](https://user-images.githubusercontent.com/270536/78371557-2258a380-7596-11ea-8d6d-2f4f8c5ae9c8.png)

[2020-04-03 14:32] kevee commented on #325
True, I'll see what I can do to fix that in the PR.

[2020-04-03 14:53] beep commented on #379
I am _super_ into this idea.

[2020-04-03 15:38] tealtan commented on #390
👋🏼 Yay!

I think the last option is probably too high a barrier for folks, but I actually am somewhat in favor of using SCSS modules here, at the cost of a bigger refactor:

- Continues to use SCSS, which is going to be friendly for contributors
- Enforces style isolation, which lets us test a bit more easily in Storybook etc
- Creates a bit of a learning curve in requiring people to write `classN

[2020-04-03 15:57] beep commented on #390
@tealtan I like everything you just said. Honestly, I’m fine with option 2, but would be more than comfortable getting some speculative branches running for 1 and 2 if we’d like to test them both.

[2020-04-03 16:24] jdmaresco opened #392 "Add footnote to nationwide data summary when we add outcomes metrics to /data"
Please see conversation here:
https://covid-tracking.slack.com/archives/C010N48RY73/p1585922697020100

We report current and cumulative numbers provided by states, supplemented by trusted press sources. Because some states only report “Current” numbers, the nationwide “Current” numbers can be higher than that of the reported “Cumulative” totals. We know, of course, that the true cumulative numbers

[2020-04-03 16:47] kevee commented on #392
I added this as a snippet to Contentful.

[2020-04-03 18:04] kevee commented on #390
Here's a sample of what would have to happen with one page:

**Option 1:**
https://github.com/kevee/Covid19Tracking-website/commit/9e0226f027ef6cdd455d685f7ee88c3be16d1214
 - All pages declare a `page--something` class name to a layout, and wrap their SCSS files in that class
- All components declare a `component--something` class and wrap their SCSS files

**Option 2:**
- Everything needs to be a

[2020-04-03 18:53] friej715 opened #395 "On website (/api), links under GraphQL behaving strangely"
These links:
![image](https://user-images.githubusercontent.com/1028403/78394931-855c3180-75ba-11ea-8aa9-bbbc65a3724c.png)

Playground says server cannot be reached:
![image](https://user-images.githubusercontent.com/1028403/78395002-a6248700-75ba-11ea-94dc-96d5271d708b.png)

Graphql throws an error (related to #383?):
![image](https://user-images.githubusercontent.com/1028403/78395025-b177b280-75

[2020-04-03 19:41] webmasterkai commented on #395
Some work has been started https://github.com/COVID19Tracking/website/pull/343 We need someone to finish this up and get it migrated to Netlify

[2020-04-03 21:05] bibhas2 opened #397 "API: Improve docs on date and dateChecked field on states/daily"
In ``/api/v1/states/daily.json`` the ``date`` field is a number. Example:

[code]

This is an unusual way to represent date. I suggest formatting it as a "MM/DD/yyyy" string format.

[2020-04-03 22:34] #392 closed

[2020-04-03 23:17] #91 closed

[2020-04-04 02:32] schwartzadev opened #403 "Add outcomes data to state historical table"
Great work, everyone on adding the historical data to the summary table today!

We're still missing it on the historical table:
![image](https://user-images.githubusercontent.com/18607205/78416934-38904f00-75ea-11ea-8d7c-2919af8b31e8.png)

[2020-04-04 11:47] kevee commented on #326
This is an issue being discussed at higher level - once we get state daily metadata this should be good to go.

[2020-04-04 12:20] kevee opened #407 "Merge Contentful spaces, proxy dev requests"
We really don't need a separate blog and pages space, and Contentful donated a plan to the pages space. Let's merge these two (put the blog into the pages space)

Also, let's setup a Netlify function to proxy Contentful API requests for developers - that way we don't have to play around with all the netlify token shenanigans.

[2020-04-04 20:59] jgulian commented on #397
Hello, I'd like to help, but I am having trouble finding the documentation where this is an issue. I found see the endpoints on the website, but it looks like the date field was removed. Is there documentation for api/v1/states/daily.json, and if so where is it? Sorry for being a bother, but I'd like to help out.

[2020-04-04 21:17] schwartzadev opened #410 "Stop prettier from formatting downloaded API content"
**Describe the bug**
`npm format` currently scans all of the json files from the API, which takes a ridiculous amount of time (and doesn't matter for the codebase)

[2020-04-04 21:37] schwartzadev commented on #397
Hey @jgulian -- not a bother at all, thanks for offering :smile:

Right now the API docs live at: https://covidtracking.com/api/ on the website.

I _think_ that they're served by contentful, which means that they're not editable through this repo. (I think @kevee could confirm this)

I would _love_ to see our docs move to a more open platform -- maybe something like [readthedocs](https://readthedo

[2020-04-04 22:05] friej715 commented on #385
Started to work on this [here](https://app.swaggerhub.com/apis/janelastname/COVID-endpoints/1.0). (Would it make sense to store an exported version of the yaml in the repo?)

[2020-04-04 22:06] vijaysharwar commented on #361
Issued PR https://github.com/COVID19Tracking/website/pull/412 to fix item 1, the active tab states. Item 2 no longer seems to be an issue, as there is no "Methodology" tab in the current content.

[2020-04-04 23:12] Jmuccigr opened #416 "Request: Sort data page by name, not abbreviation"
I realize the states are sorted by their abbreviations and that makes sense for the navigation table up top, but when scrolling, the states should be in order alphabetically.

[2020-04-05 00:09] #410 closed

[2020-04-05 10:46] kevee commented on #315
@olivierlacan  - do you suggest we just remove this sentence from the FAQ?

[2020-04-05 10:52] kevee commented on #243
Closing, the visualization team is already on it!

[2020-04-05 10:52] #243 closed

[2020-04-05 10:52] kevee commented on #209
Closed, #dev-ops team is on it.

[2020-04-05 10:52] #209 closed

[2020-04-05 10:53] kevee commented on #27
@hammer  - this issue has gone stale, do you think this is important, and if so, what's the next step?

[2020-04-05 11:12] kevee commented on #313
Fixed!

[2020-04-05 11:12] #313 closed

[2020-04-05 11:13] kevee commented on #279
Done in twitter!

[2020-04-05 11:13] #279 closed

[2020-04-05 11:13] #326 closed

[2020-04-05 11:32] kevee commented on #266
Fixed in #336

[2020-04-05 11:32] #266 closed

[2020-04-05 13:13] kevee commented on #317
@beep & @schwartzadev - Since we are adding outcomes data too, the history tables are getting crazy wide, so I took a crack at a responsive design keeping the table structure the same, but using flex, etc. This was a quick hack, so definitely needs to be cleaned up.

I defined certain cells as "required," then made the other cells hidden (we eventually should do this so tables operate the same in

[2020-04-05 13:20] kevee opened #415 "fix(design): Tighten header line heights"
We need to redo line heights for headers, especially H2 in the body has way too much leading between lines. I think this is a typography.js config fix.

![image](https://user-images.githubusercontent.com/270536/78499433-b190c300-771e-11ea-8149-9312dc506c9b.png)

[2020-04-05 13:32] kevee commented on #185
An idea below. Although I think we might start to need collapsible cards to really display this information.

![image](https://user-images.githubusercontent.com/270536/78499704-4942e100-7720-11ea-874a-573fa55b3785.png)

[2020-04-05 14:03] kevee commented on #317
Also related to #185 - we are going to need to add more and more columns as we get more data. That is a good thing, but I think we'll eventually need some options to control column displays.

![image](https://user-images.githubusercontent.com/270536/78500478-a50f6900-7724-11ea-93a1-3c19a6e5eab8.png)

[2020-04-05 15:59] careeningspace commented on #185
From a sheets perspective - it is pretty easy to dice it up based on what is reported. [See Tab Here](https://docs.google.com/spreadsheets/d/1MvvbHfnjF67GnYUDJJiNYUmGco5KQ9PW0ZRnEP9ndlU/edit#gid=1540959714)

![Screen Shot 2020-04-05 at 11 58 43 AM](https://user-images.githubusercontent.com/43073915/78503489-d4c66d00-7734-11ea-9f47-7cbb225182ea.png)

[2020-04-05 16:42] kevee commented on #185
Agreed, we just need to get that information into the API, since the US daily data doesn't expose that information.

[2020-04-05 16:43] kevee commented on #185
...also if we're doing something like "Only count states with hospital data," then we also need to differentiate between empty cells (don't report data) and zero (report data, but no one is in the hospital).

[2020-04-05 18:56] vijaysharwar commented on #357
I am available to help with `Visualization` issues. But it's not clear from the [website docs](https://covid19tracking.github.io/website-docs/) how this code is being managed.

Looks like they're only in feature branches for now, yet to be merged to `master`?

https://github.com/COVID19Tracking/website/tree/dashboard-gatsby-map
https://github.com/COVID19Tracking/website/tree/dashboard-gatsby-area-

[2020-04-05 19:56] vijaysharwar commented on #415
I can work on this.

[2020-04-05 19:56] melbee commented on #357
@vijaysharwar I am in progress on this specific issue but could use help on a different D3 axis issue.

Regarding the codebase, currently all the visualization code is in the Dashboard branch, not in master, but the code in Dashboard branch is als getting migrated to Gatsby in a couple of other branches by @jeremiak @goleary

cc @jeremiak @goleary @julia326

[2020-04-05 20:15] vijaysharwar commented on #415
@kevee PR: https://github.com/COVID19Tracking/website/pull/418

[2020-04-05 20:16] vijaysharwar commented on #357
@melbee hit me; which issue?

[2020-04-05 20:38] kevee commented on #357
@vijaysharwar - We have some guidance in the [CONTRIBUTING](https://github.com/COVID19Tracking/website/blob/master/CONTRIBUTING.md) docs, but haven't finished specific docs on branching. For now, try to maintain separate feature branches.

[2020-04-05 20:39] #416 closed

[2020-04-05 20:40] #415 closed

[2020-04-05 20:43] vijaysharwar commented on #357
@kevee 👍 Yup, I read those docs. My question was more about where the visualization stuffs lived, since I couldn't anything relating to these `Visualization` issues in `master`.

As per @melbee's comment above, looks like maybe I'd need to branch from one of these?

https://github.com/COVID19Tracking/website/tree/dashboard-gatsby
https://github.com/COVID19Tracking/website/tree/dashboard

[2020-04-05 20:50] #361 closed

[2020-04-05 21:50] jgulian commented on #397
Cool, that is the page I was looking at; I'm glad I wasn't being stupid. If you decide to move to readthedocs, I would be glad to help with that. Otherwise I'll look for other issues I can do.

[2020-04-05 21:57] kevee commented on #357
Gotcha. I think they're doing work on the `dashboard-gatsby` branch, but I haven't been working on any of the visualization branches lately.

[2020-04-06 00:58] kevee commented on #397
We have it in Contentful now just because we are building out more things like Blogs and that platform is much easier for content editors.

I agree that it's nice for developers to have versioned docs with API changes, and if @webmasterkai wants to manage docs that way, we can manage API docs with just markdown files in the site. Gatsby can easily ingest the markdown file (or anything, really) and

[2020-04-06 01:53] nealmcb opened #421 "Provide links and/or more inclusive "visualization gallery""
_Please let us know the page you are talking about, and your content suggestions!_

The home page (https://covidtracking.com/) shows 3 visualizations "From the visualization gallery". I love that "gallery" idea, implying that there are more and that they are organized somehow. But it doesn't define this "gallery", or provide a nexus for efforts to expand on visualizations.

#91 is now closed, but

[2020-04-06 12:49] nealmcb commented on #421
OK, I dug out some more of the history of this at #71. At the tail end of the PR, the web page link to the list of visualalizations was removed, pending some sort of "broader approval'.
I think it merits a link from the home page.

[2020-04-06 13:19] kevee commented on #421
Hi, @nealmcb - the presentation team is very close to an actual visuzation dashboard within the website, that should be live (*caveat emptor*) soon. That visualization list is something we don't link to yet, I'm flagging this is a content issue so we can first see where it fits in the IA.

[2020-04-06 13:20] nealmcb commented on #421
Now I want to find and update the actual Data Visualizations (used to be visualizations.md), but can't find that or the text in it in the whole website repo.
What am I missing?

[2020-04-06 13:23] nealmcb commented on #421
Thanks for the update, @kevee. Who/where is the "presentation team"? I'm not seeing that anywhere near https://covidtracking.com/about-project

[2020-04-06 13:27] kevee commented on #421
Website content is in Contentful now.

The presentation and visualization folks are working in this branch - https://github.com/COVID19Tracking/website/tree/dashboard-gatsby . We currently don't list team membership on the website, but that's a good idea for down the road. You can see all the amazing visualization the team comes up with on our twitter account.

[2020-04-06 14:14] nealmcb commented on #421
Interesting - thanks. For easy reference, twitter account is at https://twitter.com/COVID19Tracking

OK, I found this background info:
 *  [Launch plan for website v2 · Issue #244 · COVID19Tracking/website](https://github.com/COVID19Tracking/website/issues/244)

So how do we submit PRs on the content?

[2020-04-06 14:58] tealtan commented on #390
Awesome, thank you! Both options look about the same to me, so unless others object, let’s go with option 2?

[2020-04-06 15:02] beep commented on #390
Yeah, option 2 looks like the winner to me! Thanks, @kevee!

(Out of curiosity, could we [expose human-readable class names](https://www.gatsbyjs.org/docs/css-modules/#enabling-user-stylesheets-with-a-stable-class-name)? Would love to be able to support that.)

[2020-04-06 15:21] #384 closed

[2020-04-06 15:21] #386 closed

[2020-04-06 15:30] kevee commented on #390
OK I'll have a PR tomorrow for this, and double plus yes to human readable class names

[2020-04-06 15:44] jasonlcrane commented on #317
I know I'm an outsider here, but I like where you were going with the "summary" example above, and with the history tables idea. The data points in those super-wide tables are not all directly related to each other, or aren't being compared with each other, so I was playing around with an idea like this. Happy to help if I can.
<img width="494" alt="Screen Shot 2020-04-06 at 10 34 58 AM" src="http

[2020-04-06 17:04] toddparker commented on #317
Since these are only one row, we can probably just omit tablesaw and add the markup for the stacked view in the starting markup for each table to avoid needing any JS. Rough sketch but this shows using a H3 for each sub-section and spans for the TH content. Sorry for the hacky CSS -

https://jsbin.com/pewiluk/31/edit

[2020-04-06 19:23] vijaysharwar commented on #357
@goleary I see that you're updating [dashboard-gatsby-map](https://github.com/COVID19Tracking/website/commits/dashboard-gatsby-map) actively. Is that the best place to contribute? And if so, any particular issue you could use help with? cc @melbee

[2020-04-06 21:10] goleary commented on #357
hey @vijaysharwar we need to get our dashboard branch to a stable point before I can throw issues your wa. We're in the process of migrating it from pure d3/js to react/gatsby with d3. I'm hoping we'll be there later today or tomorrow. There are definitely issues you could help with at that point so I'll make sure to circle back once it's ready for you.

[2020-04-07 01:13] kevee commented on #390
Notes for myself:

- [ ] Snapshot site so we see if any layout changes
- [ ] [Use stable class names](https://www.gatsbyjs.org/docs/css-modules/#enabling-user-stylesheets-with-a-stable-class-name)
- [ ] Document stable class names & CSS modules in contributing doc
- [ ] Change SCSS files to `name.module.scss`
- [ ] Refactor SCSS/imports
- [ ] Compare snapshot

[2020-04-07 01:25] kevee commented on #328
@goleary  & @julialedur  - Quick heads up on colors:

We actually have [official color swatches](https://covid19tracking.github.io/website-docs/?path=/story/colors--main-colors).

Those were unfortunately not selected with the idea of graphs/maps etc. in mind. I'd suggest that you reach out to @jasonsantamaria. Come up with a color swatch and we can add them in!

And then to use them in your code,

[2020-04-07 03:07] weatherman0516 opened #480 "Missing end-tags? - Parsing Errors on a Few Tables Using Google Apps Script"
Please check your html code for the following state level tables: Connecticut , Delaware, Florida, Oregon, Rhode Island, and South Dakota. I get the below error only for those main data tables using Google Apps Script.

![err](https://user-images.githubusercontent.com/63274008/78625578-71cef600-785a-11ea-9d99-9d7243616f02.PNG)

The issue should be able to be replicated using:
[code]

[2020-04-07 09:50] #324 closed

[2020-04-07 09:56] kevee commented on #385
Merged issue #397 into this as well and assigned to @friej715 - Here's the takeaway:

Are `date` and `dateChecked` trying to represent the same data (YES)? I wasn't sure. `dateChecked` is documented as ISO 8601 date of the time we last visited their website. While date is not documented I assume it is the day for which historical data is computed.

[2020-04-07 09:57] kevee commented on #397
Merged this into #385, closing.

[2020-04-07 09:57] #397 closed

[2020-04-07 11:09] tomByrer opened #426 "Data tables too wide for moble."
The results tables seem to have a horizontal scrollbar on mobile.  (default `overflow: scroll;`?)
Not a big deal, though I think chunking the state data into groups by section (see orange box in picture) & letting each section float down as the screen narrows is a easy fix in `src\components\pages\data\state-*.js`.

I thought about hacking it myself, since I know React, but I don't know Emotion's

[2020-04-07 15:51] toddparker commented on #317
For responsive tables, I think the stack mode is best when you're not comparing rows so it's good for the state detail pages. Fo the overview (all states), I think you want to compare across rows and do some sorting so we might want different approaches for these views.

I made a second example showing how we could handle a single, large table with lots fo columns and rows. This table uses standar

[2020-04-07 16:42] julialedur commented on #328
Hey Kevin!
Thanks for the heads up!
Will talk to Jason about it :)

[2020-04-07 19:10] julialedur commented on #330
also for new website: add legend, x-axis values and "Get this data from our API" as above

[2020-04-07 19:14] julialedur commented on #353
we need to add some margin around this:

<img width="274" alt="Screen Shot 2020-04-07 at 3 13 50 PM" src="https://user-images.githubusercontent.com/39416238/78709888-6cb58980-78e2-11ea-9cea-6044b6ac83ff.png">

[2020-04-07 19:16] julialedur commented on #352
<img width="120" alt="Screen Shot 2020-04-07 at 3 13 15 PM" src="https://user-images.githubusercontent.com/39416238/78710030-ac7c7100-78e2-11ea-9c11-71549997263c.png">

it looks like some of the gray map lines are on top of the black

[2020-04-07 19:18] julialedur opened #429 "weird blue box on button click"
A weird blue box show up whenever you click buttons on the page:

<img width="1266" alt="Screen Shot 2020-04-07 at 3 17 00 PM" src="https://user-images.githubusercontent.com/39416238/78710253-02511900-78e3-11ea-8419-c78d9af7b54f.png">

[2020-04-07 19:30] julialedur opened #430 "small multiples axes and size"
*x-axis*
we need to fix the x-axis for the small multiples. the last ones a weird again :/

<img width="1296" alt="Screen Shot 2020-04-07 at 3 20 24 PM" src="https://user-images.githubusercontent.com/39416238/78710463-6673dd00-78e3-11ea-82c5-006a2edd1f10.png">

*y-axis*
let's add some breathing space between grid lines and tick values
delete all values except for the first of every row
change all

[2020-04-07 21:28] #312 closed

[2020-04-07 21:30] goleary commented on #357
@vijaysharwar all of our code is merged and *relatively* stable within `dashboard-gatsby`. Feel free to look through the issues and pick up anything labeled 'Visualization' and submit a pr to the `dashboard-gatsby` branch.

[2020-04-07 23:22] jeremiak commented on #357
Hey @vijaysharwar - if you're up for it, mind tackling #349 or #430? Either of them should be branched off `dashboard-gatsby`

[2020-04-08 00:18] goleary commented on #349
@julialedur we got feedback on slack from several people that have no idea what 'choropleth' means. they suggested using 'state map' as the text for the toggle. do you have any ideas for more user friendly names to put in that?

Also are you satisfied with the colors present for 'deaths' & 'total test'?

[2020-04-08 00:29] friej715 commented on #330
Something like this? (Using "million" still seems to be too long, at least in the build I have...) If yes I can make a PR.

![image](https://user-images.githubusercontent.com/1028403/78731699-6b01bb00-790e-11ea-88b1-f93b5cc5365f.png)

[2020-04-08 00:40] nselikoff commented on #351
Custom styling of dropdowns opens up a can of worms in terms of accessibility as you have to break away from the standard `<select>` HTML. If styling in this case is important I'd recommend we consider a library for the select as there's a lot that goes into getting it right. Two that I turned up:

* https://reacttraining.com/reach-ui/listbox/
* https://github.com/downshift-js/downshift

Another p

[2020-04-08 00:53] #320 closed

[2020-04-08 03:03] friej715 commented on #353
Holler if this looks good and I'll make a PR.
![image](https://user-images.githubusercontent.com/1028403/78740169-0b160f00-7924-11ea-8327-e0884dfc642e.png)

[2020-04-08 03:05] friej715 commented on #353
Oh, never mind, saw the PR above.

[2020-04-08 03:47] julialedur commented on #330
almost! should be: [0, 0.5, 1, 1.5, 2, 2.5M]
you can remove the "M" from all values except the highest

[2020-04-08 03:59] julialedur commented on #349
yeah, i guess that makes sense! let's talk about it tomorrow on slack :)
i talked to jason about the colors today and he's gonna give us new hex codes for the gray and purple scales. orangy is still this one:

#FCF9EB
#FBE8A9
#F6CE7A
#F3B05D
#E2894E
#C66B3E
#924F34
#753C2D

[2020-04-08 04:45] jeremiak commented on #353
Thanks though @friej715 !!

[2020-04-08 04:47] #353 closed

[2020-04-08 11:13] #407 closed

[2020-04-08 12:08] kevee commented on #325
Fixed in #391

[2020-04-08 12:08] #325 closed

[2020-04-08 12:11] nselikoff commented on #353
Sorry @friej715 wires crossed

[2020-04-08 12:16] kevee opened #437 "Improve our handling of JS being disabled"
To better serve users with JS disabled, here's some tasks. I don't think right now we need to think about ex

- Use the ole' Paul Irish `no-js` body class. [Helpful instructions for Gatsby](https://curtistimson.co.uk/post/gatsbyjs/add-body-class-gatsbyjs-fouc/), since this should be different on the SSR side vs. the browser side.
- Refactor all the little `<noscript>` styles I am still embarrassed

[2020-04-08 14:45] jasonsantamaria opened #440 "Color palette updates for dataviz"
Let us know what the design issue is. Screenshots are helpful!

Júlia Ledur asked if we could broaden out our purple palette and bring it together with a warm spectrum they are using. So I did!

Here is a list of the latest set of colors and a screenshot below that. All of the purples are the same, I just added three new tones in the middle and lighter end. `Honey` is the warm palette they were al

[2020-04-08 15:38] julialedur opened #441 "add first and last date to slider"
let's annotate the first and last date on the slider (keeping in mind that the last date should update automatically everyday). something like this:

<img width="1062" alt="Screen Shot 2020-04-08 at 10 52 22 AM" src="https://user-images.githubusercontent.com/39416238/78803684-4862b700-798d-11ea-9ddf-5a9704c898c1.png">

[2020-04-08 15:39] julialedur opened #442 "deaths choropleth is broken"
this doesn't look right:

<img width="1267" alt="Screen Shot 2020-04-08 at 10 49 05 AM" src="https://user-images.githubusercontent.com/39416238/78803919-9081d980-798d-11ea-8a48-0b7c115b27cb.png">

[2020-04-08 15:56] goleary commented on #442
yeah i think this is due to null values in our data set.  I can take this one

[2020-04-08 16:38] vijaysharwar commented on #349
I can work on these issues.

[2020-04-08 16:38] jasonlcrane commented on #426
Hi Tom, thanks for the contribution. There is a good discussion going on about this over in this issue: #317

I don't have the ability but I recommend we close this in favor of that one.

[2020-04-08 17:35] vijaysharwar opened #444 "Dashboard map layouts break on small screens"
The styling and layout of both the bubble and choropleth maps are not mobile/small screen friendly.

<img width="376" alt="Bubble map: small screen layout issues" src="https://user-images.githubusercontent.com/63169602/78815002-997aa700-799d-11ea-8be3-3c6cb435d281.png">

<img width="375" alt="Choropleth map: small screen layout issues" src="https://user-images.githubusercontent.com/63169602/788150

[2020-04-08 17:41] vijaysharwar commented on #349
@julialedur PR opened for fixes https://github.com/COVID19Tracking/website/pull/445

Let me know if there are new hex codes for the grey and purple schemes. Can add to this PR, or break into separate issue if you are still deciding on new colors. Same if "choropleth" term needs to be changed.

[2020-04-08 17:58] vijaysharwar commented on #349
@julialedur PR merged https://github.com/COVID19Tracking/website/pull/445 by @jeremiak. But let me know about those other potential changes.

[2020-04-08 17:58] vijaysharwar commented on #430
Working on this.

[2020-04-08 18:17] writenorman commented on #441
looking into it now.

[2020-04-08 18:17] vijaysharwar commented on #430
@julialedur @jeremiak I'm not sure about the proposed solutions. I actually think the individual charts need to be _larger_, not smaller.

The biggest issue is the difference in scale between a state like NY and the majority other states with far lower testing numbers. If we increase the y-axis scaling to accommodate NY's overflow, you won't see *anything* on the vast majority of charts, because t

[2020-04-08 18:34] jeremiak commented on #430
Ya, it definitely presents some challenges. I think we want to do something like this, where one or two of the big outliers just break through their chart so that they're still useful and the rest of the charts are still intelligible.

<img width="1199" alt="Screen Shot 2020-04-08 at 2 31 57 PM" src="https://user-images.githubusercontent.com/780941/78820452-d21e7e80-79a5-11ea-8bca-3eb7be0070ba.png

[2020-04-08 19:21] #442 closed

[2020-04-08 19:36] goleary commented on #327
this has been done but it looks like there's a bug where it reports dec 31 for all tooltip dates. I'll look into this

[2020-04-08 19:42] #327 closed

[2020-04-08 19:43] goleary commented on #328
the original issue is resolved. @julialedur perhaps you should open a new one to start using the swatches once #440 is done.

[2020-04-08 19:43] #328 closed

[2020-04-08 19:45] goleary commented on #327
fixed in `dashboard-gatsby`

[2020-04-08 19:46] goleary commented on #429
I think this is probably imposed by global styles for the entire website. It should however only cover the visible toggle instead of the whole line.

[2020-04-08 20:22] beep commented on #440
(Grabbing this ’cause I’ve got a little time this afternoon, and @kevee asked if anyone could jump in!)

[2020-04-08 20:53] kissane commented on #421
I would suggest holding off until the visualization work actually launches before submitting PRs dealing with it, @nealmcb. That will likely be in the next week, maybe in the ext few days. Some of our work is visible here in the repo but most of the design/viz decisions are being made by a dedicated team working together to get their visualization/dashboard work ready for launch. Once that happens

[2020-04-08 21:09] writenorman commented on #441
please see PR #448

[2020-04-08 21:15] julialedur commented on #349
hey @vijaysharwar and @goleary!
we got new colors from Jason today:

*main colors*

purple (total tests): #575AAD
orange (positive tests): #FFAD4A
gray (deaths): #4C5559

*scales*

Honey:
#6E2F1F
#924F34
#C66B3E
#E2894E
#FFAD4A
#F6CE7A
#FBE8A9
#FCF9EB

Plum:
#111354
#31347A
#575AAD
#6164BA
#8B8DC7
#B6B7DB
#D1D1E8
#F2F2FF

Gray:
#3D4245
#4C5559
#5B666B
#6F7E85
#849096
#95A0A6
#B2BBBF
#D0D7DB

[2020-04-08 21:28] julialedur commented on #430
yeah, this is what we had in our previous page. in this case the fact that NY breaks through the chart is pretty interesting in itself.

i like your idea for a toggle between scales. feel free to add a button at the top if you want.
but the charts should be smaller, otherwise there's no point on making them small multiples. they should be comparable at the same time (or with very little scrolling)

[2020-04-08 21:32] writenorman commented on #430
Small multiples is using a lot of real-estate to display very small amount of information.. perhaps one single large stacked area chart would be better suited for this purpose (normalize both test & positives by state population because some states [vermont/wyoming!!] are vast underpopulated )?

[2020-04-08 21:36] vijaysharwar commented on #430
@jeremiak @julialedur please see PR https://github.com/COVID19Tracking/website/pull/449. I think this is an improvement, but does change the layout quite a bit (single column for small screens, two column for large).

In addition to improvements above, I think we could:
- Provide a UI to set number of columns (let user determine size of the charts depending on their comparison needs)
- Add a +/- U

[2020-04-08 21:42] vijaysharwar commented on #349
@julialedur will update the other colors now.

[2020-04-08 21:43] writenorman commented on #430
Another suggestion for the Y axis would be instead of using cumulative.. use non-cumulative daily data with a moving average (informing the daily throughput showing ability of each state at ramping up testing capacity)

[2020-04-08 21:58] vijaysharwar commented on #349
@julialedur @jeremiak updated in https://github.com/COVID19Tracking/website/pull/450

[2020-04-08 22:01] vijaysharwar commented on #430
I like @writenorman's solutions, but sounds like more substantial changes than should be done through this issue. Might be good to take a step back and scope out the precise needs/functionality before reworking further...

[2020-04-08 22:05] julialedur commented on #430
@vijaysharwar though this is a fairly exploratory viz, there are certain aspects that should be set by us, like number of columns. otherwise it just gets too confusing and impossible for us to get our point across. let's implement your toggle button for per capita numbers. that way we can show:
- how NY's raw numbers are incredibly high
- the comparison between states and how normalizing for popul

[2020-04-08 22:12] AaronMullan commented on #429
Hold on, pull request coming.

[2020-04-08 23:24] AaronMullan commented on #429
PR is in.

[2020-04-09 00:01] kissane opened #452 "Design refinements for the big ol text pages"
We have several long scrolly text pages that could use some love—they're looking real wiiiiide in big windows and just a little bit rougher in general than the data sections we asked the design team to focus on for the relaunch. I'd love to have some design attention and CSS nudges to get these shined up sometime. <3

Examples:

https://covidtracking.com/why-it-matters
https://covidtracking.com/he

[2020-04-09 00:38] nselikoff opened #453 "Isolate SummaryTable CSS"
The CSS for the `SummaryTable` component doesn't seem to be scoped just to that component, so it can bleed into styling of other tables (see https://github.com/COVID19Tracking/website/blob/master/src/scss/components/common/summary-table.scss and https://github.com/COVID19Tracking/website/blob/master/src/components/common/summary-table.js).

I noticed this when working on #435.

[2020-04-09 00:48] nselikoff opened #454 "Dashboard map tooltip table layout and positioning are problematic on small screens"
In addition to #444, the layout and positioning of the map tooltip needs to be fixed for small screens:

![localhost_8000_dashboard_(iPhone 6_7_8)](https://user-images.githubusercontent.com/1994207/78846325-62c28200-79d9-11ea-8567-82f92d27903d.png)

The layout should be easy to fix, but the positioning will require some thought. Assuming we rework the map to be responsive, we may be able to constr

[2020-04-09 01:01] nselikoff commented on #352
Taking a look at this now. The ordering issue should be fixable with `d3.select(this).raise()` (https://riptutorial.com/d3-js/example/18029/svg--the-drawing-order).

[2020-04-09 01:17] nselikoff commented on #352
Actually I don't think this will work, as there's no `this` inside the onMouseEnter callback [here](https://github.com/COVID19Tracking/website/blob/dashboard-gatsby/src/pages/dashboard/charts/_Map.js#L207). I'm new to integrating d3 and React, so I'm not sure what the best approach is here.

[2020-04-09 10:13] #440 closed

[2020-04-09 10:49] #368 closed

[2020-04-09 10:51] #390 closed

[2020-04-09 10:56] kevee commented on #453
Fixed in #427

[2020-04-09 10:56] #453 closed

[2020-04-09 11:25] kevee opened #456 "Adopt a style guide"
We need to adopt a style guide to inform decisions around UI and content. Here's an idea of a direction, let's discuss!

Grade levels are Flesch-Kincaid

- Adopt the [18F style guide](https://content-guide.18f.gov/)
- Set a grade level goal of no greater than 10/11 for all "core" UI: homepage, navigation, data pages
- Set a grade level goal of no greater than 15 for all content who's main audience

[2020-04-09 11:31] beep commented on #440
@jasonsantamaria This landed in #447—let us know if things look okay to you? Happy to take another pass as needed!

[2020-04-09 11:44] kevee opened #457 "Table redesign"
Meta issue of #426, #317, and #379, which have been closed and merged into this one:

We need a flexible way to handle tables across all devices. Let's create a new table component that is:

- **Responsive** - Stacks and reorients itself in mobile devices (#317 has lots of ideas)
- **Customizable** -  users can add/remove columns or column groups
- **Stable for linking** - Customizations by the us

[2020-04-09 11:45] kevee commented on #426
This is **super important**, so I closed and merged it into #457.

[2020-04-09 11:45] #426 closed

[2020-04-09 11:45] kevee commented on #317
This is **super important**, so I closed and merged it into #457.

[2020-04-09 11:45] #317 closed

[2020-04-09 11:46] kevee commented on #379
This is **super important**, so I closed and merged it into #457.

[2020-04-09 11:46] #379 closed

[2020-04-09 12:08] #381 closed

[2020-04-09 12:10] kevee commented on #452
How about we wrap content pages in our ["narrow" container](https://covid19tracking.github.io/website-docs/?path=/story/layout--container-narrow)?

[2020-04-09 12:18] kevee commented on #261
The website already has an Apache license in the codebase, so I'm not sure we need to reiterate that in the website itself. The question about data is a good one, I'm reassigning this to the broader issue queue as that's beyond the scope of the website repo.

[2020-04-09 13:21] jasonsantamaria commented on #440
@beep Thank you! I have an additional suggestion for color naming if you want another one to consider. I've had good luck with using the same convention as CSS font-weight decorations (400, 600, 900, etc)  to allow for some space to expand.

So instead of `$color-plum-1` you would do `$color-plum-100`, then `$color-plum-200`, `$color-plum-300`, and so on. That way later if you need to introduce an

[2020-04-09 13:26] jasonsantamaria commented on #440
(And forgive me if these are techniques you know about or have discounted in the past, I never know how everyone likes to do stuff!)

[2020-04-09 14:45] kevee opened #458 "fix: Clean up default date format"
Our current default date format for history tables is is `dd LLL yyyy ccc`, which yields:

08 Apr 2020 Wed

Ugh

I would suggest changing this to ([token table here](https://moment.github.io/luxon/docs/manual/formatting.html#table-of-tokens)):

`ccc LLLL d yyyy`
`[abbreviated day of week] [full month] [day of month] [year]`
Mon April 8 2020

I'm not sure why we have day of the week, but at the sam

[2020-04-09 15:03] beep opened #460 "Adopt a `font-weight`-like naming system for our color palette"
Per @jasonsantamaria’s suggestion in https://github.com/COVID19Tracking/website/issues/440#issuecomment-611524394, let’s use a `font weight`-esque numeric system for our color “weights”! Here’s Jason’s suggestion:

no screenshots its just css times

[2020-04-09 15:15] beep commented on #440
I have seen many variable naming schemes, but not this particular one! I dig it, Jason. I just opened #460, and will sort this out!

(I might treat the lower numbers as higher weights—e.g., `$color-plum-1` would be `$color-plum-800`—since I’d assume darker colors would correlate to a “heavier” weight. Does that track for you?)

I will think a bit more about this suggestion! I really like it, but I

[2020-04-09 16:25] beep commented on #440
@jasonsantamaria Just opened up https://github.com/COVID19Tracking/website/pull/461, if you’d care to cast your gimlet eye ’pon it! hashtag colors hashtag names hashtag woo

[2020-04-09 17:29] julialedur opened #463 "add "see all data for state" names"
@beep made a good suggestion to make this chart more accessible:
- let's use "See all data for [state name]" instead of "See all data for state"

so we'd have "See all data for New York", "See all data for New Jersey", etc.

[2020-04-09 17:41] jasonsantamaria commented on #440
Totally!

Yep, I get you. I was trying to figure out a way to also describe the color to someone well enough so that they wouldn't need to also see it. But. Yeah, that's tough. :D

[2020-04-09 18:00] toddparker commented on #457
Ok gang let’s get a conversation on what we think is a good approach. In general, the most popular patterns for responsive tables are:

**Overflow** - just wrap it with a side scrolling container (current site does this). This is obviously the easiest approach but since the first cell scrolls away, you lose the context of what each row is so it can be disorientating and you need to scroll around a

[2020-04-09 18:17] #458 closed

[2020-04-09 18:17] kevee commented on #458
I have adopted this very formal date format by fiat.

[2020-04-09 18:21] kevee commented on #456
I also think we should add something to really underline that **every number is a person**.

[2020-04-09 18:37] goleary commented on #352
I wonder if we could use a transparent border that is replaced by a black one on hover? although I'm guessing we may see no lines between states using this method.

Another idea:
From what I understand svg elements appear in the order they are encountered, so we could use another path with a black/gray stroke and transparent fill below (in code) all of the other paths that is added on hover and re

[2020-04-09 18:55] julialedur opened #464 ""In the press" page is broken"
There's a page not found error on https://covidtracking.com/about/in-the-press

<img width="1438" alt="Screen Shot 2020-04-09 at 2 55 12 PM" src="https://user-images.githubusercontent.com/39416238/78930446-2131e580-7a72-11ea-830b-15793ef9925d.png">

[2020-04-09 18:58] jasonsantamaria opened #465 "Redux slate gray palette"
The data folks are having some trouble getting enough contrast across the `slate` palette (as mentioned in #450). It's the only color that has 10 steps, and I'm thinking we should bring it in line with the others at 8 steps. That will make sure we have a little more contrast that they need for choropleth maps.

I'm not sure how many of the existing  `slate` colors are in use, so this may or may no

[2020-04-09 19:07] beep commented on #465
I’ll take a look at this, and see if I can work the changes into #461. Thanks, @jasonsantamaria!

[2020-04-09 19:31] kevee commented on #464
It moved! https://covidtracking.com/about-project/in-the-press

Fixing now.

[2020-04-09 19:37] beep commented on #465
Addressed in https://github.com/COVID19Tracking/website/pull/461! Would love your feedback if you’d care to add any, @jasonsantamaria. (Weirdly, I can’t add you as a reviewer. HM)

[2020-04-09 19:40] #464 closed

[2020-04-09 19:42] kevee commented on #465
He wasn't in our Github org. Invited!

[2020-04-09 19:43] AaronMullan commented on #463
Pull Request coming soon.

[2020-04-09 19:43] beep commented on #465
a-HA. Thanks, @kevee!

[2020-04-09 20:17] beep opened #469 "Refactor color defs in _Map.js?"
Per a discussion with @vijaysharwar over at https://github.com/COVID19Tracking/website/pull/461#issuecomment-611721183, [the color definitions in _Map.js](https://github.com/vijaysharwar/website/blob/8acf4584440d302b0dac9b1b4577599d932ae6d4/src/pages/dashboard/charts/_Map.js#L61-L92) could be refactored to [reference colors.scss directly](https://github.com/COVID19Tracking/website/blob/master/src/

[2020-04-09 20:55] kevee commented on #457
Wow, @toddparker, this is amazing! My thoughts:

I'm super biased, but I love the idea of not using tables when there is a single row of information - it's a lot for a screen reader user to tab around, and it's difficult to scan for sighted users. I'm going to get some more eyes on this.

[2020-04-09 21:14] #460 closed

[2020-04-09 21:14] #465 closed

[2020-04-09 21:40] beep commented on #457
oh my goodness @toddparker, this is _stellar_. I think all the adaptation cases you laid out make sense. (But what I _really_ like is that I think you’re describing a really solid vocabulary we could pull from, which’d let us make decisions about when and how different kinds of tables should adapt.)

I’ve used tablesaw more than a couple times, and _love_ it. I gather there were some performance i

[2020-04-09 22:08] kevee commented on #457
The tablesaw thing was done in haste, I'll take that out and see if I can't address the performance issues.

If we really like the stuff that tablesaw does, and we can't get it to work, we can still reproduce it within React.

100% agree on accessibility statement, I'm making an issue for that. In the past in testing with screen reader users (and me personally, but I am *not* a regular SR user) dr

[2020-04-09 22:08] kevee opened #470 "Accessibility statement"
Shout out to @beep for pointing this out in #457

We should post an accessibility statement. I'll go find some good examples.

[2020-04-09 22:29] toddparker commented on #457
Thanks for the positive feedback so fa! Once we make some decisions of which patterns we want to pursue, I could pair up with a developer to help guide the tablesaw work and get some of the technical risk out of the way with a POC to make sure performance and Gatsby/React compat aren't going to be an issue. I see us using this plugin at most a few times per page, wondering is the original issue wa

[2020-04-10 01:47] raj594 opened #471 "Tests per day column in table"
Can y'all add a column in the table that lists the total tests performed on each day?  This will provide useful context to consumers of the data on your website as it more easily allows them to gauge the influence of the number of tests per day on the trajectory of total confirmed/active cases.

<img width="1282" alt="Screen Shot 2020-04-09 at 8 47 55 PM" src="https://user-images.githubusercontent

[2020-04-10 02:04] kevee commented on #470
Can we just [use this generator?](https://www.w3.org/WAI/planning/statements/generator/#create)

[2020-04-10 04:08] joshuaellinger opened #472 "Timestamp in History"
[I am posting this to Website to encourage you to decide how to display a timestamp on each history row as part of the table redesign -- I did not feel comfortable adding it as a comment under redesign because it felt a little off-topic - Josh]

### Example of the Problem

We have a confusing issue where data comes in after the 2nd shift where we push to history and it gets updated in a way that m

[2020-04-10 04:49] goleary opened #475 "Area chart component doesn't respect it's width & height"
The AreaChart doesn't respect the height & width passed, it just seems to use them for proportions & relies on the container element to constrain it's size

[2020-04-10 04:49] jasonlcrane commented on #452
I added a PR to use the narrow container. Any feedback is much appreciated.

[2020-04-10 10:26] kevee commented on #470
Here is a draft. We can put this in Contentful, and link to it from the footer.

## Accessibility Statement for COVID Tracking Project website

The COVID Tracking Project is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.

## Conformance status
The [Web Conten

[2020-04-10 15:57] julialedur opened #477 "Tooltip tables aren't styled anymore"
Tooltip tables lost styling and alignment. What it looks like now:

![image (8)](https://user-images.githubusercontent.com/39416238/79004154-277f9a80-7b22-11ea-8480-1dd3214cfe4d.png)

What it should look like:

<img width="606" alt="Screen Shot 2020-04-02 at 1 32 22 AM" src="https://user-images.githubusercontent.com/39416238/79004232-54cc4880-7b22-11ea-82fa-1089d4571133.png">

Slack chat:
re: the

[2020-04-10 17:01] jeremiak commented on #463
Done in the above PR

[2020-04-10 17:01] #463 closed

[2020-04-10 17:12] toddparker commented on #457
**Just parking a rough draft of this here that I'll be adding to. We should wait to hear back on the larger direction before we do more work...**

It would be nice if we had a coherent family of visual styles that unified these tables even if they have different modes. If folks want to help out with something concrete, I've started sketching out some design tasks to move the conversation forward: