[2020-04-10 17:21] julialedur opened #478 "see all data from [state abbreviation]"
- let's replace the name of the state in "See all data from [state]" with the **"Data from [abbreviation of the state]"** (Get rid of "See all"). right now it's breaking it into two lines:

<img width="1198" alt="Screen Shot 2020-04-10 at 1 17 43 PM" src="https://user-images.githubusercontent.com/39416238/79009655-045ae800-7b2e-11ea-949b-3039c9bb739a.png">

- le'ts also make the font a bit smaller

[2020-04-10 17:26] julialedur opened #479 "Add toggle for "tests per capita" on sm multiples"
hey @vijaysharwar,
could you add that toggle button for tests per capita on the sm multiples like we talked about yesterday?

please follow style of the map buttons:

<img width="286" alt="Screen Shot 2020-04-10 at 1 25 53 PM" src="https://user-images.githubusercontent.com/39416238/79009963-d1fdba80-7b2e-11ea-81c7-1a16790d9dd0.png">

we'll have "Total tests" and "Test per capita"

[2020-04-10 17:28] julialedur commented on #354
just a reminder that this issue is still pending

[2020-04-10 17:29] julialedur commented on #354
let's also get rid of the capital letters on the choropleth dropdown
so "deaths" instead of "Deaths"

[2020-04-10 17:30] jeremiak commented on #354
I'll pick this one up

[2020-04-10 17:36] julialedur opened #481 "fix size of US chart, add legend, fix axes"
we need to:

- adjust the size of the chart named "Positive tests and total tests in the US" (right now it's huge on the page)

- add a legend (refer to [old dashboard](https://deploy-preview-136--upbeat-lovelace-3e9fff.netlify.com/dashboard/))

- change y-axis scale to millions (0, 0.5, 1, 1.5, 2M)

- add more x-axis date labels (refer to [old dashboard](https://deploy-preview-136--upbeat-lovelac

[2020-04-10 17:44] julialedur opened #483 "death chart collapsible and side by side"
- let's make the horizontal death chart collapsible like in the [old version ](https://deploy-preview-136--upbeat-lovelace-3e9fff.netlify.com/dashboard/)

- let's also use all the previous styles (like right-align state names)

- bars should be #4C5559

- labels should be #828688

- grids should be #9CA1A2 and 0.7

when you're done with that, could you position the two death charts side by side? t

[2020-04-10 17:49] julialedur opened #484 "grids and labels colors"
let's tweak the style of our labels and grids:

- labels should be #828688

- grids should be #B7BCBD and 0.7

[2020-04-10 18:00] vijaysharwar commented on #479
Yep, I can work on this.

[2020-04-10 18:00] kevee commented on #457
I got tablesaw to work in our site and just [tossed it on the US history page in this staging site](https://table-saw-test--goofy-tesla-43452a.netlify.com/data/us-daily). Looks like it works just fine.

There *is* a performance hit, Lighthouse gives the page with tablesaw a 64 for performance, while our current live site is 96. There's a noticeable pause between page load and the tablesaw loading,

[2020-04-10 18:04] julialedur opened #485 "style map slider"
let's tweak the slider style a bit and:

- remove the gradient
- make slider fill #EDF1F2 and stroke #B7BCBD and thin
- make circle fill #ffffff and stroke #000000

it will look like this:

<img width="537" alt="Screen Shot 2020-04-10 at 2 01 47 PM" src="https://user-images.githubusercontent.com/39416238/79012387-2c4d4a00-7b34-11ea-8c39-c1211aa6c37e.png">

[2020-04-10 18:04] kevee commented on #480
This is an issue with markdown parsers, because it generates non-closed <br> tabs.

If you are trying to use apps script to get our data, please just go [ahead and use our handy apis!](https://covidtracking.com/api)

[2020-04-10 18:08] #480 closed

[2020-04-10 18:10] #359 closed

[2020-04-10 18:10] julialedur opened #486 "add titles and subtitles to graphics and section headers"
add titles and subtitles (when applicable) to all graphics.

please use the titles on these mockups (use same styles):

![mockup-part1](https://user-images.githubusercontent.com/39416238/79012608-ad0c4600-7b34-11ea-92a8-57aa50946af3.jpg)

![mockup-part2](https://user-images.githubusercontent.com/39416238/79012621-b09fcd00-7b34-11ea-9367-d0306899d281.jpg)

![mockup-part3](https://user-images.github

[2020-04-10 18:12] kevee commented on #345
Closing for now, there's IA changes coming down the pike, and #412 fixed some of this.

[2020-04-10 18:12] #345 closed

[2020-04-10 18:12] julialedur opened #487 "make sm multiples collapsible on mobile"
@vijaysharwar could you tackle this one?

sort of like this:

<img width="532" alt="Screen Shot 2020-04-10 at 2 11 53 PM" src="https://user-images.githubusercontent.com/39416238/79012832-44719900-7b35-11ea-80ed-0f65de407c8f.png">

"Show all states" and "Show less states"

[2020-04-10 18:14] julialedur opened #488 "add note, source and bylines at the bottom"
please refer to [old dashboard](https://deploy-preview-136--upbeat-lovelace-3e9fff.netlify.com/dashboard/) and add those elements.

Note should be updated to:

**Notes:** We derive the total value by adding together the positive and negative value for each state. This is to account for differences in how states reporting pending tests; California has been inconsistent in its timing of reporting. W

[2020-04-10 18:21] julialedur commented on #479
thank you! :)

[2020-04-10 18:21] vijaysharwar opened #490 "Typography conflicts with CSS"
I'm trying to style some smaller text in the state cumulative tests, but am finding it impossible to override the global line-height that is set on the shorthand `font` attribute and `html` root element by [Typography](https://github.com/COVID19Tracking/website/blob/master/src/utilities/typography.js#L22). I think that [typography library](https://www.npmjs.com/package/typography) is better suited

[2020-04-10 19:00] vijaysharwar commented on #479
Anyone know why there are two different data files with population?

- [/src/data/visualization/state-populations.json](https://github.com/COVID19Tracking/website/blob/e3d26eb07d2c30e385f1a6c47ae2279aa8ccabcb/src/data/visualization/state-populations.json) used in [_MapContainer.js#L10](https://github.com/COVID19Tracking/website/blob/e3d26eb07d2c30e385f1a6c47ae2279aa8ccabcb/src/pages/dashboard/_Map

[2020-04-10 19:07] schwartzadev commented on #471
I'm on board to add this -- it seems like a logical addition to me.

[2020-04-10 19:09] schwartzadev commented on #306
@kevee where are we on these items?

Does this look right?

- Implement branch protection rules for `master`
- Add a `staging` branch that is enabled as a branch deploy in `Netlify`
- ~~Evaluate how to prevent staging PRs from leaking environment variables - probably a Github action that greps for like "ENV_NAME" changes~~
- ~~Make a formal (I mean, like not tooooo formal 👔) process for deploying

[2020-04-10 19:10] kevee commented on #490
This is not a bug, it is by design.

Typography applies rules to the HTML element so it's easy to override. We decided to move SCSS files into the pages directory because we want modular components proximate to their styles #427. This is [considered best practice](https://www.gatsbyjs.org/docs/css-modules/) for Gatsby and CSS modules.

To fix this specific issue, I would suggest applying a class t

[2020-04-10 19:10] #490 closed

[2020-04-10 19:11] goleary commented on #479
the first one `/src/data/visualization/state-populations.json` is correct. If you could remove the other one and update the import that would be awesome!

[2020-04-10 19:15] toddparker commented on #457
Hey that's great @kevee. We can take at look at the performance to see if we have any recs. One thing you're going to want to add is priorities for each column so they can drop off progressively.
https://github.com/filamentgroup/tablesaw

You can see an example below but the idea is you add a `data-tablesaw-priority="2"` to the column header cells in the table. Use a value of `persist` for the fir

[2020-04-10 19:30] vijaysharwar commented on #490
@kevee Thanks for the response :)

I tried applying overrides as you describe, but couldn't get it to work. `line-height` as an attribute on a class is ignored, because the setting on `html` with the `font` shorthand attribute takes precedence.

Even when I tried making an overly super specific rule, like:

[code]

I was unable to successfully override Typography, and I'm not sure why. Possibly sc

[2020-04-10 19:37] goleary commented on #444
i'm working on this

[2020-04-10 19:44] vijaysharwar commented on #479
@goleary mind making that a separate cleanup task/issue, to keep scope of this concise?

Next issue is some of the territories don't have populations in the JS data set, namely:

- Guam
- Virgin Islands
- Marshall Islands
- American Samoa

For the time being, I can create a local hash map in [_StateCumulativeTestsContainer.js](https://github.com/COVID19Tracking/website/blob/dashboard-gatsby/src/pa

[2020-04-10 20:06] raj594 commented on #471
Could probably drop the states tracked column since it seems to have reached the maximum number?  Is there more than 56 "states"?

[2020-04-10 20:08] raj594 commented on #471
I also saw that you guys are considering other table libraries in another issue.  Might be able to put some of this data in tooltips, so for example if I hover over "Total Tests" in today's row it could show amount of new tests today.  Same with positive/negative/deaths.

[2020-04-10 20:12] raj594 commented on #471
Oh nice, just saw you already opened a PR.  Good shit.

[2020-04-10 20:14] julialedur commented on #479
it looks like we track [data for the entire territory](https://covidtracking.com/data), so let's go with the total population of Northern Mariana Islands. we should also change the title on the sm multiples.

[2020-04-10 20:26] kevee commented on #490
Right, some css are still in pages because some pages have specific design needs. Those will make it to components later.

So for the line-height issue, this worked fine:

[code]
![image](https://user-images.githubusercontent.com/270536/79020846-f1551180-7b47-11ea-99d3-a63b72a2422c.png)

[2020-04-10 20:43] AaronMullan commented on #478
<img width="168" alt="Screen Shot 2020-04-10 at 1 41 34 PM" src="https://user-images.githubusercontent.com/50382381/79021713-20ac5400-7b31-11ea-8a65-340a6ea9544f.png">

Should the font of the link still be smaller?

[2020-04-10 20:43] vijaysharwar commented on #490
@kevee ah, I didn't think to use `rem` units. Usually `line-height` is simply be a multiplier, just a number. This works now, I suppose. Will implement during work on https://github.com/COVID19Tracking/website/issues/479.

[2020-04-10 21:05] #470 closed

[2020-04-10 21:29] vijaysharwar commented on #479
@julialedur using "Northern Mariana Islands" doesn't fit on one line:

<img width="524" alt="Screen Shot 2020-04-10 at 5 27 14 PM" src="https://user-images.githubusercontent.com/63169602/79024339-9ffd5000-7b50-11ea-97b7-ffc658f14463.png">

Can we abbreviate? "N. Mariana Islands"?

[2020-04-10 22:04] vijaysharwar commented on #479
See PR above. Two recommendations for @julialedur to consider:

- Abbreviate "Northern Mariana Islands" to fit on one line as per comment above
- New text for the "See all" links. It's very repetitive/wordy. Perhaps use state code, and truncate to "See all XX data". Or a link/caret icon like "> all XX data"

[2020-04-10 22:05] AaronMullan commented on #488
PR incoming

[2020-04-10 22:20] scottjehl commented on #457
Great discussion here. If it helps,  here are some links to performance runs to see what we're looking at.

## Pagespeed Insights

Here's a Pagespeed Insights run of that page. It seemed to do well in both mobile and desktop. I agree there's a little delay in time to interactive, but at least in this run it looked pretty solid. 92 On mobile and 100 on desktop. Nice work.

https://developers.google

[2020-04-10 22:44] amandafrench opened #496 "Feature request: Volunteer Credits page form"
Please let us know the page you are talking about, and your content suggestions!

About the Project at https://covidtracking.com/about-project has a list of contributors at the bottom -- currently that is updated manually from a Google Sheet. We'd like it to be an easier process than that: @kissane suggested that the existing code for press links could be reused for this purpose. Volunteers do nee

[2020-04-10 22:47] amandafrench commented on #496
However I do have OPINIONS, one of which is maybe that should be a whole Separate Page now that our community is groooooowing. kthxbye

[2020-04-10 22:55] kevee commented on #496
I'm thinking we can use the Slack API to just read all our volunteers from Slack. How about "if you join the channel #put-me-on-the-website you will be automatically added?

[2020-04-10 23:07] kissane commented on #496
You know, I…do not hate that.

[2020-04-10 23:08] kissane commented on #496
Whatever is easier for volunteers to do, which it seems like Slack channel is probably easier.

[2020-04-10 23:10] amandafrench commented on #496
Man, I feel like I should hate the proliferation of Slack channels more than I do, but they are damn useful.

[2020-04-10 23:12] amandafrench commented on #496
Would that method allow people to put not just their names but also their links?

[2020-04-10 23:23] vijaysharwar commented on #479
Looks like the second item is being tackled via https://github.com/COVID19Tracking/website/pull/493/files.

[2020-04-10 23:31] julialedur commented on #478
this is good! let's make the titles (state names in bold) a tad bigger, so there's a hierarchy

[2020-04-10 23:56] #471 closed

[2020-04-11 00:10] AaronMullan commented on #478
Here's the current version (12px) and also 14 and 16px versions for comparison.  Do you like either 14 or 16?

![12px (current)](https://user-images.githubusercontent.com/50382381/79030497-1ea4be00-7b4e-11ea-920a-5a10972efd68.png)
![14px](https://user-images.githubusercontent.com/50382381/79030499-1f3d5480-7b4e-11ea-959a-43fce296a436.png)
![16px](https://user-images.githubusercontent.com/50382381/

[2020-04-11 00:26] kevee commented on #496
We could just use their profile info from Slack.

[2020-04-11 04:08] julialedur commented on #478
14 is great! thanks, @AaronMullan! :)

[2020-04-11 04:17] kevee commented on #457
Hi, @scottjehl! Yes, if you can file a separate issue with info on the trailing slash, I think that's a simple issue on Netlify. Thanks for all this insights!

[2020-04-11 04:35] kevee commented on #496
I did a very short search and here's some thoughts:

There's already a few plugins to pull slack users into Gatsby. The technical part should be easy.

We can add new profile fields for public website, public name, and public team membership.

They can add themselves to the public website through either:
Users join a special channel
Or
They just select a "make me public" custom field in their prof

[2020-04-11 10:33] kevee commented on #306
Closing, we have branch protection and we're going to see if that works enough before introducing a staging branch for now.

[2020-04-11 10:33] #306 closed

[2020-04-11 10:34] kevee commented on #333
@julialedur - was this fixed in #431?

[2020-04-11 10:35] kevee commented on #333
Ah the PR says it fixed this issue. I'm closing for now, feel free to reopen.

[2020-04-11 10:39] kevee commented on #331
Hello! This issue looks stale and may have been already resolved. Please close it if that is the case.

If your issue is *still* not resolved, leave a comment to update us on that so we know!

[2020-04-11 12:17] muamichali commented on #496
I am going to work on this! Starting with a test slack instance until I have it down. Will invite you @amandafrench  and @kissane for testing soon.

[2020-04-11 13:08] amandafrench opened #498 "American Samoa social link 404s"
Please let us know the page you are talking about, and your content suggestions!

American Samoa doesn't use Twitter, it uses Facebook. Column E "State Social Media" in the States Matrix therefore links to the FB page, not the Twitter account. The links to "American Samoa on Twitter" on https://covidtracking.com/data and https://covidtracking.com/data/state/american-samoa point to the invalid url

[2020-04-11 13:44] amandafrench opened #499 "Remove screenshots of Western Samoa page from American Samoa"
Please let us know the page you are talking about, and your content suggestions!

From 3/16 to 3/26 we used the wrong page for American Samoa: we used a page for Western Samoa, which is its own country and not a US territory. On https://covidtracking.com/data/state/american-samoa the first *correct* screenshot is from Fri March 27 7:02pm.

We also need to fix our historical data, of course, and I

[2020-04-11 14:13] amandafrench commented on #499
See issue to correct historical data at https://github.com/COVID19Tracking/issues/issues/178

[2020-04-11 14:25] AaronMullan commented on #478
Updated the PR to have the titles be 14px.

[2020-04-11 14:58] amandafrench commented on #498
Never mind, I fixed this in the spreadsheet.

[2020-04-11 14:58] #498 closed

[2020-04-11 15:40] kevee commented on #499
Is this a thing that needs to be fixed in our data sources, or do you need the website to override the API data?

[2020-04-11 17:11] vijaysharwar commented on #487
@julialedur how many state charts should be shown in the collapsed view? Or, thinking responsively, how many rows might be the better question. Current layout:

- < 480px: 2 charts per row
- 480-799px: 4 charts per row
- 800-1199px: 5 charts per row
- 1200px and above: 7 charts per row

[2020-04-11 17:49] vijaysharwar opened #501 "Use classes instead of ID selectors"
Throughout the SCSS, there are examples of using ID selectors. This is a bad practice, as it creates overspecification and decreases modularity. We should replace all ID selectors with classes.

See conversation here: https://github.com/COVID19Tracking/website/pull/500#discussion_r407086177

Further reading: https://stackoverflow.com/questions/8279132/why-shouldnt-i-use-id-selectors-in-css

[2020-04-11 17:51] vijaysharwar commented on #501
@kevee @goleary @beep wondering further if the project should set SCSS style guidelines. Or consider some sort of convention like [OOCSS](http://oocss.org/) or [BEM](http://getbem.com/introduction/).

[2020-04-11 17:55] nselikoff commented on #477
Taking a look at this now.

[2020-04-11 18:14] nselikoff commented on #501
@vijaysharwar looks like there's a first pass at style guidelines in Storybook; if you run `npm run storybook` then go here you'll see it: [http://localhost:6006/?path=/docs/styling--page](http://localhost:6006/?path=/docs/styling--page)

This could be expanded with info about classes instead of ID selectors.

Also, I'm seeing a few components that are using [CSS Modules](https://create-react-app.

[2020-04-11 18:30] julialedur commented on #333
hey @kevee!
this was fixed, but since then more states issued stay-at-home orders, so the graphic isn't updated.

[2020-04-11 18:33] julialedur commented on #331
hey!
the layout will still change with the new text/headers etc.
i'll open another issue once we have the final text, which is being edited [here](https://docs.google.com/document/d/1Gssfv1KLOa5fzeSmFWJqJmRMgQp3kXLvwaO7popsWOA/edit#).

[2020-04-11 18:33] #331 closed

[2020-04-11 18:45] julialedur commented on #487
i think it should be how many rows fit on the screen without scrolling.

so:
< 480px: 3 rows
480-799px: 4 rows
800-1199px: 4 rows
1200px and above: feel like it doesn't need to be collapsible?

[2020-04-11 18:47] julialedur commented on #357
is anyone working on this?

[2020-04-11 18:49] vijaysharwar commented on #357
Seems like @melbee is? https://github.com/COVID19Tracking/website/issues/357#issuecomment-609473124

[2020-04-11 18:50] julialedur commented on #349
can we update the gray scale to the new one?

Slate:
#313638
#4C5153
#676B6D
#828688
#9CA1A2
#B7BCBD
#D2D6D7
#EDF1F2

thanks!

[2020-04-11 18:53] julialedur commented on #354
<img width="274" alt="Screen Shot 2020-04-11 at 2 53 01 PM" src="https://user-images.githubusercontent.com/39416238/79052381-27f06200-7c04-11ea-96cb-557eab81b044.png">

- looks like second words are still capitalized
- should be "positive tests" instead of "positive cases"

[2020-04-11 18:54] julialedur commented on #355
anyone working on this? @jeremiak @goleary @vijaysharwar @melbee

[2020-04-11 18:57] julialedur opened #503 "make CDC charts smaller and centered"
<img width="1270" alt="Screen Shot 2020-04-11 at 2 56 51 PM" src="https://user-images.githubusercontent.com/39416238/79052459-b238c600-7c04-11ea-8f28-b208fb00601a.png">

- let's make these first two charts 40% smaller on the page
- not so far apart
- and centered on the page

[2020-04-11 19:01] julialedur commented on #357
looks like she was running into issues.
@melbee holler if you need help with this?

[2020-04-11 19:32] nselikoff commented on #485
I'll take this one

[2020-04-11 19:39] goldfarb commented on #503
- I'm going to work on this -

[2020-04-11 20:46] melbee commented on #357
Ah, I was helping someone else with some issues they were having. Regarding this issue for tooltips I am no longer working on this since the tooltips I was working on were for our original implementation using britecharts (I didn’t realize we were using D3 until after I started the britecharts tooltips so now the tooltips need to be rewritten / implemented for D3). Right now I am migrating horizon

[2020-04-11 21:09] nselikoff commented on #352
Thanks for your thoughts @goleary; helped me think about it a bit differently and fix it!

[2020-04-11 22:42] AaronMullan commented on #475
PR #506

[2020-04-12 01:39] schwartzadev commented on #501
Style guidelines sound good to me -- I know that we recently moved from SCSS to SCSS modules, so there is certainly some scarring there.

As far as the classes/ID selectors, it looks like this has been resolved in 4088fa258ff74b4d899d7ab1cf52457ae3ac6fd3, so I'm going to close this issue.

With `grep -r "#.*:" components/ scss/` from the `src` directory, I'm not finding any matches in CSS, so I do

[2020-04-12 01:39] #501 closed

[2020-04-12 01:42] schwartzadev commented on #472
Shout-out to @joshuaellinger for the _super_ detailed PR -- thank you!

@webmasterkai  -- would you be able to expose that last updated field on the API?

I think we should try to resolve this ASAP

[2020-04-12 02:38] kevee commented on #496
Quick note: This will require creating a new API integration with `users:read` scope.

[2020-04-12 02:47] #429 closed

[2020-04-12 02:57] nselikoff commented on #501
@schwartzadev there are IDs in use within the dashboard in the `dashboard-gatsby` branch (a lot of components haven't been extracted to `components/` yet)

[2020-04-12 03:40] metasj commented on #395
Until this is working, perhaps replace those links with the text "If you would like a GraphQL endpoint, leave us feedback on [this issue](https://github.com/COVID19Tracking/website/issues/395)".

[2020-04-12 09:55] hammer opened #507 "Screenshot ordering on state pages"
What is the logic for the ordering of times in the "Screenshot" column on state pages? [SC](https://covidtracking.com/data/state/south-carolina), for example, has "6:14 pm 12:15 pm 6:14 am 12:15 am" for April 11. These times don't appear to be ordered lexicographically or chronologically. It would be nice to order them chronologically.

[2020-04-12 10:17] kevee commented on #507
There is no order! I'll fix that.

[2020-04-12 10:37] kevee commented on #507
Here's a [preview of the SC page](https://deploy-preview-509--upbeat-lovelace-3e9fff.netlify.com/data/state/south-carolina). Looks good:

![image](https://user-images.githubusercontent.com/270536/79066706-22d4f680-7c88-11ea-838a-a0091871f54f.png)

[2020-04-12 18:52] writenorman commented on #430
PR #513 adds gap on yAxis tick, and relocated the "See all data from..." href link.

The whole point of small-multiples format is for quick side-by-side comparison (fit as many as you can on a single screen, not suitable for small screens)  Another good metric is Test Coverage for each state:

This can be approximated by percent of positives rate of total tests administered;  Which could be furthe

[2020-04-12 19:06] vijaysharwar commented on #430
@writenorman please see comment in https://github.com/COVID19Tracking/website/pull/513#issuecomment-612661315.

We've already:

- Removed all ticks and made charts responsive in https://github.com/COVID19Tracking/website/pull/449
- Added a toggle to switch between total tests and per capita in https://github.com/COVID19Tracking/website/issues/479

I think this issue probably should've been closed

[2020-04-12 19:56] goldfarb commented on #349
@julialedur @jeremiak @goleary updated the grays in [#514](https://github.com/COVID19Tracking/website/pull/514)

[2020-04-12 22:43] melbee commented on #483
@julia326 I applied all the changes from the bullet points in this PR.

for the final request "when you're done with that, could you position the two death charts side by side? thanks!", can we create a new separate issue for that and for all final layout and styling updates after all core functionality and charts are added?

I think this will help reduce conflicts, duplicate work and make sure we

[2020-04-12 23:09] melbee commented on #357
@vijaysharwar please let me know if you ended up starting on this one for the D3 implementation. thanks!

[2020-04-12 23:32] vijaysharwar commented on #357
@melbee I have not, sorry. Been working on other issues. Will post here if I have time to pick it up.

[2020-04-12 23:45] melbee commented on #357
got it - i'm going to remove myself as the assignee from this issue since I won't be able to work on this today and don't want to block if someone else can take it cc: @julialedur

[2020-04-13 01:38] beep commented on #452
@kissane Happy to take a crack at this tomorrow if they’re still unclaimed!

[2020-04-13 13:03] kevee commented on #315
Removed content in Contentful.

[2020-04-13 13:03] #315 closed

[2020-04-13 13:13] scottjehl opened #519 "Redirect performance - unnecessary 301?"
Hi there. There's an odd 301 redirect on some pages that seems to occur on every load. It ends up delaying page rendering by up to 2 seconds on an average mobile phone. It looks like it's there to add a trailing slash and then remove it... but I'm not sure. I can see it in WebPageTest waterfalls so it's clearly not just a clientside issue.

I'm not sure if it's intentional, but if that 301 could b

[2020-04-13 13:46] kevee commented on #496
**Crazy idea # 4722**: In the past, I've always tried list numbers of volunteers to illustrate engagement & impact. What if we had this page lede with "We have [x number] volunteers, [y number] of whom have been active in the past week. Here are some of those:"

[2020-04-13 14:52] kevee commented on #519
This was related to the addition of `gatsby-plugin-remove-trailing-slashes` - I'll do a PR later today for testing.

[2020-04-13 15:17] scottjehl commented on #519
Sounds good. Maybe a canonical meta tag would get what you need for SEO there without the url cleanup. That idea came from @hankchizljaw

[2020-04-13 15:20] hankchizljaw commented on #519
Yeh what I was getting at was say you have `http://example.com/my-page` and you wanted to enforce trailing slashes, you could have:

[code]

[2020-04-13 15:49] kevee opened #520 "feat: Contact form"
We need a contact form for answering questions. Requirements:

- [x] A page should live at `/contact` that pulls in content from Contentful snippets. I created a stunt copy one with the slug `contact-page`. You can see examples of using a snippet in `/src/pages/data/index.js` - there's a GraphQL query to grab a snippet from Contentful (query name `dataPreamble`), then we put it in the body of the

[2020-04-13 16:19] schwartzadev opened #521 "fix: no-js nav doesn't link to states"
**Describe the bug**
A clear and concise description of what the bug is.

To replicate:
1. Disable javascript
2. Go to the data index page
3. Click on one of the states in the state nav

The IDs in the no-js nav are currently of the form `#state-AK`, yet the actual item ids are of the form `#state-ak`, which seems to be breaking the in-page links.

The expected behavior would be to jump to the sta

[2020-04-13 16:20] #507 closed

[2020-04-13 16:21] #437 closed

[2020-04-13 16:31] julia326 commented on #483
Hi @melbee! I think you probably mean to tag @julialedur (on this and related visualization github issues)?

[2020-04-13 16:31] beep commented on #452
Here’s [a quick pass on what our text-heavy pages might look like](https://www.figma.com/file/fKUKsYMNw3NLSyIEOI1HKc/v2-refresh?node-id=0%3A14). And here’s a screenshot, if you’d prefer!

<img width="1440" alt="Content page" src="https://user-images.githubusercontent.com/124493/79138034-cd7d1000-7d81-11ea-9442-6a8a329edd04.png">

This mockup’s got two different subhed levels, numbered and bulleted

[2020-04-13 16:34] beep commented on #452
(Edited https://github.com/COVID19Tracking/website/issues/452#issuecomment-612976070, as I goofed when exporting the mockup. #goofs)

[2020-04-13 16:50] goleary commented on #444
working on this one

[2020-04-13 16:52] julialedur commented on #357
@vijaysharwar @AaronMullan @goldfarb could one of you pick this up today?

[2020-04-13 17:47] kevee commented on #520
@friej715 is on it!

[2020-04-13 17:52] goldfarb commented on #355
I've resized the map, do we want to have a smaller version for mobile?

[2020-04-13 17:54] amandafrench commented on #499
The data sources are all fixed now (I hope), but it's just the earlier screenshots of the wrong website that I think should be removed. Note what we've done in related issue https://github.com/COVID19Tracking/issues/issues/178 which hero @careeningspace just closed.

[2020-04-13 17:54] julialedur commented on #355
cool! looks great 🎉
I think @goleary is working on the [mobile version](https://github.com/COVID19Tracking/website/issues/444).

[2020-04-13 17:57] amandafrench commented on #496
I'd love that! Have been reporting Slack members & guests in #status from the Slack member directory. Be great if you have some way of measuring "active" volunteers too (e.g., who has posted anything in Slack in the past week).

[2020-04-13 18:30] #488 closed

[2020-04-13 18:31] #485 closed

[2020-04-13 18:51] kevee commented on #519
So here's a deploy preview. Now we have the opposite issue:

https://deploy-preview-525--upbeat-lovelace-3e9fff.netlify.com/data
redirects to:
https://deploy-preview-525--upbeat-lovelace-3e9fff.netlify.com/data/

I am calling this issue on hold for now until we can do testing in a separate Netlify app.

[2020-04-13 19:05] scottjehl commented on #519
Interesting. Sounds good. I think that might be a reasonable enough fix if the links on the site go to that trailing-slash version. As long as the site links to the eventual url you want it to resolve to, I'd think that'll essentially avoid the redirect.

[2020-04-13 19:06] kissane commented on #520
Hello! This is amazing, @friej715 and @kevee! Here's some content stuff:

The COVID Tracking Project runs on the effort and diligence of hundreds of volunteers, and we welcome your contribution. Please take a moment to select the best way of contacting us with your question or comment so that we can address your message as quickly as possible.

### I think I found a problem in the data
To report a

[2020-04-13 19:07] kissane commented on #520
(Only that final section should actually do form-to-mail/Slack/etc.)

[2020-04-13 19:17] #521 closed

[2020-04-13 19:47] kevee commented on #456
Happening in a different channel of amazing people, closing.

[2020-04-13 19:47] #456 closed

[2020-04-13 19:56] #483 closed

[2020-04-13 20:40] AaronMullan commented on #357
I think I can look at this in a couple hours if nobody else is on it yet.

[2020-04-13 21:50] kissane commented on #452
Faaaaabulous ty @beep!

[2020-04-13 21:50] kissane commented on #452
Yes please

[2020-04-13 21:52] toddparker commented on #452
~ chef kiss ~

[2020-04-13 21:58] schwartzadev commented on #452
I can tackle this today or tomorrow!

[2020-04-14 02:44] AaronMullan commented on #357
OK this was more complicated than I had anticipated.  I had guessed the tooltip was something built in to D3 or was an npm package I could easily feed props to.  On closer inspection it seems Gabe built the Tooltip.  It's going to take me a minute to figure out how to build similar tooltips for the other chart types that will let us make them look consistent with what we have for the map.

[2020-04-14 02:51] goleary opened #528 "add listener for window for map/lengend adjustments"
currently the map & legend styling/size don't change automatically (requires page reload).

Adding a listener would improvement the experience on mobile when user rotates their device.

[2020-04-14 03:44] friej715 commented on #520
Okay, I've been coding all day for work and am a bit bleary-eyed, but I believe [this](https://github.com/COVID19Tracking/website/compare/master...friej715:jane/contact?expand=1) includes just about everything we want. (I think I have some remaining CSS tweaks to make it @beep-aligned :D)

Could I get a gut-check to make sure the way I've structured the components etc. seems correct? (Also if you'

[2020-04-14 17:13] jeremiak opened #530 "CDC and project data bar charts need the same X axis"
The first bar chart compares CDC data to our project's data. In order to be more comparable, they need to have the same X axis so that a reader can easily scan the difference.

<img width="1111" alt="Screen Shot 2020-04-14 at 1 13 17 PM" src="https://user-images.githubusercontent.com/780941/79253870-e523c980-7e51-11ea-958e-6f7b14e6c6e9.png">

[2020-04-14 17:17] jeremiak opened #531 "X axis labels get cut off on bar chart"
The x axis labels are getting cut off on the right hand side, we should make sure that no axis labels are getting cut off on the charts. Its preferable to label an axis point that is further from the end of the data domain.

<img width="497" alt="Screen Shot 2020-04-14 at 1 15 39 PM" src="https://user-images.githubusercontent.com/780941/79254109-3c299e80-7e52-11ea-9250-b7a6ece3ba9f.png">

[2020-04-14 17:20] jeremiak opened #532 "Vertical bar chart too wide for the page on mobile"
The vertical bar chart showing state level deaths is too wide and doesn't wrap on smaller displays. This leads to a horizontal scroll. Let's make the chart wrap into the single column layout we use for phones.

<img width="434" alt="Screen Shot 2020-04-14 at 1 18 37 PM" src="https://user-images.githubusercontent.com/780941/79254329-932f7380-7e52-11ea-9dc0-547e4f41f34c.png">
<img width="422" alt="S

[2020-04-14 17:22] jeremiak opened #533 "Area chart is way too big"
The area chart we use under the heading of "Positive tests and total tests in the US" is far too big for the page, making it hard to read. Let's make the width consistent with our other charts.

As you can see in the screenshot, I can't get the whole chart in a single shot.
<img width="1401" alt="Screen Shot 2020-04-14 at 1 20 51 PM" src="https://user-images.githubusercontent.com/780941/79254568-e

[2020-04-14 17:42] vijaysharwar commented on #530
I can take a look at this, but it may not be easy. I don't think D3 gives precise control over the ticks (by design, to allow scaling and dependency on the data). I suspect we're seeing different ticks because the data for these two charts is different.

[2020-04-14 17:46] goldfarb commented on #533
-- I'll give this a shot --

[2020-04-14 17:47] jeremiak commented on #530
Yup, agreed on your root cause analysis @vijaysharwar! One way we've done this before is to add props called like `yExtent`, which is an array that is used for the `.domain` of the Y scale. Maybe we should do a similar set of props for the X axis?

[2020-04-14 18:17] goleary opened #534 ""per million people on map" is misleading"
@julialedur
This makes it look like the US has 23k deaths per million people.

![image](https://user-images.githubusercontent.com/16123225/79259258-43947c00-7e41-11ea-8343-b32cea8a3c30.png)

The number presented here is absolute.  Options:
- make the number per capita
- move the text elsewhere (maybe that's accounted for in what you and @jeremiak have been discussing)

[2020-04-14 18:18] vijaysharwar commented on #530
@jeremiak using `extent` won't work, because of the way [scaleBand](https://github.com/d3/d3-scale#scaleBand) operates. I think we need to normalize the two data sets before sending to `BarChart`. Here're the current data ranges:

- CDC: January 18 - April 8
- Ours: Feb 28 - April 13

So programmatically speaking, I think we need to find the earliest and latest dates from the two sets, and apply t

[2020-04-14 18:19] jeremiak commented on #530
Makes sense to me as a good approach @vijaysharwar!

[2020-04-14 18:26] vijaysharwar commented on #530
Or we could switch to `scaleTime` instead of `scaleBand` in `BarChart`. So far, all three instances of `BarChart` have dates on the x-axis. But this would obviously restrict how we can use that component.

[2020-04-14 18:31] vijaysharwar commented on #530
Yeah, @jeremiak I think we need to switch to `scaleTime`. Because `scaleBand` doesn't automatically extrapolate missing items. I think it just outputs 1:1, so we'd need the two data sets to contain the precise number of items with equivalent date values.

[2020-04-14 18:33] hsitz commented on #534
I would add that data display in general should have 'per capita' items.   I've noticed that there're are a lot of poor comparisons being made between states (and countries) from people comparing only raw numbers.  Per capita data is a much better way to compare.

How, for example, am I to compare the statistics for Nebraska to those for Kentucky?  Nebraska has less than half as many people, so th

[2020-04-14 18:41] gitjeff05 commented on #441
Can this be closed?

[2020-04-14 18:42] gitjeff05 commented on #330
Can this be closed? I am seeing it in the current preview.

[2020-04-14 18:47] jeremiak commented on #441
Yup!

[2020-04-14 18:47] #441 closed

[2020-04-14 19:18] goleary commented on #330
sure, although I'm seeing a problem with how it's displayed. I'll open a new issue for it.

[2020-04-14 19:18] #330 closed

[2020-04-14 19:20] goleary opened #536 "Area Chart Y-axis displaying incorrectly"
The Y-axis isn't displaying numbers correctly. "1.0" here should be "1.0M"
![image](https://user-images.githubusercontent.com/16123225/79264879-1bf5e180-7e4a-11ea-9b19-0579716dc41a.png)

[2020-04-14 19:26] goleary commented on #536
i've got this

[2020-04-14 19:29] #536 closed

[2020-04-14 19:29] goleary commented on #532
i can take a stab at this.

[2020-04-14 19:52] julialedur opened #537 "use new text and layout"
let's put the new text on the page and arrange graphics according to new layout, [outlined in this doc](https://docs.google.com/document/d/1Gssfv1KLOa5fzeSmFWJqJmRMgQp3kXLvwaO7popsWOA/edit#).

please change graphics titles and notes to the ones in the document

[2020-04-14 19:55] julialedur opened #538 "add * after map"
Add this right under the maps:

*Per one million people

[2020-04-14 19:59] julialedur opened #539 "put death charts side by side"
we need to layout the death charts side by side (US cumulative on the left)

also, let's change US cumulative chart to an **area** chart and #4C5559

[2020-04-14 20:08] goleary commented on #534
go this

[2020-04-14 20:11] sarawb opened #541 "IA / Nav edits - prepare for blog launch"
It's time to launch the blog!

Opening this issue to document decisions made on Slack with @kissane and @schwartzadev.

**Before we launch**
- Blog styling is mostly good to go, ideally we'll get #535 reviewed and merged in before we launch (this is in process).
- @kissane is confirming final content for first blog post and setting up in Contentful. We won't make the blog live on the site till we

[2020-04-14 20:11] julialedur opened #542 "buttons still turn blue on click"
this weird thing is still happening when you click buttons:

<img width="314" alt="Screen Shot 2020-04-14 at 3 48 40 PM" src="https://user-images.githubusercontent.com/39416238/79269105-e5c85a00-7e69-11ea-82c7-683f81e17e52.png">

<img width="201" alt="Screen Shot 2020-04-14 at 4 06 00 PM" src="https://user-images.githubusercontent.com/39416238/79269109-e660f080-7e69-11ea-9ee8-f7d18a151007.png">

[2020-04-14 20:17] julialedur opened #543 "link data on sm multiples state titles"
so, i talked to the design folks and they told me it's okay from an accessibility perspective to link the states data on the state title instead of writing "View data from XX" 100 times

let's do that to avoid repetition!

[2020-04-14 20:21] julialedur opened #545 "make date follow map slider cursor"
- let's delete the big date at the top
- let's make the date follow the slider circle on the map, like this:

<img width="535" alt="Screen Shot 2020-04-14 at 4 18 09 PM" src="https://user-images.githubusercontent.com/39416238/79270189-a995f900-7e6b-11ea-8282-2bfdc3f72c82.png">

it's a good solution for the weird alignment of first and last date we have right now

[2020-04-14 20:22] julialedur opened #546 "gray scale on map is the old one"
the Slate color scale on the deaths map is still the old one.

should be this:
#313638
#4C5153
#676B6D
#828688
#9CA1A2
#B7BCBD
#D2D6D7
#EDF1F2

[2020-04-14 20:22] vijaysharwar commented on #531
I'm working on this alongside https://github.com/COVID19Tracking/website/issues/530.

[2020-04-14 20:22] #532 closed

[2020-04-14 20:22] #534 closed

[2020-04-14 20:24] goleary commented on #546
it's pulling the colors from `/src/scss/colors.scss`.

I think this is a function of no one ever pulling the updates from master into this branch.
Once we merge from master these colors will update.

[2020-04-14 20:24] goleary commented on #545
this seems like this shouldn't be a blocker for us shipping.

[2020-04-14 20:32] goleary commented on #542
we removed this a while back but it created an accessibility issue so we readded it.

elsewhere on the site has a similar effect:
![image](https://user-images.githubusercontent.com/16123225/79271197-42207f00-7e54-11ea-9931-1b0086aaca1d.png)

Do we want to replicate this style in the dashboard?

[2020-04-14 20:34] goleary commented on #538
got this

[2020-04-14 20:37] #538 closed

[2020-04-14 20:38] schwartzadev commented on #541
Looks great! Thanks for porting this all here. #548 will be the step to move the _global_ nav when we're ready to go.

[2020-04-14 20:39] #355 closed

[2020-04-14 20:39] #349 closed

[2020-04-14 20:39] #333 closed

[2020-04-14 20:40] #352 closed

[2020-04-14 20:40] #356 closed

[2020-04-14 20:41] #354 closed

[2020-04-14 20:41] #444 closed

[2020-04-14 20:42] #477 closed

[2020-04-14 20:43] #478 closed

[2020-04-14 20:44] #479 closed

[2020-04-14 20:57] julialedur commented on #542
yes! was just about to comment this here! let's do the dashed border in #D0D7DB?
so it's not conflicting with our colors

[2020-04-14 21:01] AaronMullan commented on #530
Dang I was just working on this and forgot to add a comment.  I'll put in a PR in case you guys like the solution I came up with.

[2020-04-14 21:05] AaronMullan commented on #530
PR  #549

[2020-04-14 21:12] vijaysharwar commented on #530
@AaronMullan ack, sorry to be overlapping. I commented in #549, but I have a different approach that normalizes the two data arrays. I think it'll be more future proof, but definitely adds complexity. cc @goleary @jeremiak

[2020-04-14 21:18] julialedur commented on #546
got it!

[2020-04-14 21:37] julialedur commented on #545
sure, we can change this later! but then let's just delete the dates below the slider, that alignment is confusing

[2020-04-14 21:47] AaronMullan commented on #542
I'll start on this one.

[2020-04-14 21:48] goleary opened #551 "state picker doesn't work on mobile (chrome android)"
the state picker doesn't work on mobile.

after having selected 'California':

![image](https://user-images.githubusercontent.com/16123225/79277542-df80b080-7e5e-11ea-9c75-95a19bf381ae.png)

error from console:
[code]

Android lts + Chrome lts

[2020-04-14 21:53] goleary commented on #545
really? i'd be more confused without any dates shown.

I can adjust the padding on the left data to more center align it with the beginning of the slider.
![image](https://user-images.githubusercontent.com/16123225/79277893-86fde300-7e5f-11ea-8bf2-b3182534926e.png)

[2020-04-14 21:58] julialedur commented on #545
okay, sounds good!
let's center-align the dates with datapoints then? so april date is also center aligned?

[2020-04-14 22:03] AaronMullan commented on #542
I don't see that dashed border on focus elsewhere on the site?

[2020-04-14 22:07] julialedur commented on #542
it's on the homepage buttons too!

<img width="261" alt="Screen Shot 2020-04-14 at 4 48 25 PM" src="https://user-images.githubusercontent.com/39416238/79278910-cc7bd980-7e7a-11ea-96dc-dd3eb9ecc7ba.png">

[2020-04-14 22:09] AaronMullan commented on #542
So weird, I don't see it!

[2020-04-14 22:10] AaronMullan commented on #542
<img width="255" alt="Screen Shot 2020-04-14 at 3 10 28 PM" src="https://user-images.githubusercontent.com/50382381/79279100-1d330880-7e62-11ea-88a7-31f4f02a6230.png">

[2020-04-14 22:11] julialedur commented on #542
that's weird! did you click it?

[2020-04-14 22:13] AaronMullan commented on #542
OK I think I understand.  It shows up on focus, not hover.  That color looks black to me, though, right?

[2020-04-14 22:17] schwartzadev commented on #542
Just hopping in here! I think the color is `#012656` for the "Get the Data" button on the homepage.

[2020-04-14 22:23] AaronMullan commented on #542
Thanks, schwarzadev.  I think you are correct.  Are we supposed to refer to that as $color-blueberry-1?

But maybe on the dashboard it should be D0D7DB  aka $color-slate-9?

[2020-04-14 22:32] AaronMullan commented on #542
I put in PR #553

[2020-04-14 22:47] AaronMullan commented on #543
I can work on this now.

[2020-04-14 22:59] gitjeff05 commented on #398
Perhaps this is not part of this PR, but what kind of standardized date format is "Mar. 26, 2020?"

Also, couldn't the date updated just be _one_ field at the top instead of on each element? Would these values ever be updated individually?

[2020-04-14 23:03] AaronMullan commented on #543
PPR #554

[2020-04-14 23:04] julialedur commented on #542
thanks!

[2020-04-14 23:05] AaronMullan commented on #542
![Screen Shot 2020-04-14 at 4 05 20 PM](https://user-images.githubusercontent.com/50382381/79282330-c5989b00-7e69-11ea-8239-26e989edde6a.png)

[2020-04-14 23:23] schwartzadev commented on #541
I'm just adding a more detailed launch process here:

Launch Process
-----

1. Lock Netlify builds
2. Merge #548 to adjust the global nav and add redirect from `/help` to `/about/help`
3. Update Contentful
  a. Replace dummy blog post content with real blog post content
  b. Adjust How You Can Help page
    i. Change Slug to `/about/help`
    ii. Change Navigation Group to `About the project`
4. D

[2020-04-14 23:58] julia326 opened #555 "Missing documentation for some API fields on https://covidtracking.com/api"
There are some fields that have been confusing folks, especially the cumulative/current ICU/vent/hospitalization counts. Some of these have been hidden from the website (e.g. from US Daily) but we're still serving them in the API and they're not documented  on https://covidtracking.com/api.

(These fields are more urgent than others, but it would be great to make sure we document every API field w

[2020-04-15 00:50] #543 closed

[2020-04-15 00:50] #539 closed

[2020-04-15 00:52] goleary commented on #545
![image](https://user-images.githubusercontent.com/16123225/79287419-976e8780-7e78-11ea-97dc-c52427b40cf0.png)
done for now. Going to remove this from the project since the further refinement doesn't block deployment

[2020-04-15 00:53] #503 closed

[2020-04-15 00:54] #542 closed

[2020-04-15 01:03] goleary opened #557 "misalignment of 'CDC' on comparison chart"
![image](https://user-images.githubusercontent.com/16123225/79287954-3778e080-7e7a-11ea-8af2-0912e083838f.png)

[2020-04-15 01:24] vijaysharwar commented on #487
@julialedur this issue is done and can be closed! 🚀

[2020-04-15 01:27] vijaysharwar commented on #531
@julialedur this is resolved via #552, can close this Issue.

[2020-04-15 01:27] vijaysharwar commented on #530
@julialedur this is resolved via #552, can close this Issue.

[2020-04-15 01:36] #537 closed

[2020-04-15 01:37] #531 closed

[2020-04-15 01:37] #530 closed

[2020-04-15 01:37] #533 closed

[2020-04-15 01:46] #557 closed

[2020-04-15 09:38] gitjeff05 commented on #555
I could be mistaken, but I believe these statistics are no longer tracked:

https://covidtracking.com/data

Perhaps a "deprecated" link under each endpoint on the API page that expands to show all deprecated stats would clear up confusion.

[2020-04-15 10:57] muamichali commented on #555
Tagging @friej715 so you can update the Swagger documentation with these fields if they are not already there https://github.com/COVID19Tracking/website/pull/517

[2020-04-15 15:11] julialedur opened #562 "bars should be purple on CDC charts"
let's change the color of the bars on these two charts to #575AAD

<img width="682" alt="Screen Shot 2020-04-15 at 11 10 18 AM" src="https://user-images.githubusercontent.com/39416238/79353992-ced94480-7f09-11ea-9209-0b3521af9f0d.png">

[2020-04-15 15:14] julialedur opened #563 "changes to US death charts"
<img width="463" alt="Screen Shot 2020-04-15 at 11 09 02 AM" src="https://user-images.githubusercontent.com/39416238/79354143-03e59700-7f0a-11ea-8108-37e94c2c4f4f.png">

- bars on this chart should be #4C5559
- let's change it to **daily new deaths** instead of cumulative

[2020-04-15 15:21] julialedur opened #564 "not all buttons are styled the same on focus"
please make sure all buttons on the page are styled the same on focus. these ones are different right now:

<img width="131" alt="Screen Shot 2020-04-15 at 11 16 16 AM" src="https://user-images.githubusercontent.com/39416238/79354796-dea55880-7f0a-11ea-9d73-10b874c37785.png">

<img width="229" alt="Screen Shot 2020-04-15 at 11 04 58 AM" src="https://user-images.githubusercontent.com/39416238/79354

[2020-04-15 15:23] goldfarb commented on #563
- I'll work on this -

[2020-04-15 15:29] vijaysharwar opened #565 "Typo on dashboard causes botched apostrophe special char"
In [dashboard/index.js](https://github.com/COVID19Tracking/website/blob/dashboard-gatsby/src/pages/dashboard/index.js#L127) line 127:

[code]

The special character has a typo and doesn't render. It should be:

[code]

[2020-04-15 15:37] kevee commented on #520
@friej715 This is GREAT! I say do the PR!

[2020-04-15 15:42] julialedur opened #566 "labels on death chart don't align with lines"
<img width="426" alt="Screen Shot 2020-04-15 at 11 36 26 AM" src="https://user-images.githubusercontent.com/39416238/79356962-6e4c0680-7f0d-11ea-9b95-1e4f988117d2.png">

- we need to align labels with grid lines
- let's also do 0, 2, 4, 6, 8, 10,000 for labels (only put ,000 in last label). we don't use "k" based on our style guide

[2020-04-15 15:44] julialedur opened #567 "cute "M" for all labels except last"
on this chart, let's only leave the last "M", in "3M"

<img width="643" alt="Screen Shot 2020-04-15 at 11 43 06 AM" src="https://user-images.githubusercontent.com/39416238/79357654-51fc9980-7f0e-11ea-8a28-8da8f45b7102.png">

[2020-04-15 16:00] julialedur opened #569 "subhead and headers styles"
**Subhead**
- use these styles for subhead:
<img width="167" alt="Screen Shot 2020-04-15 at 11 46 33 AM" src="https://user-images.githubusercontent.com/39416238/79358205-ecf57380-7f0e-11ea-9ede-ca999b6b9a6e.png">

- add margin-top: 50px; to first paragraph after subhead
<img width="1069" alt="Screen Shot 2020-04-15 at 11 46 07 AM" src="https://user-images.githubusercontent.com/39416238/79358115-d6

[2020-04-15 16:05] schwartzadev commented on #541
Live @ https://covidtracking.com/blog/ :tada:

[2020-04-15 16:05] #541 closed

[2020-04-15 16:09] vijaysharwar opened #571 "Streamline dashboard chart styles"
Each of the chart sections on the dashboard use different CSS classes and styles. The location of styles is also not consistent. For example, some charts use classes set in [dashboard.scss](https://github.com/COVID19Tracking/website/blob/d4d6def2a9754bdff0ef1a4e44a3998834dd94de/src/pages/dashboard/dashboard.scss) while others have their own partial SCSS files, like [state-cumulative-deaths-contain

[2020-04-15 16:11] julialedur opened #573 "alignment of chart headers"
let's align our chart headers to charts. here's how it should look like:

<img width="665" alt="Screen Shot 2020-04-15 at 12 05 01 PM" src="https://user-images.githubusercontent.com/39416238/79360030-59717200-7f11-11ea-81c4-b2e8bdfc6c4b.png">

<img width="467" alt="Screen Shot 2020-04-15 at 12 05 50 PM" src="https://user-images.githubusercontent.com/39416238/79360114-773ed700-7f11-11ea-9266-b91e30

[2020-04-15 16:12] julialedur opened #574 "tooltip for 2 charts"
if we have time, we should add a tooltip for the sm multiples. this is the most important one, since we removed our y-axis labels

we should also add one to the POSITIVE TESTS AND TOTAL TESTS IN THE US chart

if this is complicated and we don't have time, let's add back the gridlines to the sm multiples and labels on the first chart of every row

[2020-04-15 16:13] kevee commented on #452
Fixed in #535

[2020-04-15 16:13] #452 closed

[2020-04-15 16:15] julialedur opened #575 "stay-at-home line stroke-width"
in our sm multiples, we should make the line stroke for the stay-at-home orders the same in the chart and in the legend key (right now it's thicker on the legend)

i suggest something in the middle of the two

[2020-04-15 16:31] julialedur opened #576 "text edits"
here are the text edits we need to make:

- Close the space here in “it ’s” (“Because COVID-19 testing and reporting are inconsistent among states, it ’s easy to misinterpret the data.“)

- Delete mid-page header (“On this page, you will find …“) and change previous sentence to "If you plan to display data from the COVID Tracking Project yourself, please closely follow these design and visualizati

[2020-04-15 16:35] julialedur opened #577 "remove periods from months on the page"
we need to remove the period in all months to match our [style guide](https://docs.google.com/document/u/5/d/1fi_v-Bs5R3a8e3mqFe9Lz7C_LYAF49FI3KMsS1h-nqw/edit#).
so instead of "Mar. 27", let's do "Mar 27"

(don't forget the map tooltip!)

[2020-04-15 16:37] julialedur opened #578 "add key to big area chart"
[as hannah suggested](https://covid-tracking.slack.com/archives/C01089TFL5Q/p1586964669272400?thread_ts=1586963310.265900&cid=C01089TFL5Q), we should add a key to this chart, in case readers forget thee color coding from the map.

<img width="467" alt="Screen Shot 2020-04-15 at 12 05 50 PM" src="https://user-images.githubusercontent.com/39416238/79363320-bff88f00-7f15-11ea-8a92-9bfee96977d0.png">

[2020-04-15 16:40] julialedur opened #579 "use html codes for quotes, apostrophes and dashes"
let's use these html codes:

open and close quotes
&#8220;     &#8221;

single quotes
&#8216; &#8217;

em dash
&mdash;

should be an easy fix with find and replace! 😉

[2020-04-15 16:44] olivierlacan opened #580 "Blog index needs lateral margin/padding on narrow viewports"
![88E98C19-D966-4FAD-B202-D3340373A4BE](https://user-images.githubusercontent.com/65950/79363936-9429d900-7f16-11ea-96be-32758824e30d.png)

The blog post page itself is fine it’s only the index page for the blog itself that needs some margins on the left and right.

[2020-04-15 16:48] kevee commented on #421
The viz team is launching the new dashboard, so we are closing this for now.

[2020-04-15 16:48] #421 closed

[2020-04-15 17:02] #499 closed

[2020-04-15 17:17] goldfarb commented on #579
I'll work on this - should be easy, but also need to be careful not to replace ' and " as escape characters -

[2020-04-15 17:35] julialedur opened #581 "align map legend with toggle"
let's bring the legend up a little bit so it aligns with the toggle on the right and also adds some breathing space between legend and map

<img width="1260" alt="Screen Shot 2020-04-15 at 1 33 36 PM" src="https://user-images.githubusercontent.com/39416238/79368681-ca1e8b80-7f1d-11ea-81f0-84c6f6a36459.png">

[2020-04-15 18:06] kevee commented on #496
I've setup the three new fields, and sent @muamichali the API keys.

[2020-04-15 18:16] kissane commented on #576
I propose this stripped-down version of the intro text that punts the larger project of explaining the data-reporting failings of the CDC to our Why It Matters page so we can get folks dug into your visualizations sooner. (And also it's nice to have a single place for the CDC complaining so we can easily keep it up to date on their latest moves.)

[2020-04-15 18:21] #580 closed

[2020-04-15 18:28] kissane commented on #576
Note that when we revise to the above intro, we should strike this standalone disclaimer which I've wrapped into our big all-purpose disclaimer.

[2020-04-15 18:33] kevee commented on #551
Tested and confirmed in browserstack: enter key works, but tapping a dropdown item throws an error. The FetchEvent is an unrelated Gatsby issue that isn't a problem.

[2020-04-15 18:52] julialedur opened #585 "add light-gray bg to small multiple svgs"
let's do background: #EDF1F2; for the small multiples svgs, like this:

<img width="1012" alt="Screen Shot 2020-04-15 at 2 45 36 PM" src="https://user-images.githubusercontent.com/39416238/79376776-a7de3b00-7f28-11ea-85c2-f9b7bdb90165.png">

this solves the problem @tealtan pointed out, that the previous layout was throwing off sense of alignment, especially because of the black lines

[2020-04-15 19:06] goleary commented on #571
I think the first step of this can be converting from using local/inline styling to use (s)css modules like is done within the rest of the repo.

I'm going to start by updating the chart components which I have already moved to `/src/components/charts` to use modules.

[2020-04-15 19:40] #487 closed

[2020-04-15 20:51] nealmcb commented on #421
Thanks again folks for all your work on this.
FWIW, in order to help people track status and progress and find ways to contribute, I think it is helpful to either keep unresolved issues open, or link to related issues or pull requests where updates can be tracked. I see that the branch referred to above is still active, but doesn't have e.g. a WIP pull request to track, which might be helpful.

[2020-04-15 20:55] vijaysharwar commented on #565
This is covered in https://github.com/COVID19Tracking/website/issues/576. Closing.

[2020-04-15 20:55] #565 closed

[2020-04-15 21:06] vijaysharwar commented on #562
I'm working on this.

[2020-04-15 21:12] vijaysharwar commented on #562
Actually, this looks like it has already been fixed in `master` via https://github.com/COVID19Tracking/website/commit/c7ebb9a7ac7cf89be5b287353c5e3501fe165a6c. @goleary good to close this issue?

[2020-04-15 21:32] kevee opened #588 "Date and time formatting, "Last updated" language"
We now have a style guide which outlines requirements for UI, including clear langauge and consistent date formatting. Date format tokens are [Luxon's format](https://moment.github.io/luxon/docs/manual/formatting.html#table-of-tokens). Let us:

- [x] Change the words "Last synced with our spreadsheet:" to "Last updated from our data:"
- [x] Change the format of the last synced to `h:mm a` and lowe

[2020-04-15 21:33] AaronMullan commented on #564
I will start on this now.  I will target the specific divs which contain the buttons, as well as links.

[2020-04-15 21:34] vijaysharwar commented on #564
@AaronMullan I actually just started on this...

[2020-04-15 21:34] vijaysharwar commented on #564
I'm thinking now that we're merged to `master`, it might best be handled by editing `global.scss`.

[2020-04-15 21:40] AaronMullan commented on #564
OK I'll look for another issue.

[2020-04-15 21:49] vijaysharwar commented on #564
PR opened, but probably needs review from the wider website team since global styles have been updated.

[2020-04-15 21:57] vijaysharwar commented on #484
I'm working on this one.

[2020-04-15 22:01] AaronMullan commented on #575
I will look at this.

[2020-04-15 22:41] kissane opened #590 "Global nav edits"
Heeeey it's time to do more crimes in the global nav to make homes for new things coming in. Here is what we have for this evening:

1. Rename Get the Data --> **Our Data**
2. Rename About the Data --> **How to Use It**
3. Replace Data API with new item: **Why It Matters**
4. Rename About the Project --> **About Us**
5. Keep as is: **Blog**

@kevee or @schwartzadev, may I leave this in your hands?

[2020-04-15 23:15] AaronMullan commented on #575
What I've found:

The stroke of the annotations in the chart are set by strokeWidth to be 2px.  This is set in the area-chart.js file.  BUT the stroke re-scales depending on the width of the chart. So it's looking like at this chart width (750px) the stroke is thinner than it would otherwise be.  I can get it closer by changing the legend to 1px like this:

` &.chart-legend-stay-at-home {
    back

[2020-04-15 23:15] AaronMullan commented on #575
![Screen Shot 2020-04-15 at 4 13 14 PM](https://user-images.githubusercontent.com/50382381/79397968-4f149f80-7f34-11ea-95d5-18306fd0252a.png)

[2020-04-15 23:18] julialedur commented on #575
awesome! thanks 😄
could you also take care of [this issue](https://github.com/COVID19Tracking/website/issues/585) while you're at it @AaronMullan?
super easy fix.

[2020-04-15 23:22] julialedur opened #593 "bubble legend style"
- let's also change this legend to match our labels:

<img width="221" alt="Screen Shot 2020-04-15 at 11 17 13 AM" src="https://user-images.githubusercontent.com/39416238/79356349-d0f0d280-7f0c-11ea-9502-dcf8da1527d6.png">

use #828688 for labels and make them 15px
let's also align them left and if possible add a bit of margin bottom so they're not on top of the dashed line

<img width="204" alt="

[2020-04-15 23:23] julialedur commented on #484
bubble legend style moved to [this issue](https://github.com/COVID19Tracking/website/issues/593).

[2020-04-15 23:35] vijaysharwar commented on #571
Some initial work has been done in https://github.com/COVID19Tracking/website/pull/594, where I've consolidated styles for `AreaChart`, `BarChart`, and `HorizontalBarChart` into a single `charts.module.scss` module.

Would still like to see better layout classes/styling, plus fully relying on `viewBox` only on all SVGs.

[2020-04-15 23:38] vijaysharwar commented on #542
This should be fixed by https://github.com/COVID19Tracking/website/pull/589. I think it's a dupe of https://github.com/COVID19Tracking/website/issues/564 at this point.

[2020-04-15 23:40] AaronMullan commented on #585
Working out some margin/border issues.

![Screen Shot 2020-04-15 at 4 40 02 PM](https://user-images.githubusercontent.com/50382381/79399284-cb5cb200-7f37-11ea-84f8-1e35a3ad5750.png)

[2020-04-15 23:42] vijaysharwar commented on #566
@julialedur the x-axis labels are better aligned (centered on the vertical lines) via https://github.com/COVID19Tracking/website/pull/594.

<img width="410" alt="Screen Shot 2020-04-15 at 7 40 35 PM" src="https://user-images.githubusercontent.com/63169602/79399349-1a631100-7f51-11ea-9864-45868abb18a6.png">

[2020-04-15 23:59] julialedur commented on #585
i think if you just apply it to the svg it works!

[2020-04-16 00:03] vijaysharwar commented on #574
@julialedur I don't think we can easily add the grid lines back to these. The charts are too small (the numbers will not be legible if displayed within the `AreaChart` instances). And it would be a high lift to add labels to each row, because the number of row items changes according to breakpoint. I also think it'll be tricky to convey y-axis values on the "Per Capita" charts.

For adding tooltip

[2020-04-16 00:29] AaronMullan commented on #585
Aha, it does!  Sorry, was on a call, PR coming.

[2020-04-16 00:54] schwartzadev commented on #590
Food for thought: if we're changing `Get the Data` to `Our Data` on the nav, do we want to change it in the big blue homepage button as well?

[2020-04-16 00:56] #590 closed

[2020-04-16 01:24] schwartzadev commented on #588
Which dates are you referring to?

I'm seeing:
* The ones in the historical tables
* The `Last updated` values
* The `Last synced with our spreadsheet` values

[2020-04-16 01:25] goleary commented on #562
should be but something didn't take...it's still black on master.

[2020-04-16 01:56] julialedur commented on #574
hey @vijaysharwar,
i was thinking the second one!

about per capita data, sounds good! we can round the numbers too
thanks!

[2020-04-16 10:42] kevee commented on #588
The ones in the historical tables - I think you can just change the default format in `/src/components/common/format`

[2020-04-16 12:38] gitjeff05 opened #598 "API stats for sparse data"
Since [some state level statistics are sparse](https://covidtracking.com/data) (e.g., current hospital/ICU admissions/ventilator), Some insights into the data that is captured and provided through the API would be helpful. Reading issue #555 made me think about this as it is somewhat related.

Using the sparse fields `hospitalizedCurrently` and `hospitalizedCumulative` as an example, the following

[2020-04-16 14:23] goldfarb commented on #569
-- I'll work on this --

[2020-04-16 15:04] #585 closed

[2020-04-16 15:05] #575 closed

[2020-04-16 16:17] vijaysharwar commented on #562
@goleary when I pull down `master` locally, though, they're purple as expected. So you mean something isn't taking on _deployment_ of `master`? Very odd...

[2020-04-16 16:23] vijaysharwar commented on #562
The `fill` attribute should be filled in at the React component rendering level, so this isn't even a matter of botched CSS or something.

Here's what I have inspecting locally:

<img width="1601" alt="Screen Shot 2020-04-16 at 12 19 49 PM" src="https://user-images.githubusercontent.com/63169602/79480877-b423d000-7fdc-11ea-9e69-915979a89630.png">

Whereas here's what's currently on https://covidtr

[2020-04-16 16:34] vijaysharwar opened #602 "Dashboard has horizontal overflow on small viewports"
On smaller viewports, we have horizontal overflow and scrolling as follows:

- Below 800px: due to the two column layout and non-responsiveness of "Total deaths in the US" and "Total Deaths By States" charts
- Below 400px: due to overflow with the map legend and tooltips

Recommendations:
- [X] Make "Total deaths in the US" and "Total Deaths By States" charts scalable/responsive (using `viewBox` o

[2020-04-16 16:34] #569 closed

[2020-04-16 16:40] schwartzadev opened #603 ""Our tracker is supported by" font is tiny"
Let us know what the design issue is. Screenshots are helpful!

See the race data page:
![image](https://user-images.githubusercontent.com/18607205/79482670-5e482b80-7fce-11ea-9f14-97fd5a37274f.png)

This could probably be fixed by removing `font-size: .5rem;`

[2020-04-16 16:41] schwartzadev opened #604 "Footer logo doesn't link to homepage"
My expected behavior when clicking on the CTP logo in the footer is to jump to the homepage. (This is the case for the nav logo and on many, many sites.)

It doesn't do that at the moment.

[2020-04-16 16:44] schwartzadev commented on #598
I _really_ like this idea, and I would suggest adding this type of info to the [us-totals](https://covidtracking.com/data/us-daily) page.

One concern that comes to mind is the "x hrs ago" format...I don't think our current build system would support that without client JS. Regardless, I think this type of info is important and I'm sure we can figure something out.

[2020-04-16 16:46] vijaysharwar commented on #573
Working on this.

[2020-04-16 17:10] vijaysharwar opened #605 "Audit dashboard for semantic HTML"
In at least some cases, we are using `<p>` tags instead of `<h*>` tags in the dashboard. Now that the entire page is constructed, we should thoroughly review and set proper heading levels for better SEO and page-wide consistency.

We can also consider:

- Making better use of semantic `<section>` and `<header>` tags for the various page sections
- Using `<aside>` for things like legends and footno

[2020-04-16 17:45] gitjeff05 commented on #598
Thanks for the feedback @schwartzadev. I think we could probably just use the "date" field from our API instead of "updated x hrs ago." This part _could_ live on us-totals, however the relevant stats are no longer included in the US API, only states. I was thinking of putting it on the [Our Data](https://covidtracking.com/data). Maybe under the caveats:

Also, including a table for reference in ca

[2020-04-16 18:02] goleary commented on #562
sometimes I see a difference in what is shown using `gatsby develop` and the end result of `gatsby build`.

This is due to build process not being able to execute all JS for some reason.  I got around this for the map by putting the colors in .scss instead of in JS.

[2020-04-16 18:03] #484 closed

[2020-04-16 18:06] goleary commented on #593
I can take care of this

[2020-04-16 18:32] scottmcdaniel opened #606 ""Want to get involved? Help us get better data" link on homepage is a 404"
Hello. On the homepage, the text in the subject line is supposed to link to https://covidtracking.com/help, but it leads to a 404.

I think it needs to link to https://covidtracking.com/about-project/help (which was probably supposed to be /help).

![screenshot_656](https://user-images.githubusercontent.com/1933230/79493131-066dec80-7fef-11ea-942c-b5dd8fa89fca.png)

[2020-04-16 18:56] goleary commented on #562
tackling this

[2020-04-16 19:03] kevee commented on #606
Thanks for pointing that out, @scottmcdaniel, we're on it!

[2020-04-16 19:17] jasonlcrane commented on #551
I was poking around on this as well on my device. I don't see any related errors that are being thrown, but I think it's because the `jump-to-state` input retains focus on Android (in multiple browsers). Since that state picker element is not sticky on smaller screens, and the input is focused, the page quickly scrolls down to the hash where it should and then scrolls back up to the focused input.

[2020-04-16 19:27] julialedur opened #609 "line-height of notes/byline section"
there's a lot of space in the notes/byline section of the page.
i suggest changing to something like this:

<img width="1119" alt="Screen Shot 2020-04-16 at 3 23 52 PM" src="https://user-images.githubusercontent.com/39416238/79497866-6a47e380-7ff6-11ea-9dce-56a03da665bb.png">

i did:
- margin-bottom: 0; for all the text of that section
- added a margin-top: 50x; to "Notes" so there's a bit more se

[2020-04-16 19:37] #604 closed

[2020-04-16 19:37] #606 closed

[2020-04-16 19:47] julialedur opened #610 "sm multiples accessibility"
as Todd Parker pointed out in this great thread, SVG charts aren’t useful to someone on a screen reader because they are just shapes, not readable data values, so he suggested:

- making the small SVGs “invisible” to a screen reader by adding focusable="false" aria-hidden="true" just to keep them from adding clutter as a person navigates through the grid (also hide toggle button and legend)

- add

[2020-04-16 19:50] goleary opened #611 "global colors.scss exports not accessible during build"
When building the site, colors exported from `./src/scss/colors.css` are not made available to the components that import this file.

Everything works fine when using `gatsby develop`

I wonder has something to do with at which step the (s)css modules are handled during the build process?

using ndb when I log the result of `import colors from '../scss/colors.scss` from any file that does this, th

[2020-04-16 19:56] AaronMullan commented on #577
I will do this at 2:30 Pacific today if it's not done before.

[2020-04-16 20:01] AaronMullan commented on #577
Oh wait I think it was super easy.  PR #612

[2020-04-16 20:20] AaronMullan commented on #567
Currently the chart is showing in 500k increments.  Should the M's still be removed?

<img width="562" alt="Screen Shot 2020-04-16 at 1 18 31 PM" src="https://user-images.githubusercontent.com/50382381/79502826-0832b280-7fe5-11ea-8d4b-322c93da0131.png">

[2020-04-16 20:24] #611 closed

[2020-04-16 20:25] #562 closed

[2020-04-16 20:26] julialedur commented on #567
i don't think you have the latest version, @AaronMullan
it should look like this:

<img width="579" alt="Screen Shot 2020-04-16 at 3 30 21 PM" src="https://user-images.githubusercontent.com/39416238/79503382-11c91400-7fff-11ea-837a-b4750a9e939a.png">

[2020-04-16 21:13] vijaysharwar commented on #571
PR #618 takes care of a lot of the layout consistency issues and introduces a `dashboard.module.scss` file. To wrap this up, need to finish porting the remaining classes to this module file.

[2020-04-16 21:15] vijaysharwar commented on #602
#573 resolves the charts scaling, stacks the total deaths charts on small viewports.

[2020-04-16 22:14] julialedur opened #620 "N. Mariana Islands in sm multiples"
let's change Northern Mariana Islands to "N. Mariana Islands" in the sm multiples, so it doesn't break into two lines

also, let's use state abbreviations (NY, CA, etc) on sm screens to solve that problem.

<img width="475" alt="Screen Shot 2020-04-16 at 6 01 15 PM" src="https://user-images.githubusercontent.com/39416238/79511852-1648f900-800e-11ea-840d-f99f36757a0d.png">

[2020-04-16 22:20] vijaysharwar commented on #620
Working on this now.

[2020-04-16 22:50] julialedur opened #622 "use same x-axis for all sm multiples"
we need to use the same date range on the x-axis on the small multiple charts.

@vijaysharwar: "We’ll need to calculate a shared extent across all states in _StateCumulativeTestsContainer.js and pass it to all AreaCharts ."

[2020-04-16 23:01] vijaysharwar commented on #622
I can work on this.

[2020-04-16 23:21] #520 closed

[2020-04-16 23:22] AaronMullan commented on #622
Well I have a simple solution for it, but usually Vijay has a more elegant one!  PR $#623

[2020-04-16 23:24] nselikoff commented on #609
@julialedur PR is ready and includes screen shots for desktop and mobile

[2020-04-17 00:05] nselikoff commented on #581
I'll work on this one @julialedur

[2020-04-17 00:18] vijaysharwar commented on #622
I don't know if it's "elegant", but https://github.com/COVID19Tracking/website/pull/625 fixes this by passing a shared `extent` to all small multiple `AreaCharts`. We derive the value by checking all dates for all states. The benefit here is if some states dates don't match towards the most recent end of the scale, the charts will still have equivalent x-axes.

[2020-04-17 00:36] nselikoff commented on #610
I'll work on this :)

[2020-04-17 00:36] #577 closed

[2020-04-17 01:09] #581 closed

[2020-04-17 01:30] #593 closed

[2020-04-17 01:34] jeremiak commented on #579
This was closed by #584.

[2020-04-17 01:34] #579 closed

[2020-04-17 02:16] nselikoff commented on #610
Per discussion with @julialedur in Slack:

* hide the small multiple svgs and legend to screen readers
* instead of hiding the toggle, add "Sort by:" prior to the toggle, which would also clarify to other users what the toggle does
* this way, the order of the individual state links makes sense to all users
* don't add the replacement description for the group listed in the github issue, because i

[2020-04-17 03:06] schwartzadev opened #628 "storybook build currently fails"
**Describe the bug**
A clear and concise description of what the bug is.
run `npm run storybook`

[code]

[2020-04-17 03:29] #628 closed

[2020-04-17 03:30] goleary commented on #628
Sorry for breaking this and thanks for fixing it!

[2020-04-17 03:50] schwartzadev commented on #628
No worries :raised_hands:

[2020-04-17 05:01] #571 closed

[2020-04-17 05:01] #573 closed

[2020-04-17 12:57] #603 closed

[2020-04-17 13:42] #588 closed

[2020-04-17 14:22] vijaysharwar commented on #602
@goleary can we reopen this? Majority issues are fixed, but still some horizontal scrolling issues due to the map. See checklist in the issue description.

[2020-04-17 14:24] vijaysharwar commented on #571
@goleary if closing this, should we make another issue to finish off the refactor of dashboard/map classes to `dashboard.module.scss`? See the last checklist item: "All chart classes moved to module SCSS file".

[2020-04-17 14:36] kevee commented on #26
I get the feeling like this is not needed as the project has grown in size and stature. I'm closing this issue and referencing it in a strategy document for the next version of the site so it's not lost.

[2020-04-17 14:36] #26 closed

[2020-04-17 14:55] jefflembeck opened #632 "feat: Analytics"
Right now we're using Netlify's analytics. It seems solid for tracking pages visited and total visitors, without tracking users or private information.

If we want something more comprehensive (goal tracking, for example), we'll need to switch to something else.

Requirements

- [ ] No user data kept
- [ ] No server code required (static site, so...)
- [ ] Ability to do campaign/goals
- [ ] Some b

[2020-04-17 15:59] vijaysharwar opened #634 "Fix map toolips for smaller viewports and mobile devices"
The map tooltips do not operate well currently on mobile devices. Also, the tooltip positioning falls offscreen on small viewports.

Recommended fixes for V1 launch:

- [ ] Disable map tooltips below `viewport-md` (< 768px screens)
- [ ] Fix positioning of tooltips to the right of the screen to ensure they do not overflow outside the viewport

<img width="922" alt="Screen Shot 2020-04-17 at 11 31

[2020-04-17 16:06] vijaysharwar opened #635 "Reinstate map tooltips on smaller screens"
For V1 launch, map tooltips are to be disabled on smaller screens via https://github.com/COVID19Tracking/website/issues/634 .

This Issue is about restoring the functionality, which likely requires some thought/redesign.

Possible strategies:
- Decreasing size of tooltips
- Decreasing amount of information inside tooltips
- Put tooltips content in a single container above or below the map

[2020-04-17 16:27] julialedur commented on #635
perhaps we can do just total numbers for the bubble map and per capita numbers for the choropleth?

[2020-04-17 17:45] #622 closed

[2020-04-17 17:46] #620 closed

[2020-04-17 18:06] #578 closed

[2020-04-17 18:27] imart27 commented on #27
Can I bump this? Just looking for more accurate info to get in the public eye.

Even less specific than specificity and sensitivity, is the type of test being used and results particular to each tests. Knowing this could seriously help the progress we're making in combating the virus.

I don't know how, in this day and age, our public health system doesn't have the ability/requirement to compile t

[2020-04-17 19:49] kevee commented on #496
@muamichali has all the volunteer stuff from Slack done. Great job! Now let's get this into a working volunteer page. Steps:

- [ ] Create a new page at `/src/pages/about-project/volunteers.js`
- [ ] Add the Contentful snippet with the slug `volunteer-preamble` to the top. Check out the [Contact page for an example](https://github.com/COVID19Tracking/website/blob/master/src/pages/contact.js) of qu

[2020-04-17 21:06] #563 closed

[2020-04-17 21:22] #609 closed

[2020-04-17 21:25] vijaysharwar commented on #567
Working on this.

[2020-04-17 21:33] vijaysharwar opened #639 "y-axis labels have lost styling on bar charts"
The y-axis labels have a regression bug, where the newer `dashboard.module.scss` styling is no longer applied. They should be grey and sized the same as the x-axis.

Currently:

<img width="690" alt="Screen Shot 2020-04-17 at 5 28 44 PM" src="https://user-images.githubusercontent.com/63169602/79615728-6fc62c00-80d1-11ea-8935-9fe0cd2b762c.png">

Expected:

<img width="771" alt="Screen Shot 2020-04-

[2020-04-17 21:54] kevee commented on #564
Closing per #589

[2020-04-17 21:54] #564 closed

[2020-04-17 21:54] #546 closed

[2020-04-17 22:12] #567 closed

[2020-04-17 23:56] schwartzadev commented on #632
Both from an accessibility standpoint and from a UX standpoint, I would _love_ to avoid client-side JS. With that being said, if we do opt for a client-side JS solution, I would ask to avoid "session replay" types of analytics. (FullStory, Hotjar, etc.)

I'm not super sure if this is relevant here, but Netlify supports "split tests" (A/B testing) natively, if that's something we want to explore.

[2020-04-18 14:48] vijaysharwar opened #644 "Dashboard responsive charts layout issues on iPhone"
We're still having issues with responsive charts layout on iPhone X. See screenshots below.

<img width="374" alt="Screen Shot 2020-04-18 at 10 42 15 AM" src="https://user-images.githubusercontent.com/63169602/79640843-e7439c00-8161-11ea-909b-550bdc8a4dee.png">

<img width="373" alt="Screen Shot 2020-04-18 at 10 42 41 AM" src="https://user-images.githubusercontent.com/63169602/79640844-e7dc3280-81

[2020-04-18 14:50] vijaysharwar commented on #644
Working on this now.

[2020-04-18 18:50] kissane opened #646 "Please switch Press Links to a new spreadsheet"
I duped our press sheet and brought it into our new GSuite, could someone switch sources for our hompage and press links pages to this one? https://docs.google.com/spreadsheets/d/17KJTUTRwh-2og9Kx0OIZ4Ix5dm_51TL330wwgYSfTBs/edit?usp=sharing

Many thanks!

[2020-04-18 21:15] julialedur commented on #574
fixed by [PR #642](https://github.com/COVID19Tracking/website/pull/642)

[2020-04-18 21:18] julialedur opened #648 "reposition tooltips on mobile"
we need to reposition our tooltips for the big area chart and sm multiples so it:

- doesn't fall off the screen on mobile
- doesn't show up under your finger (let's make it appear above)

[2020-04-18 22:00] ltbjtw opened #649 "R0"
please generate R0 for each state and county. To open up, we need R0 certainly less than one, ideally less than .8
Thank you.

[2020-04-19 11:54] kevee commented on #632
I am there with @schwartzadev about avoiding too heavy a client-side solution, but if a JS-based analytics tool doesn't load, I think that's fine.

We will definitely keep Netlify analytics, which captures all users regardless of the client's state.

[2020-04-19 14:12] joechitwood opened #650 "Cases/Deaths Per Capita?"
It would be valuable to see cases per capita by state and SMSA rather than just the gross numbers.

[2020-04-19 14:23] jakejarvis opened #651 "Featured on the front page of The Boston Globe"
Hi everyone!

The site was just featured as the main source in today's front-page article of The Boston Globe:

https://www.bostonglobe.com/2020/04/18/nation/amid-flurry-national-coronavirus-data-massachusetts-remains-hot-spot-infection/

...so well done! You're cited near the top of the article as well as in their main infographic. I've added the Globe to `homepage-press.yml` and its vector logo

[2020-04-19 22:31] schwartzadev commented on #646
Hey @webmasterkai I think this is your domain :smile:. Do you mind swapping this out?

[2020-04-19 23:00] kevee opened #655 "chore: Refactor screenshot to use FormatDate"
The screenshot times in `/src/components/pages/state/screenshots.js` should be formatted using the `FormatDate` component.

[2020-04-20 10:34] kevee commented on #651
Assigning to @julialedur for review.

[2020-04-20 10:35] kevee commented on #528
@goleary - was this issue closed by #526?

[2020-04-20 10:35] kevee commented on #545
@goleary - Should this issue be closed?

[2020-04-20 10:36] #395 closed

[2020-04-20 10:37] kevee commented on #357
@julialedur - is this issue closed?

[2020-04-20 10:37] kevee commented on #351
@julialedur - is this issue closed?

[2020-04-20 16:20] vijaysharwar commented on #357
@kevee there's a draft PR from @goleary here https://github.com/COVID19Tracking/website/pull/642

[2020-04-20 17:13] goleary commented on #357
got a couple of things to wrap up before we close this

[2020-04-20 17:14] #545 closed

[2020-04-20 17:15] julialedur commented on #351
we can close it for now!

[2020-04-20 17:15] #351 closed

[2020-04-20 17:17] goleary opened #658 "Move all chart classes to scss modules"
as mentioned in #571

[2020-04-20 17:22] goleary commented on #528
nope, it's still not using a listener it just uses the screen size at load for now.

(thanks for doing some housekeeping)

[2020-04-20 19:59] #269 closed

[2020-04-20 20:02] kissane commented on #646
Do we know where/how this happens? @kevee is this something you have eyes on?

[2020-04-20 20:16] webmasterkai commented on #646
This is a private sheet. It would need to be made public. The API does not currently support getting data from private sheets. I'd recommend migrating it to Contentful instead of having it in a sheet. Moving to Contentful removes the need to have any API code related to press links. Press links seem to be more of a content item and less something that needs to be available in API form.

[2020-04-20 20:19] webmasterkai commented on #646
Also, doesn't look like I have access to the sheet so changing code to work with private sheets wouldn't do us any good until we have a credentials token under the latest GSuite account https://console.developers.google.com/apis/credentials.

[2020-04-20 20:22] kevee commented on #646
The sheet is public now.

[2020-04-20 20:26] kissane commented on #646
Super happy to talk about what it would take to migrate to Contentful—the data is being collected in a Google Sheet by a team member's actual mom, so that's probably not going to change rn, but if we really need to copy things from her sheet to Contentful, I can ask someone to volunteer for that.

[2020-04-20 21:04] #655 closed

[2020-04-20 21:06] #646 closed

[2020-04-20 22:04] kissane commented on #651
I got this, thank you!

[2020-04-20 23:57] kabronkline opened #662 "County level data"
Any possibility that you can add county level data in the API?

[2020-04-21 00:33] #644 closed

[2020-04-21 10:55] kevee opened #665 "Proposal: Don't run API on non-master builds"
Whenever a deploy happens in Netlify, we run the full `npm run build` command, which means we use our Google API quite a bit. This slows those deploy preview builds, and sometimes causes us to go over quota.

This is a proposal to:

1. Make every branch besides `master` not run `npm run build`, but instead run `npm run setup:api-data` to download the latest API data tarball, just like devs do. Thi

[2020-04-21 10:59] #383 closed

[2020-04-21 14:42] #610 closed

[2020-04-21 14:57] kevee commented on #566
Closing per #594

[2020-04-21 14:57] #566 closed

[2020-04-21 14:58] kevee commented on #574
Closing per #642

[2020-04-21 14:58] #574 closed

[2020-04-21 18:12] #639 closed

[2020-04-21 19:25] jeremiak opened #672 "fix(dashboard): Change URL and put in the "How to Use It" subnavigation"
Right now the visual dashboard is available at `/dashboard`, but we'd like to make its target audience more clear by calling it "Visualization guide", changing the URL to `/about-data/visualization-guide` and adding it as a tab in the sub navigation for "How to Use It" such that the tabs would be
1. "How to Use the Data"
2. "Visualization guide"
3. "Newsroom FAQ"

[2020-04-22 01:15] #576 closed

[2020-04-22 02:33] kissane commented on #672
I have done the parts of this that can be done in Contentful and now officially pass the baton to @kevee to adjust the custom page so that the Vis Guide page itself also shows the sub-nav tabs.

I also learned something about our Contentful setup, which is that for pages that use the CMS, we can't have Title Case in the nav and Sentence case on the page title itself, alas, it's one or the other. L

[2020-04-22 13:49] mseifert2 opened #677 "Y Axis on Graphs - MISLEADING - Scale Incorrect"
Let us know what the design issue is. Screenshots are helpful!
Y axis on the graphs being shown in the newspapers are INCORRECT.  The scale for "Hospitalizations and deaths comparison" on 4/19/20 show a scale of 0 to 100 and then to 1000.  If the increments are 100 then they all must be 100 (i.e. 0 to 100 to 200 to 300, etc.).  The arc you are showing is about a 30 degree angle when it really shou

[2020-04-22 13:53] #672 closed

[2020-04-22 14:53] jeremiak commented on #677
Hey @mseifert2 thanks for the feedback. We actually aren't a newspaper or a publisher, we just make sure to provide timely, high quality time series data for this crisis. If you have an issue with a particular publisher's charts I recommend writing a letter to their editor. I'm closing this since its not actionable on our part. Have a good one.

[2020-04-22 14:53] #677 closed

[2020-04-22 15:00] carapace8 opened #678 "Add tests per capita to state data"
It’s important to know the scale of state testing in relation to its population.

Thanks for this informative website/app!

[2020-04-22 16:18] superbiche opened #680 "Our data: validateDOMNesting(...): <col> cannot appear as a child of <table>"
**Describe the bug**
When navigating to the Our data page (in development mode), a console error is printed repeatedly:
`validateDOMNesting(...): <col> cannot appear as a child of <table> `

This happens in `components/common/summary-table.js:20-21`:
[code]

I guess using a colgroup for those would do, but I'm not comfortable enough with this part of the codebase to give it a try without breaking

[2020-04-22 17:57] jrubenoff commented on #605
Looked over the markup this morning and wrote a few thoughts below.

Don't feel super strongly about anything here, so feel free to disagree!

### Headers

Here's a rough proposal for header structure:

- `h2`: Section headers. (Currently `div.tips-section-title`)
- `h3`: Chart names. (These would stay the same.)
- `h4`: Chart labels. (Examples: the `h2` date in the map chart, or the state names i

[2020-04-22 18:33] mseifert2 commented on #677
To clarify, they reference you as the source:
Tampa Bay Times:  "Source:  The COVID Tracking Project"

    On Wednesday, April 22, 2020, 10:53:46 AM EDT, Jeremia Kimelman <notifications@github.com> wrote:

Hey @mseifert2 thanks for the feedback. We actually aren't a newspaper or a publisher, we just make sure to provide timely, high quality time series data for this crisis. If you have an issue wi

[2020-04-22 19:08] sjcoker opened #686 "Data Download"
Please add a data download option. The screenshot column causes copy and paste into Excel to create multi-row cells. It would be much easier to use the data if either a data download was available. Or if the screenshot column was parsed without line breaks, or broken into another table.

[2020-04-22 20:26] jburns513 opened #687 "US Daily 4pm Spreadsheet - In ICU & On Ventilator"
Let us know what the design issue is. Screenshots are helpful!
For the US Daily 4pm ET Spreadsheet:
In ICU and On Ventilator
Are the columns: Cumulative and Currently switched maybe?

Thank you for this valuable service.

[2020-04-22 22:22] julialedur opened #688 "margin after press logos"
this section of the website feels a bit crowded.
i suggest we add a breathing space between the press logos and the list of stories.

<img width="1313" alt="Screen Shot 2020-04-22 at 4 45 22 PM" src="https://user-images.githubusercontent.com/39416238/80039546-09248200-84c6-11ea-816e-aa4beebaba71.png">

[2020-04-23 02:23] schwartzadev commented on #687
Thanks for the issue! Please see our [data page](https://covidtracking.com/data/) for information about this question:

[2020-04-23 02:23] #687 closed

[2020-04-23 02:25] schwartzadev commented on #686
Our data is downloadable! Check out our [Data API](https://covidtracking.com/api/) page, where you can access the data via JSON or CSV.

[2020-04-23 02:25] #686 closed

[2020-04-23 03:35] schwartzadev opened #691 "Ignore auto-generated times in Jest tests"
**Describe the bug**
A clear and concise description of what the bug is.

[Here's an example](https://circleci.com/gh/COVID19Tracking/website/440?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link)

[code]

Jest tests seem to fail because of auto-generated times. Is there a way to ignore these?

[2020-04-23 05:26] karinanguyen commented on #688
Working on it!

[2020-04-23 07:23] karinanguyen commented on #688
Just made the PR

[2020-04-23 10:10] #651 closed

[2020-04-23 10:13] kevee commented on #691
Fixed in https://github.com/COVID19Tracking/website/pull/690/commits/0525c94c80ef1217cdbbb7af6d7a1f7681181491

The issue was the test had a timezone offset. I made it GMT and made zone explicit in `formatDateToString`

[2020-04-23 10:13] #691 closed

[2020-04-23 10:22] #680 closed

[2020-04-23 14:22] kevee opened #693 "feat: Search"
We need to add a search feature to the website. I [started a branch on this](https://github.com/COVID19Tracking/website/tree/kevee/algolia-search), but never finished. Please start a new branch called `feature/search` so we can do PRs against it.

Some big things to consider: Algolia breaks different types of documents into different "indices" - I made one for states, blog posts, and pages, and pr

[2020-04-23 16:36] jeremiak commented on #677
Ah, got it. In this case @mseifert2 we're just the data source. The Tampa Bay Times went ahead and created the chart themselves so I'd recommend getting in touch with their data editor/graphics desk :)

[2020-04-23 16:45] vijaysharwar commented on #605
@jrubenoff I have also been thinking about how to improve the footnotes! Your proposal sounds good, and is probably worth a dedicated GitHub issue. It'll help with both SEO and a11y. But one tricky party is we're footnoting within the tooltips, which aren't currently clickable (they move with the mouse/hover state, at least in the area charts).

[2020-04-23 20:01] nealmcb commented on #421
Does anyone have an update on visualization work, updating links etc? Has activity moved to a different branch? The last commit to https://github.com/COVID19Tracking/website/tree/dashboard-gatsby was 8 days ago.

Hmm - I also now see this: [Visualization Guide \| The COVID Tracking Project](https://covidtracking.com/about-data/visualization-guide), but I also still see [Data Visualizations](https:

[2020-04-23 20:18] superbiche opened #698 "Proposal: add client error reporting"
Talked to @kevee about having some client-side error reporting like Sentry, Bugsnag or whatever works (and would donate an account for the project).
This issue is primarily to start a discussion if need be, and also find out if some of you feel like trying to get one of these companies to donate an account (I'd be surprised if Sentry refused).

Also I'd love to help setting it up but I'm already f

[2020-04-23 20:52] schwartzadev opened #699 "Multiple items with key homepage-blog-undefined"
**Describe the bug**

`Warning: Encountered two children with the same key, `homepage-blog-undefined`. Keys should be unique so that components maintain their identity across updates. Non-unique keys may cause children to be duplicated and/or omitted — the behavior is unsupported and could change in a future version.`

Reproduce:
1. Run locally
2. Go to index
3. Open the developer console

[2020-04-24 08:09] reknoZ opened #701 "HTML link for Gatsby is incorrect"
**Describe the bug**
On the Software and Thanks page, the link to Gatsby is incorrect.

https://https//www.gatsbyjs.org/

Instead of

https://www.gatsbyjs.org/

[2020-04-24 08:54] kevee commented on #701
Thanks, @reknoZ . Fixed!

[2020-04-24 08:54] #701 closed

[2020-04-24 09:16] kevee commented on #496
Closing per #647

Great work, @muamichali !

[2020-04-24 09:16] #496 closed

[2020-04-24 13:03] amandafrench opened #704 "feat: some kind of "Past Contributors" section on Volunteer credits"
Love the new auto-populated Contributors on https://covidtracking.com/about-project! But I know that Dustin Preisler is no longer involved with the project, so he should be removed from the Team Leads section. (first task)

However, he did some crucial work early on, as did people like Lucas Gonze who is also no longer involved. Could we have some kind of "Past Contributors" section? (second task,

[2020-04-24 17:16] bkamalmca opened #706 "Question: Does the data includes Antibody testing? Or its only molecular?"
Hi COVIDTracking team, Its awesome job in providing results at daily US state level during this pandemic crisis time. It helps to perform some analysis to compare results at US State level. Can you please clarify if the data dose not include antibody testing? I guess no but just wanted to make sure.

[2020-04-24 17:28] #699 closed

[2020-04-24 19:55] kevee commented on #704
We can add a Contentful snippet for that and put them below the contributors. I'll open a PR to fix that.

[2020-04-24 19:57] kevee commented on #704
I removed dustin from Contentful.

[2020-04-24 20:22] kissane opened #710 "Reported site/sheet discrepancy"
I don't know what to think about this—someone on Twitter is reporting that he's seeing Apr 23 data listed as Apr 22 on the live site right now, which is not what I'm seeing. He seems not to be the only one, and posted a screenshot of the error. A very long cache somewhere? See this thread:

https://twitter.com/kissane/status/1253726474760142848

[2020-04-24 20:34] kissane commented on #704
Moving contributors into a "past" section may eventually get pretty unwieldy—I'm not against the section, but flagging the effort.

[2020-04-24 22:01] #710 closed

[2020-04-25 17:31] ishandeveloper opened #712 "Responsive Navbar Seems weird and crowded."
The mobile navbar seems so crowded and basic. It just doesn't match with the whole layout of the site.

I suggest we either add some space between the navbar items or create a vertical hamburger menu instead.

#### Screenshots
<img src="https://user-images.githubusercontent.com/54989142/80286262-f4572100-8747-11ea-8639-23883d91fd1b.png" width="45%">&nbsp;&nbsp;<img src="https://user-images.githubu

[2020-04-25 17:36] #403 closed

[2020-04-25 17:36] #398 closed

[2020-04-25 17:36] #185 closed

[2020-04-25 17:36] #385 closed

[2020-04-25 22:13] superbiche commented on #693
@kevee should we keep the todo here or on the PR? For now I'm updating the PR one

[2020-04-26 11:18] muamichali opened #714 "Build somtimes failed because slack API rate limit is reached"

[2020-04-26 11:24] muamichali commented on #693
**Idea**: We could index our tweets as well and display them on the site as search results. A lot of our content so far is in tweets. CC @kissane for your thoughts

[2020-04-26 17:48] schwartzadev opened #715 "Broken footer alignment"
Let us know what the design issue is. Screenshots are helpful!
![image](https://user-images.githubusercontent.com/18607205/80315282-b394f180-87b3-11ea-91f5-b30e04963845.png)

The `Contact, etc.` section should be right-aligned on large viewports.

![image](https://user-images.githubusercontent.com/18607205/80315302-d45d4700-87b3-11ea-93d3-ad0ba718cb59.png)
On small viewports, this should also be c

[2020-04-26 17:51] schwartzadev opened #716 "Add timezone to screenshot times"
Please let us know the page you are talking about, and your content suggestions!
![image](https://user-images.githubusercontent.com/18607205/80315319-fb1b7d80-87b3-11ea-869b-6633b7a08f9b.png)

See the title -- I would suggest adding a note to the historical tables like: `All screenshot times are in ET` instead of repeating the timezone all over the table. (Right now, we do neither of these.)

I do

[2020-04-26 19:52] superbiche commented on #693
@muamichali if you have an API key for the Twitter account I'd be happy to give it a try so we can have something to iterate on

[2020-04-26 23:58] schwartzadev commented on #712
Great call, @ishandeveloper! Thanks for pointing this out.

I _think_ that older versions of the site handled this better...it looks like the nav was broken somewhere along the line.

For whoever ends up taking this on -- try checking out older versions of the site (maybe from a week or two ago) to see if the nav was in a better spot then. I bet this is a simple flex fix.

[2020-04-27 01:01] kissane commented on #716
Fully agree with adding timezone (ET) and note, thank you @schwartzadev !

[2020-04-27 01:41] superbiche commented on #712
Went back to this commit
[code]

And it does look better:
![image](https://user-images.githubusercontent.com/2478146/80326416-fe0c8180-8838-11ea-91d9-2491add735c2.png)

Working on it

[2020-04-27 01:45] superbiche commented on #712
Huh, checked out fresh `master` and here's what I get :
![image](https://user-images.githubusercontent.com/2478146/80326547-73785200-8839-11ea-9dc1-5eca19750c12.png)

Seems OK to me. @schwartzadev can we close this one? Seems someone fixed it between two PRs

[2020-04-27 02:00] schwartzadev commented on #712
Huh, this seems to be working OK for me as well. @ishandeveloper could you share a little more about the devices and browsers you were using? It seems like this might be an issue particular to only some configurations.

@superbiche let's hold off until we can replicate (or maybe not replicate) this issue

[2020-04-27 06:58] ishandeveloper commented on #712
Hey @schwartzadev !
I'm currently using Google Chrome version :  81.0.4044.122
And the issue was being faced on devices having width between 388px and 1080px.

<details>
<summary>Screenshot [Mobile Devices]</summary>
<img src="https://user-images.githubusercontent.com/54989142/80342515-f1604b80-8881-11ea-8062-d5811927da0d.png" height="500em">
</details>
<details>
<summary>Screenshot [Tablets]</sum

[2020-04-27 11:22] #714 closed

[2020-04-27 11:35] #704 closed

[2020-04-27 13:05] #665 closed

[2020-04-27 13:35] kevee commented on #716
They are in ET. How about just change the heading from Screenshot to **Screenshot (ET)** and then add a note in the footer of the table?

[2020-04-27 14:05] kevee opened #717 "Progress indicator"
When transitioning from one page to another, especially the heavier visualization page, there can be a bit of a lag. Let's add a progress indicator to let the user know something is happening.

I think the [Gatsby nprogress indicator](https://www.gatsbyjs.org/packages/gatsby-plugin-nprogress/) will probably work.

Choose a color for the progress bar that pops. [Honey](https://covid19tracking.githu

[2020-04-27 14:15] beep commented on #715
Thanks, @schwartzadev! Just opened up #718, which should sort this out.

[2020-04-27 15:37] toddparker commented on #457
I think we can work on this in a discrete steps instead of a big bang kind of situation. I'l;l make separate issues so we can keep things focused.

* improve general table styles and accessibility
* add responsive modes, maybe in a few releases: stack and column chooser (flat vs. grouped columns)
* enhancements to add things like spark lines and support new data columns/types
* custom state summar

[2020-04-27 16:08] toddparker opened #721 "Tables: Improve typography and general styling"
This is part of the larger table work in #457

For this first pass, let's create a branch and focus on taking a pass at improving the table styles for improved clarity. We should also look at our underlying table semantics to make sure these are as accessible as possible.

**Note**: In this first pass, we're not yet adding in responsive enhancements other than the simple overflow we have now. We w

[2020-04-27 16:21] toddparker opened #722 "Tables: Add sorting feature"
This is part of the larger table work in #457

Details for the design are in the **[Figma file](https://www.figma.com/file/fKUKsYMNw3NLSyIEOI1HKc/v2-refresh?node-id=95%3A2627)**

I think we need to give this feature more thought to cover -
- [ ] Focus state and screen reader feedback that each TH is sortable (use dotted outline?)
- [ ] Sort semantics - `button` element? Use `pressed` for active? H

[2020-04-27 16:30] toddparker opened #724 "Tables: Semantics for better accessibility"
This is part of the larger table work in #457

I'd like to review our current table semantics and make sure we're following best practices:
- [WAI tables tutotrial](https://www.w3.org/WAI/tutorials/tables/)
- [Deque tables checklist for WCAG](https://dequeuniversity.com/checklists/web/tables)

## To review
We should pay special attention to grouped or spanned columns/rows

- [ ] [US Totals History

[2020-04-27 17:55] #688 closed

[2020-04-27 18:42] kissane opened #726 "Launching v 0.5 CRDT spreadsheets"
- [x] Final version of all spreadsheets (sign-off from Elliott, Erin, Prajakta)
- [x] Final web-version LINKS to all spreadsheets (sign-off from Elliott, Erin)
- [x] Final content approval (sign off from Rachel, Erin)
- [x] Set up the distro email
- [x] Publish new content in Contentful, thus launching the data (Erin)
- [x] Add links everywhere we can before the new nav elements roll in (Erin)
- [

[2020-04-27 18:45] kevee commented on #712
I don't see it in actual mobile, but do see in various desktop windows that are in our sm-md viewport range. Did a PR.

[2020-04-27 18:47] beep commented on #724
FWIW I based the current markup off [the WAI’s “irregular headers” pattern](https://www.w3.org/WAI/tutorials/tables/irregular/), but I’m honestly not sure how useful `colgroup` is. Only noting it in case it’s helpful!

[2020-04-27 18:51] kevee commented on #712
@ishandeveloper - want to [see if this preview site still has the issue](https://deploy-preview-727--upbeat-lovelace-3e9fff.netlify.app/)?

[2020-04-27 18:51] kissane commented on #726
Dashboard public link: https://docs.google.com/spreadsheets/d/e/2PACX-1vRMTptXT8ipOUZwfQtDTbA3al8OWlitxvf1Vj-OwkyY5jJi7EiA4qeK6K5lKwkNP5V7fT1PMuDnYzq7/pubhtml#

[2020-04-27 19:01] schwartzadev commented on #716
#728 will close this

[2020-04-27 19:06] kissane commented on #726
Raw race data public links:

Web: https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vTfUQPxkhP_CRcGmnnpUBihnTNZ9Z8pcizII4_sc2o2n3opOoAJdAM4CRTJBI339tou8LWnQrqbTMgH/pubhtml#

CSV: https://docs.google.com/spreadsheets/d/e/2PACX-1vTfUQPxkhP_CRcGmnnpUBihnTNZ9Z8pcizII4_sc2o2n3opOoAJdAM4CRTJBI339tou8LWnQrqbTMgH/pub?output=csv

[2020-04-27 19:08] #712 closed

[2020-04-27 19:12] toddparker commented on #724
@beep yeah, seems `scope` and the `id/headers` can both be used, not sure if there are differences in how well each is suppler by screen readers?
https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables/Advanced#Using_column_and_row_headers

[2020-04-27 19:15] #715 closed

[2020-04-27 19:27] tatianamac commented on #724
I would say we want to be mindful of using `headers` and `ids` and reduce our use of them as much as possible as many screenreaders (SRs) cannot handle them very well across the board. Same goes with `colspan` and such.

[2020-04-27 19:29] MicaelaAyers opened #729 "Sourse for Kansas data"
https://www.coronavirus.kdheks.gov/

Please update using Kansas state Department of Health and Environment

Good work!

micaelaayers@gmailcom

[2020-04-27 19:35] #27 closed

[2020-04-27 19:43] toddparker commented on #724
@tatianamac and I were talking about the idea of flattening these two-level headers and I think we might want to flip this problem around so there is just a single header tow - no `colspan`s funny business.

Idea: should we just have the name of the grouping repeated in each header, like this:
[code]

[2020-04-27 19:45] vijaysharwar commented on #469
@beep I think this has been implemented in `master` [_Map.js](https://github.com/COVID19Tracking/website/blob/50690338037d5a0042595f4f3a82e87481709bff/src/pages/about-data/visualization-guide/charts/_Map.js#L22). Can probably close.

[2020-04-27 19:53] snoekemi opened #730 "Add data quality grade to States Information API"
Requesting you add a column indicating the data quality grade for each state and territory in the States Information API.

[2020-04-27 20:05] beep commented on #724
Oh, _interesting._ Lemme take a crack at this?

(I’m gonna see about putting the “grouping” at the end of the cell, since (e.g.) `Current Hospitalized` probably makes a bit more sense than `Hospitalized Current`—is that cool?)

[2020-04-27 20:08] tatianamac commented on #724
@beep Yay! That makes sense to me, esp because it is true for all headers (that I see here), such as "Positive Tests" rather than "Tests, positive"

[2020-04-27 20:09] toddparker commented on #724
@beep that's a great point. Seems that span should be wherever it needs to be to make the language read cleanly in each header. I agree here that should _after_ the more specific heading. Love to see what you cook up. cc: @tatianamac

[2020-04-27 21:07] beep commented on #724
Okay, here’s a very quick but probably-overengineered sketch!

https://codepen.io/beep/pen/BaoZKoX

I didn’t muck with the styling specifics _too_ much, instead just looking at the header groupings. And on that note, the positioning feels like it’s…probably fine? With, y’know, the usual caveats about absolute positioning and wrapping, of course. I’d say it’s something to keep an eye on during prot

[2020-04-27 21:17] schwartzadev commented on #724
Conceptually, this looks great!

For Gatsby, the way that we've been handling `sr-only` items is by making them hidden by default. It looks like you have the visibility the other way around here, but this is super minor -- we'll just have to make sure it gets pulled through into the code side.

[2020-04-27 21:22] toddparker commented on #724
Dang @beep that seems to work like a charm! I think that will do the trick.

It's too bad there isn't some kind of fancy CSS selector for that to avoid JS but I guess since these are arbitrary `th` "groups" there isn't much to hang our hat on.

[2020-04-27 21:26] schwartzadev opened #731 "Screenshot links should have dates for screen readers"
Let us know what the design issue is. Screenshots are helpful!

The screenshot links on state pages (i.e. [Arizona](https://covidtracking.com/data/state/arizona/)) currently don't have any labeling for screen readers to indicate that they belong to a particular date.

This ambiguity is compounded by multiple links with the same name in one table (i.e. `4:05 am`).

I _think_ this is an issue, but I

[2020-04-27 21:27] toddparker commented on #724
@beep...just had a thought. Since we're going to need to add some extra classes on the cells to add in the left border for the column groupings, could we just add in the classes in the markup statically? Maybe we could make a version of this pen that adds in those grouping lines and just has these as static classes?

[2020-04-27 21:36] beep commented on #724
@toddparker So! You sort of can! (This is kinda what I was over-engineering 😅)

Something like this would work just fine:

[code]

This is a little fragile, as you might’ve guessed. The CSS would need to know about the groupings on the page, and then we’d need to build selectors for each. (It’s possible I’m missing a more elegant CSS-only approach, but it’s EOD and I’m a bit wiped.)

So—unless I’m

[2020-04-27 21:37] beep commented on #724
Sure! I’ll do that in the morning.

[2020-04-27 21:37] beep commented on #724
@schwartzadev Could you say a bit more about this? (Happy to redirect this thread to Slack!)

[2020-04-27 21:38] toddparker commented on #724
Oooh, good stuff @beep. I guess my next question is how we're going to add the border on each cell in each row. In the past we just ended up putting a class on the right cells but maybe there is a smart way to do that?

[2020-04-27 21:40] beep commented on #724
@toddparker Sadly, I think a `class` is our best bet here. Gonna make for some chonky markup, but it’s gonna _look_ a treat 💅

[2020-04-27 21:49] beep commented on #731
@schwartzadev Hm! I think…this is _probably_ fine, given that a.) this is tabular data and b.) there aren’t many _sequential_ links with the `same name, different destination` problem.

But that’s just a gut read: I’d say that this is something we could get some feedback on from users.

Two quick, slightly-tangential suggestions that might be useful here:

- The first cell in each row could be a `

[2020-04-27 21:59] beep commented on #469
Nice, @vijaysharwar! Thanks for the heads-up! Closing.

[2020-04-27 21:59] #469 closed

[2020-04-27 22:14] kevee commented on #730
Hi, @snoekemi - we do! Checkout the[ current states API](https://covidtracking.com/api#endpoint-details). The field is `dataQualityGrade`

[2020-04-27 22:14] #730 closed

[2020-04-27 22:16] kissane opened #732 "Add a call to action under Why It Matters on homepage"
Hello! May we have this added as a new option, between the report card and the how you can help items?

[LIL ARROW] Preview our beta release of [demographic data from the COVID Racial Data Tracker](https://covidtracking.com/race).

[2020-04-27 22:33] #732 closed

[2020-04-27 22:36] tealtan commented on #724
Looks like this is going well, thank you all! 👏

[Another recommendation](https://www.w3.org/WAI/tutorials/tables/caption-summary/#nesting-summary-inside-the-caption-element) about adding summaries for more complex tables seems useful here in complementing the table header reworking above.

[2020-04-27 22:42] kissane commented on #726
Ta da: https://covidtracking.com/race

[2020-04-27 22:42] #726 closed

[2020-04-28 04:45] dasulit commented on #721
👋 I got a start on this in https://github.com/COVID19Tracking/website/pull/720. I haven't yet put together a zebra version, but figured I'd get some eyes on what's there so far. Let me know what you think!

**State page:**

<img width="1177" alt="Screen Shot 2020-04-28 at 12 41 47 AM" src="https://user-images.githubusercontent.com/8495845/80448060-20f66e80-88e9-11ea-9188-fa3fb02ab14a.png">

---

*

[2020-04-28 10:12] kevee commented on #731
Agree with @beep that it should be fine since it is tabular and the user probably moved over to the screenshots from the first cell. I like the idea of creating a `th` for the date.

[2020-04-28 12:23] dacyr opened #735 "Kansas Data Source Changed"
The source for Kansas’ data changed so the screenshots currently show page not found.

[2020-04-28 13:25] snoekemi commented on #730
Thank you!

On Mon, Apr 27, 2020 at 6:14 PM Kevin Miller <notifications@github.com>
wrote:

--
*Emily Snoek*
616-745-5573
emily.snoek@gmail.com
Visit my LinkedIn Profile: www.linkedin.com/in/emilysnoek

[2020-04-28 15:09] toddparker commented on #721
@dasulit these look amazing, so much cleaner looking. Thank you!

- [ ] **Reduce the spacing between the grouping header and column headers.** Design:

![image](https://user-images.githubusercontent.com/359929/80503219-90974880-893f-11ea-8790-45e8d2149dd0.png)

- [ ] **Add a bit of bottom margin on tables to avoid notes from being so close**:

Code:
![image](https://user-images.githubusercontent.c

[2020-04-28 16:01] #648 closed

[2020-04-28 16:01] #475 closed

[2020-04-28 16:48] toddparker commented on #721
@dasulit If you have time, we might want to tidy up the grouped summary table headings so they are more parallel:

- [ ] Add a grouping call Outcomes over the death and recovered columns
- [ ] Move Total Test Results up as a header group
- [ ] Remove the parens around (Positive + Negative)

Mockup:
![image](https://user-images.githubusercontent.com/359929/80514439-803a9a00-894e-11ea-9d89-6dadee1b7

[2020-04-28 17:15] schwartzadev commented on #731
Works for me!

[2020-04-28 17:15] #731 closed

[2020-04-28 17:22] #716 closed

[2020-04-28 17:49] snpokc opened #736 "Chart the downturn benchmarks for each state"
On the Covid tracking project it would be helpful as the national state map turns all maroon to begin a map of states that have begun to meet the benchmarks set for reopening the economies.

[2020-04-28 18:17] #736 closed

[2020-04-28 18:38] kevee opened #737 "Blog redesign"
A redesign of the blog landing page and individual blog pages.

**[Figma file](https://www.figma.com/file/fKUKsYMNw3NLSyIEOI1HKc/v2-refresh?node-id=195%3A2769)**

[2020-04-28 18:39] #737 closed

[2020-04-28 19:50] beep commented on #724
_Whoops_, forgot to post my updated pen:

https://codepen.io/beep/pen/BaoZKoX

@toddparker This roughly what you had in mind?

[2020-04-28 20:31] kevee opened #738 "feat: Header redesign"
[Figma file](https://www.figma.com/file/fKUKsYMNw3NLSyIEOI1HKc/v2-refresh?node-id=353%3A3571)

- [x] Include work from `feature/search`
- [x] Add CTA
- [x] Add thin banner header
- [x] Add atlantic logo
- [x] Move navigation to right

[2020-04-28 21:22] kevee commented on #738
Live preview here : https://feature-header-refresh--upbeat-lovelace-3e9fff.netlify.app/

[2020-04-28 22:28] remitrom opened #739 "Please help fix the massive amount of misinformation/misuse of information out there."
Total number of positive COVID19 cases are being used by the media, politicians and everyone else as a measure of effectiveness in combatting the pandemic. Yet in isolation the number is meaningless if not tied into the total number of tests performed that led to those number of positive results as well as the total number of deaths as a percentage of total confirmed cases.   That is why what you

[2020-04-29 03:05] dasulit commented on #721
Thanks for looking @toddparker! I just pushed a commit that addresses your recommendations above, with the exception of row highlight color; I can wait for other folks to weigh in there.

One minor decision I made I wanted to highlight: in order to left-align grouping headers and column headers, I opted to left-align the leftmost column header, while keeping the data in the column itself right-ali

[2020-04-29 08:23] IVIosi commented on #717
Hi @kevee !
Such a great idea to inform more and more people in these days.
I'd like to work on it. Like you mentioned, I think Gatsby nProgress plugin will be the answer.

[2020-04-29 11:49] #739 closed

[2020-04-29 13:42] toddparker commented on #721
Hi @dasulit - this looks great, **thank you**. Funny, I was debating what to do about the mis-alignment of the header and first cell and I agree that cheating it that way just feels better.

I'm working with @jasonsantamaria on the row hover color fine tuning but it seems that for now, we can drop in `#E2F1FC` since that's in our color palette.

![image](https://user-images.githubusercontent.com/3

[2020-04-29 14:10] toddparker commented on #724
@beep this looks amazing, I think this will do the tricky nicely! Any concerns with this approach?

I definitely get that because of the positioning, this is a wee bit fragile:
![image](https://user-images.githubusercontent.com/359929/80605711-6c9c3b80-8a01-11ea-80cc-dd12d25fe15d.png)

...seems we just need to be careful about header length or set some min widths if things get bad. Any suggestions

[2020-04-29 17:37] beep commented on #724
Thinking about this a bit:

I don’t think there’s a CSS-only solution that’d be really resilient, no. The _most_ foolproof solution would be a row of actual, real headers, which `colspan` as needed.

@tatianamac, a question for ya when you next get a minute: do you have any info/articles on the AT issues around non-flattened tables? Asking because a.) I’d love to understand it better, but _also_ b

[2020-04-29 18:56] toddparker commented on #724
Thanks @beep! Re: headers, I could see that we could maybe use `aria-hidden` on the grouped header row, but yeah, I'm curious is that gets real odd on SRs because those colspans are still sort of in play? Reminds me that visual parity is important, dunno which of these is better for both of these considerations.

[2020-04-29 20:59] beep commented on #721
This is looking really great, folks! One small request/suggestion: would it be possible to avoid [using pixels for font-sizes](https://github.com/COVID19Tracking/website/pull/720/files#diff-57e273918c642429a4079b5bf0215bbbR23), if possible? We’ve been trying to use rems—with an optional pixel fallback, if you’d prefer!—for accessibility reasons.

[2020-04-29 21:18] toddparker commented on #721
Good call @beep, I didn't look to closely at the code yet, we'll fix that up.

@dasulit here's a recap of the final tweaks:

- [ ] Do some QA across all the tables and a few browsers (I did this but would like a second set of eyes)
- [ ] Check the horizontal padding between the th and td...these look slightly mis-aligned (see above)
- [ ] Convert font size and padding values to `rem`
- [ ] Swap in

[2020-04-29 21:22] kevee commented on #141
Closing. There is a new proce

[2020-04-29 21:22] #141 closed

[2020-04-29 21:23] #178 closed

[2020-04-29 21:23] #260 closed

[2020-04-29 21:23] #357 closed

[2020-04-29 21:23] #430 closed

[2020-04-29 21:23] #454 closed

[2020-04-29 21:25] pspeter3 commented on #551
I wonder if we can have state for the combo box being selected and then in `useLayoutEffect`; blur the combo box? Also can we pass a ref to the combobox so we don't need to find the element by the class name?

[2020-04-30 01:56] dasulit commented on #721
Thanks for the eyes @toddparker @beep! I just pushed the following changes:

- [x] Use `rem` for fonts and padding
- [x] Fix padding discrepancy between `th` and `td`
- [x] Add minimum width to grouping headers
- [x] Use `E2F1FC` for hover color

Did some quick QA across Safari and Firefox as well, didn't spot anything out of sorts. I have [a PR up](https://github.com/COVID19Tracking/website/pull/

[2020-04-30 12:03] #717 closed

[2020-04-30 12:03] kevee commented on #717
Fixed in https://github.com/COVID19Tracking/website/commit/4aed7cb4c116d739b782b6b1016e05ed84585aee

[2020-04-30 13:34] toddparker commented on #721
Thanks @dasulit. I checked the PR and it seems that the preview URL hasn't updated. Maybe that's related to these errors?

![image](https://user-images.githubusercontent.com/359929/80716505-b8b0b400-8ac5-11ea-903d-7d9311ade40e.png)

[2020-04-30 15:56] remitrom commented on #739
Kevee,

Sorry I don’t understand the rational here in not addressing this and closing the issue?  Can you please explain?  Isn’t it helpful to provide greater insight, analysis and transparency of the numbers you are providing and that are getting quoted by the media?  Or do you not feel that that is not part of the COVID19 Tracking projects goals?

[2020-04-30 16:30] kevee commented on #698
I'm reaching out to a few companies to see if they'll donate a probono account.

[2020-04-30 16:34] tealtan commented on #738
Some design notes here: (happy to move this elsewhere if it’s better)

The banner
- "New" should be `text-transform: uppercase` and not `font-variant: small-caps` so that all three letters are the same size.
- Can we left-align the banner text on mobile?
- The "New" and the banner link text should both be bolded.

The search and get involved buttons
- There should be about 6px less space between i

[2020-04-30 18:52] annesodev commented on #632
Is Matomoto an option you already considered? The tool can be handled for free with their "on premises" offer and their leitmotiv is data protection and customer's privacy. It might fit the project : https://matomo.org/ + @superbiche can ask an hosting provider for a pro-bono server to host it for the project (or on Netlify).

[2020-04-30 20:08] tatianamac commented on #724
The most comprehensive list of resources on table accessibility is here:
[Adrian Roselli's collection, "Hey It's okay to use tables"](https://adrianroselli.com/2017/11/hey-its-still-ok-to-use-tables.html
).

A small note is in [WebAIM's guide](https://webaim.org/techniques/tables/data) as well.

[2020-04-30 21:26] tealtan commented on #738
Two more notes on hover styling and then I think we’re good on everything minus the search!

- [ ] I’d like the banner text to have a hover color of #e2f1fc (which is what the nav items have)
- [ ] It looks like the Get Involved button text is picking up a generic hover style, so can we add something so that it stays the same #012656 color on hover?

[2020-05-01 00:52] kfanyo opened #751 "Inconsistencies Between CSV and JSON files."
There are many, many instances where the value of a JSON field is 'null' and the .CSV has  inappropriate data in it (Dates in a number column, etc.). Also, in the .CSV, the 'Recovered' count is often the SUM of the 'Positive' and 'Negative' counts, but not where numbers are overall small for the record.

In a nutshell, it seems 'null' (Or empty) record fields in the .CSV were not properly delimite

[2020-05-01 04:15] kevee commented on #555
Fixed in #517

[2020-05-01 04:15] #555 closed

[2020-05-01 11:53] kevee opened #750 "Proposal: volunteer onboarding guide"
We have so many resources like our style guide, getting setup on the local dev machine, etc that new developers need access to. Some ideas of things that need to be covered below.

Should this just be a Google Doc? A wiki on this repo?

- Code of conduct
- Style guide
- Storybook & documentation site
- How to setup a local environment
- Automated testing
- Our deploy previews, branch previews, and

[2020-05-01 16:46] #721 closed

[2020-05-01 19:15] schwartzadev commented on #750
Yes! I would support a wiki here to keep things organized. A lot of this content is already on the repo, too:
* [Code of conduct](https://github.com/COVID19Tracking/code-of-conduct/blob/master/CODE_OF_CONDUCT.md)
* [Style guide, other misc.](https://github.com/COVID19Tracking/website/blob/master/CONTRIBUTING.md)
* [Installation, testing from the README](https://github.com/COVID19Tracking/website/b

[2020-05-01 19:43] #693 closed

[2020-05-01 20:04] schwartzadev opened #759 "blog headshots are stretched on Safari"
Let us know what the design issue is. Screenshots are helpful!

See title -- this is a Safari-specific bug that I thought was fixed in #737 (see @kevee's review)

![image](https://user-images.githubusercontent.com/18607205/80837699-921d7680-8bb4-11ea-8fda-e4ea20972069.png)

[2020-05-01 20:14] schwartzadev opened #760 "Byline style issues without Javascript"
Let us know what the design issue is. Screenshots are helpful!
![image](https://user-images.githubusercontent.com/18607205/80838267-df4e1800-8bb5-11ea-9e2f-9dd93ee78f22.png)

This seems to be rendering in a funky way without Javascript. I'm not totally sure why this is happening, but /shrug/ that's how it goes.

[2020-05-01 20:21] schwartzadev opened #761 "Search: chunked content return multiple results"
Please let us know the page you are talking about, and your content suggestions!

Here's an example of the issue:
![image](https://user-images.githubusercontent.com/18607205/80838738-ee819580-8bb6-11ea-8f75-26b664f17922.png)

[2020-05-01 21:07] kevee opened #762 "Animation is rough when expanding mobile menu"
**Describe the bug**
On iOS Chrome, the mobile menu just pops without any animation.

It looks *amazing* in Safari, however.

[2020-05-01 21:36] AaronMullan commented on #759
PR coming in a second.

[2020-05-01 21:47] AaronMullan commented on #759
![Screen Shot 2020-05-01 at 2 35 41 PM](https://user-images.githubusercontent.com/50382381/80844058-a4021800-8bba-11ea-92c1-b6cf0d4942a5.png)

[2020-05-01 22:14] neeshabeee opened #764 "Site Search: UI tweaks + cleanup/bugs"
**Search box in Nav + Search Results page**

0) Accessibility improvements:
- On mobile, let's make the search field gain focus by default when the user has opened the menu. Basically, we want to remove the step of clicking into the search bar on mobile.
- Make the "Search" text to behave as a label. Remove the placeholder entirely. Below is a screenshot of what "Search" should now look like. The

[2020-05-01 23:34] metasj opened #765 "Bring back TOC on the main page?"
As a visitor or to demo the site, I generally visit ct.org and scroll or search the page to find the state I want.  I almost always want one of **US current**, **US historical**, _State_ **current**, or _State_ **historical**.

* From the **data** page:  I would love a small version of the old TOC visible on the first page, w/o scrolling, both on desktop and mobile.  It would make my quick one-off

[2020-05-02 01:25] superbiche commented on #764
Will be working on it next week unless someone wants to have fun before :)

[2020-05-02 10:51] kevee commented on #765
Hi, @metasj !

We have big plans for the data page, so I'm going to add this issue to that project when it gets started next week.

This also makes me think maybe we need some kind of dashboard for power users and volunteers. As we add more context and content to guide other users, we might add more interfaces that would be helpful to the public, but less helpful to the folks who are in this data

[2020-05-02 11:09] tomjmcnamee opened #766 "please add '?date' query string back to All States historical data OR add date:YYYYMMDD field to '/api/v1/states/current.json'"
Prior to 5/1/20, the All States Historical Data accepted a Query String to request only a specific date.  Without that option, your entire States History data set needs to be pulled and parsed on the recipient side to isolate a single date.  Your '/api/v1/states/current.json' route isolates the most recent day's data, but does not hold the date:YYYYMMDD attribute.

My logic relies on this 'date' f

[2020-05-02 19:10] muamichali commented on #472
Not stale, it’s in progress https://covid-tracking.slack.com/archives/C011AP48CS3/p1588174109166500

[2020-05-02 22:06] gciurpita opened #767 "show change rate of new cases"
in addition to map show total number of cases, trend in new cases, red increasing, green decreasing.   7 day average.

would show growth of hot spots

[2020-05-03 10:34] kevee commented on #766
Hi, Tom, you can request a states historic value by day like this:

https://covidtracking.com/api/v1/states/ca/20200403.json

[2020-05-03 12:59] tomjmcnamee commented on #766
@kevee - Thank you for the quick reply.
The route you provided holds data for only a single state+day combo (.../states/<state>/<date>.json).  There is no way to easily target ALL states for a single day.
Implementing my first suggestion would keep users needing all state data for a single day from pulling the entire dataset OR making 50+ calls to date+state specific routes.

[2020-05-03 13:05] kevee commented on #766
Gotcha, then try this:

https://covidtracking.com/api/v1/states/20200404.json

That endpoint is undocumented, I'll make sure it's added to our list.

[2020-05-03 13:10] tomjmcnamee commented on #766
Perfect! ...though I'm kinda upset I didn't figure that one out for myself.
Thanks again for the help **and your contributions**!!!

[2020-05-03 14:00] #766 closed

[2020-05-04 10:53] kevee commented on #759
Fixed in #763

[2020-05-04 10:53] #759 closed

[2020-05-04 11:15] kevee commented on #738
Closed in #749

[2020-05-04 11:15] #738 closed

[2020-05-04 12:00] kevee commented on #767
Hi, @gciurpita! We have plans to incorporate new interfaces like the ones you described, but right now we're already supporting [lots of other amazing journalists](https://covidtracking.com/about-project/in-the-press) who are doing the exact things you mentioned in.

[2020-05-04 12:00] #767 closed

[2020-05-04 12:20] kevee commented on #761
I'm going to:

- Add a new field to algolia indexes that links records to each other, using the GraphQL ID. We *could* use slug, but we might have a pattern later on that doesn't have slugs.
- Filter out results with the same ID.

[2020-05-04 14:07] kevee opened #769 "Change path for get involved"
So we don't hit a redirect and force a page refresh, change the "Get Involved" link component in the header to `/about-project/help`

[2020-05-04 14:38] AaronMullan commented on #769
PR coming.  Also there was a "Get Involved" link lower in index.js I also changed too.

[2020-05-04 15:25] dnspano opened #771 "Add state population data for comparison"
Please let us know the page you are talking about, and your content suggestions!
I was comparing your COVID testing tracking data to the most recent population estimates per state, and I believe it's notable to display population information to show the percentage of people who have actually been able to obtain testing at this point. many of the states with the highest amount of testing and confir

[2020-05-04 17:33] kabraha opened #772 "Please fix the "Confirmed Cases by Province/State/Dependency" (aka Admin1) view"
In the Chrome browser, this section has been showing this error for several days: "Not fully configured" Thanks!

[2020-05-04 17:45] kevee commented on #772
Can you provide the URL you are talking about?

[2020-05-04 17:46] kevee commented on #771
Hi, @dnspano!
We have plans to incorporate new interfaces like the ones you described, but right now we're already supporting lots of other amazing journalists who are doing the exact things you mentioned in.

[2020-05-04 17:46] #771 closed

[2020-05-04 17:51] kabraha commented on #772
https://coronavirus.jhu.edu/map.html

[cid:image001.png@01D6220A.58347AE0]

From: Kevin Miller <notifications@github.com>
Sent: Monday, May 4, 2020 11:46 AM
To: COVID19Tracking/website <website@noreply.github.com>
Cc: Abraham, Kimberly D <Kimberly.D.Abraham@CenturyLink.com>; Author <author@noreply.github.com>
Subject: Re: [COVID19Tracking/website] Please fix the "Confirmed Cases by Province/State/

[2020-05-04 18:02] #761 closed

[2020-05-04 18:55] #751 closed

[2020-05-04 18:55] #772 closed

[2020-05-04 20:19] kevee commented on #769
Fixed in #770

[2020-05-04 20:19] #769 closed

[2020-05-04 21:39] kevee commented on #632
@superbiche or @annesodev can you cost out what a Matomo account with (outside ballpark) 20m requests a month would look like?

[2020-05-05 00:12] AaronMullan commented on #762
Can't replicate this problem on my setup:

Chrome version 81.0.4044.124
iOs version 13.3.1
iPhone 7 model MN8G2LL/A

[2020-05-05 15:26] benhalpern opened #774 "Replace "Pos + Neg" column with "% New Positive""
As a user I find the "Pos + Neg" column kind of unimportant because it's always the same value as "Total Tests".

As a proposed replacement, I think a more useful column would be one which tallies the percentage of new tests that day which are positive. This is something I like to tally in order to get a sense for how the virus might be trending.

E.g. on April 15th New York reported 26,869 tests

[2020-05-05 15:38] kevee opened #775 "Callout link"
✅ mobile
`src/components/pages/homepage/explore-link.js`
(like "See all the data" the red, centered link things)

[2020-05-05 15:38] kevee opened #776 "Large dataset component (John hopkins)"
Large dataset (John hopkins)
✅ mobile
`components/pages/homepage/large-dataset.js`

[2020-05-05 15:38] kevee opened #777 "Large project"
✅ mobile
`components/pages/homepage/large-project.js`

[2020-05-05 15:38] kevee opened #778 "Header & big chart"
✅ mobile

[2020-05-05 15:38] kevee opened #779 "Press list"
✅ mobile

[2020-05-05 15:38] kevee opened #780 "Press logos"
✅ mobile

[2020-05-05 15:38] kevee opened #781 "Latest totals (What we've tracked so far)"
`components/pages/homepage/latest-totals.js`
✅ mobile

Latest Data component (Every day...) inc. latest numbers, "see all data" CTA

[2020-05-05 15:38] kevee opened #782 "Dataset components"
Our dataset is being used...
- [x] mobile
`components/pages/homepage/datasets.js`

[2020-05-05 15:38] kevee opened #783 "Blog List"
Blog list
✅ mobile

[2020-05-05 15:39] kevee opened #784 "Component: Large paragraph"
Component: Large paragraph
[ ] mobile
`components/pages/homepage/paragraph.js`
like the "Every day...." and "get a behind-the-" graphs

[2020-05-05 15:39] kevee opened #785 "make the CTA links into a separate component"
`components/pages/homepage/cta-link.js`
- [x] mobile

[2020-05-05 15:46] kevee commented on #778
We need to make the chart labels much bigger on mobile
![image](https://user-images.githubusercontent.com/270536/81086133-1da14b00-8ec6-11ea-8f1b-5c48ecc4880f.png)

[2020-05-05 16:35] DadPlatinum opened #786 "Historical Data"
https://covidtracking.com/data

The page includes a snap shot of current-day data. Some of these data points are not included in the historical data tables. Would it be possible to include the following fields in the historical data for each state (showing N/A if data is not available)?

[2020-05-05 16:57] kevee commented on #778
To do:

- [ ] Remove legend on bottom
- [ ] Add color treatment to text like graphic below
- [ ] Make a mobile version of the chart that starts in March 1 and has larger labels

![image](https://user-images.githubusercontent.com/270536/81093303-e899f600-8ecf-11ea-8c8a-0fb0c6c1cbb7.png)

[2020-05-05 16:57] julialedur commented on #778
This looks great! 🎉 a few suggestions:

- I think the header needs to be the height of the screen, so it doesn't get cut off like this:
<img width="1440" alt="Screen Shot 2020-05-05 at 12 49 47 PM" src="https://user-images.githubusercontent.com/39416238/81092766-1df21400-8ecf-11ea-8d74-d38cf809ad78.png">

- We can also delete the "CDC number vs our number" since we're already saying that in the te

[2020-05-05 16:58] julialedur commented on #778
wow we're so in sync! 😂

[2020-05-05 17:58] #481 closed

[2020-05-05 18:42] tealtan commented on #778
Yep, agreed with everything @julialedur and @kevee have said above.

Also, can we:
- [ ] Indent the headline and paragraph to start at the same place as the content below.
- [ ] Add a bit more space between the large headline and the chart (about 2rems-ish?).
- [ ] Change the headline size to be 1.75rem on mobile.
- [ ] Change the hero paragraph to 16px and not bold, so that it looks more like a c

[2020-05-05 18:49] tealtan commented on #781
- [ ] Can we adjust the headline here to be 24px on mobile?
- [ ] We can reduce the padding of each number (the blue box) by half, and if easy, reduce the space between the boxes by half.
- [ ] On mobile, we have some values that are 6rem that I’d like to be 4rem – the classes are `latest-totals-module--container` and `latest-totals-module--header-container--RSYHh`

[2020-05-05 18:52] kevee commented on #786
Hi, @DadPlatinum we have a plan to add this information soon. We haven't included these in the history because it was difficult to provide context. I'm closing this issue, but I have marked it in our project plan.

[2020-05-05 18:52] #786 closed

[2020-05-05 18:54] DadPlatinum commented on #786
Kevin,

Thank you for the quick response. Would it possible to notify me when this information becomes available?

From: Kevin Miller <notifications@github.com>
Sent: Tuesday, May 5, 2020 1:52 PM
To: COVID19Tracking/website <website@noreply.github.com>
Cc: Matthew C. Hanna <mhanna@choctawnation.com>; Mention <mention@noreply.github.com>
Subject: Re: [COVID19Tracking/website] Historical Data (#786)

[2020-05-05 18:56] tealtan commented on #777
(Assuming this is the CRDT section)

- [ ] Can we adjust the border color to something lighter, such as `$color-slate-200`?
- [ ] The headline size should be bigger so that it looks like its own section – 36px on desktop, 24px on mobile.
- [ ] Can we tweak the color of the paragraph to be `$color-slate-700`?
- [ ] Let’s left-align the headline and paragraph for now.
- [ ] On desktop, the spacing b

[2020-05-05 18:57] #486 closed

[2020-05-05 19:02] tealtan commented on #783
- [ ] This should have a top border like the other sections.
- [ ] On mobile, the byline contents are stacking vertically (they should stack horizontally and wrap as needed)
- [ ] The blog post title should be 1.125rem on mobile.
- [ ] Let’s left-align the section title for now.
- [ ] As on other sections, the section title should be 1.5rem on mobile.

May also have some spacing tweaks tk, will co

[2020-05-05 19:05] tealtan commented on #780
- [ ] Mobile-specific: can we adjust the horizontal margin from 1.8rem to 1rem, and the vertical margin from 3.125rem to 2rem?
- [ ] Mobile-specific: can we adjust the height to 1.5rem?

Otherwise, looks great, thanks!

[2020-05-05 19:08] tealtan commented on #779
Mostly looks great! The only two things I’d like to change:

- [ ] Title font size to be bumped up slightly to 1.125rem on desktop
- [ ] "Who’s using our data" font size bumped up slightly to 1.5rem on desktop, 1.125rem on mobile

[2020-05-05 19:14] tealtan commented on #776
Has more to do with the section title above this component:

- [ ] Let’s left-align the section title for now.
- [ ] As on other sections, the section title should be 1.5rem on mobile.

As for this component!
- [ ] Let’s change the font size of the title to 1.5rem on desktop, and keep it as it is for mobile
- [ ] Can we adjust the space below the headline to 0.5rem
- [ ] Can we adjust the paragrap

[2020-05-05 19:15] tealtan commented on #782
This looks so close!

- [ ] Can we adjust the space below the headline to 0.5rem

Also, the "Covid Exit Strategy" text should be left-aligned with the left side of the image above (it seems indented).

[2020-05-05 19:36] kevee commented on #780
Redid mobile in https://github.com/COVID19Tracking/website/commit/e42c7e9305878c545c25c4e2e01d36034bfca732

[2020-05-05 19:39] #780 closed

[2020-05-05 19:42] #779 closed

[2020-05-05 20:02] #776 closed

[2020-05-05 20:16] beep commented on #724
After some back-and-forth, and some gracious JAWS/NVDA testing by a friend of @tatianamac’s, here’s the most usable version of the table design we’d like to start implementing:

https://codepen.io/beep/pen/BaoZKoX

A few notes for implementation:

- Feel free to revisit the class names and styles as you see fit! Everything in the CodePen can be considered FPO, if you’d like.
- The left-hand border

[2020-05-05 20:18] kevee commented on #778
I made the text wrap in a container the same size as the "Homepage container" so they line up. It does cause some wrapping but I think that's fine.

[2020-05-05 20:29] schwartzadev commented on #781
Is this the `Every day, our volunteers compile the latest numbers on tests, confirmed cases, hospitalizations, and patient outcomes from every US state and territory.` header or the `Latest totals` one?

[2020-05-05 20:30] kevee commented on #778
@julialedur - one question: I think we can't make the header the size of the screen just because there's so much stuff there with the text and chart that it won't fit. I played around with trying to make the header 1vh on a macbook pro and it didn't fit.

[2020-05-05 20:36] kevee commented on #777
@tealtan do you like the spacing on the top of the section? Just changed it to 120px on top, 60px on the bottom.

[2020-05-05 20:41] julialedur commented on #778
hmmm have you tried making the chart a bit shorter and the text smaller? it might help to decrease the top margin between the main text and the nav bar too:

<img width="1423" alt="Screen Shot 2020-05-05 at 4 40 00 PM" src="https://user-images.githubusercontent.com/39416238/81114062-3f62f800-8eef-11ea-943c-e48670becbd4.png">

[2020-05-05 20:42] #785 closed

[2020-05-05 20:42] kevee commented on #784
FYI I added a "centered" prop to these.

[2020-05-05 20:50] kevee commented on #778
Right, I could, the problem is the chart itself - it's a static SVG that if you change it's height dynamically will also make it shrink horizontally. Here it is on my computer with 1vh:

![image](https://user-images.githubusercontent.com/270536/81114688-83a2c800-8ef0-11ea-95a6-511a9e1139ef.png)

[2020-05-05 20:52] kevee commented on #781
We already set the header size to 1.5rem/25rem for that "Paragraph" component since it's used elsewhere - is this one supposed to be different?

[2020-05-05 20:52] tealtan commented on #781
Ah, that should work! (I meant to say it’s for the `Every day` one.)

[2020-05-05 20:55] tealtan commented on #777
Yep, looks great!

[2020-05-05 20:58] schwartzadev commented on #781
This one is wrapped up, then!

[2020-05-05 20:59] #777 closed

[2020-05-05 21:09] #775 closed

[2020-05-05 21:10] #781 closed

[2020-05-05 21:10] #782 closed

[2020-05-05 21:10] kevee commented on #784
No design feedback, closing.

[2020-05-05 21:10] #784 closed

[2020-05-05 21:12] tealtan opened #790 "Adjustments for accessibility (based on Voiceover)"
Running this through Voiceover I encountered these issues.

(We’ll want to check NVDA/JAWS separately, after fixing these issues first)

[2020-05-05 21:16] kevee commented on #778
After merging #789, we now have text alignment issues since the chart pops up sooner.

![image](https://user-images.githubusercontent.com/270536/81116855-185af500-8ef4-11ea-93ea-d877758180bb.png)

[2020-05-05 21:28] tealtan commented on #790
**Hero**
- [ ] Let’s have screenreaders skip the chart since the caption is a good equivalent. (I think we have a utility class for this?)

**Latest totals**
- [ ] Voiceover is reading the number and the label separately, it’d be smoother to have it read them together, e.g. "7,285,178 Total test results". Let’s apply `role=text` on its container div [which will make that happen](https://axesslab.c

[2020-05-05 22:04] #783 closed

[2020-05-05 22:08] RotorDriven opened #791 "Last updated time should be EDT"
It's a small thing, but the data pages show the last update time in EST although it appears to be EDT.

[2020-05-05 22:24] julialedur commented on #778
@jeremiak

[2020-05-05 22:54] olivierlacan opened #792 "Consider making table headers sticky on state pages"
Right now we have many days listed past the viewport height which results in many columns of data that can be hard to differentiate once headers disappear.

Easy:
![screenshot of a table including state data with the column headers visible](https://user-images.githubusercontent.com/65950/81123406-016ecf80-8f01-11ea-80c6-89ff3c4fadeb.png)

Hard:
![screenshot of a table without any headers after scr

[2020-05-05 23:18] tealtan commented on #778
Could we scale down the chart on desktop so that it doesn’t span as wide?

[2020-05-05 23:36] airj1012 opened #793 "North Carolina - Hospitalized"
Hospitalized number is showing at the top for "Currently". But shouldn't it also be listed on the time stamped data, for each day? It seems that Georga and North Carolina have data in one spot but not the other.  Current or time stamp, but not both. However they appear to be similar data sources.

[2020-05-05 23:38] airj1012 commented on #793
![NC](https://user-images.githubusercontent.com/64874325/81126038-0b480100-8f08-11ea-9620-f9741da4bb87.png)
![GA](https://user-images.githubusercontent.com/64874325/81126042-0e42f180-8f08-11ea-9a17-7586c41ef88d.png)

[2020-05-05 23:54] kissane commented on #791
CORRECT. @kevee do you happen to know if this is an API thing?

[2020-05-06 00:47] sarawb commented on #790
**Content for those Alt text items**

CRDT
Illustration of a face split into strips of different colored skintones on a light purple background.

JH
Chart from the Johns Hopkins COVID-19 Testing Insights Initiative depicting daily total tests and daily positive tests using COVID Tracking Project data.

WH
Image composite showing COVID Tracking Project data in use on a slide from the White House’s

[2020-05-06 09:44] kevee commented on #793
Hi, @airj1012! We are working on a new version of that data page which will include a fix for this issue.

[2020-05-06 09:44] #793 closed

[2020-05-06 09:50] #519 closed

[2020-05-06 09:50] #528 closed

[2020-05-06 09:50] #551 closed

[2020-05-06 09:50] #750 closed

[2020-05-06 10:14] kevee opened #794 "Move non-project data out of the API"
We currently grab CDC testing data from a spreadsheet, and volunteers from Slack's API. These are part of our core "build" API process in the website.

As part of a migration to a new API system, we need to move these into the website, since it's the only thing that uses this data.

**CDC testing data**
This is pulled [from a spreadsheet. ](https://docs.google.com/spreadsheets/d/16gBHQ7dCJK1psqEMa

[2020-05-06 10:20] kevee commented on #790
@tealtan I used `aria-hidden` for the chart.

[2020-05-06 10:24] kevee commented on #791
We can make it automatically switch based on the current timezone.

[2020-05-06 10:33] devtechnocode opened #795 "Feature : To add the serious cases(Ventilator and ICU) for the total country as shown for each states."
# Feature
 Adding the serious cases(Ventilator and ICU) for the total country as shown for each states on state by state page of our data.

*To show the serious cases as showing postive, negative and deaths.*
 ![Screenshot from 2020-05-06 15-40-32](https://user-images.githubusercontent.com/52890488/81166704-8dd8cb00-8fb1-11ea-9289-fc7c27358738.png)

[2020-05-06 10:34] kevee commented on #790
For the `role="text"`, JSX was throwing an error that this [constituted an "abstract" role](https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_01). I can't find "text" in the list of [ARIA roles](https://www.w3.org/TR/wai-aria-1.0/roles#abstract_roles). I made JSX skip these, but FYI.

[2020-05-06 10:44] kevee commented on #790
I think we fixed all these issues, but a pass with NVDA/JAWS would be great.

[2020-05-06 10:44] devtechnocode opened #796 "Feature : To add the column for hospitalized cases for the country as showing for states."
Adding the column for hospitalized cases for the country as showing for states.

![Screenshot from 2020-05-06 16-08-22](https://user-images.githubusercontent.com/52890488/81168017-d98c7400-8fb3-11ea-830e-3195a15ed273.png)

[2020-05-06 11:25] sarawb opened #798 "Small headline tweak"
Erin tweak to homepage headline:

[2020-05-06 12:36] #798 closed

[2020-05-06 12:38] kevee commented on #792
Thanks, @olivierlacan! I just handed this to the table redesign team.

[2020-05-06 12:38] #762 closed

[2020-05-06 13:20] tealtan commented on #790
Awesome, thanks!

That `role` error is odd, but I think it’s fine for now.

[2020-05-06 14:26] #778 closed

[2020-05-06 14:26] #790 closed

[2020-05-06 16:52] kevee commented on #795
Hi, @devtechnocode thanks for the feature request. We are redoing these pages currently and I'm making sure your request is in our queue.

[2020-05-06 16:52] #795 closed

[2020-05-06 16:52] kevee commented on #796
Hi, @devtechnocode thanks for the feature request. We are redoing these pages currently and I'm making sure your request is in our queue.

[2020-05-06 16:52] #796 closed

[2020-05-06 16:59] kevee commented on #794
Closing in favor of some down-the-road public API .

[2020-05-06 16:59] #794 closed

[2020-05-06 17:29] kevee commented on #472
Now that we have `lastUpdateET` in the daily feed, I can add that instead of `dateChecked`. Do you want to just add time when it's not midnight?

![image](https://user-images.githubusercontent.com/270536/81208795-98896500-8f9d-11ea-8a67-a071bedced25.png)

[2020-05-06 18:18] joshuaellinger commented on #472
Displaying the time part of lastUpdateET would be misleading if the edit occurred the following morning.  For example,  lastUpdateET for the 3/25 row in your example could have been updated at 3/26 at 1PM.  In your second view, you would show 3/25 1PM (I think).

A view would wonder why the values are bigger than all of the screen shots and we're no better than when we started.

So my suggestion i

[2020-05-06 18:25] joshuaellinger commented on #472
![image](https://user-images.githubusercontent.com/2719463/81214142-02edd580-8f9d-11ea-8e75-b7aadd09b73e.png)

[2020-05-06 18:25] sarawb opened #801 "Photo/illo credit line"
We need to be able to credit images, starting with the CRDT illo on the homepage. Standard style for these will be:

For the CRDT image, please use:

[2020-05-06 18:27] kevee commented on #472
OK the UI is up to the design team, but I'll see what we can come up with.

[2020-05-06 18:32] joshuaellinger commented on #472
Of course.  Just wanted to make sure you were aware of the next day issue.  Hate to clutter up the site for something that is mainly an intermittent issue for the West Coast.

[2020-05-06 18:38] kevee commented on #801
@schwartzadev  - you want to take this on? We can probably change the blog photo credit to a standard component and use it in both places.

[2020-05-06 18:41] kevee commented on #774
Thanks, @benhalpern! We're planning a redo of that page, so I'm going to put this issue into a project to track it.

[2020-05-06 19:00] kevee opened #802 "SEO fixes"
Per the super-detailed report on SEO:

- [x] Add distinct descriptions to each page that is exposed to the `SEO` component.
- [x] Make blog pages set page title
- [x] Add sitemap.xml - probably use [gatsby-plugin-sitemap](https://www.gatsbyjs.org/packages/gatsby-plugin-sitemap/)

[SEOdit - Covid Tracking Project.pdf](https://github.com/COVID19Tracking/website/files/4588841/SEOdit.-.Covid.Tracking.

[2020-05-06 19:13] #791 closed

[2020-05-06 21:06] kissane opened #806 "The Antiracist Research & Policy Center name is incorrect on homepage"
Should be "The Antiracist Research & Policy Center"

[2020-05-06 21:17] #801 closed

[2020-05-06 21:18] julialedur opened #807 "change colors of the top for more contrast"
- as per @jasonsantamaria's suggestion, @tealtan and I came up with slightly different colors for the top to solve the issue of contrast.

background color: plum600 #575AAD
CTP bars: honey500 #E2894E
CDC bars: plum100 #F2F2FF

<img width="600" alt="Screen Shot 2020-05-06 at 5 02 04 PM" src="https://user-images.githubusercontent.com/39416238/81229384-b5ce2b80-8fbd-11ea-865e-0bd3c66ce84e.png">

- we

[2020-05-06 21:23] julialedur opened #808 "spacing labels and font-sizes top"
based on feedback we got from the design team, let's:
- use font-size: 40px for main text and font-size: 18px for chart text
- add a bit more spacing in the left side of the chart's y-axis labels, so they don't overlap with the chart on smaller sizes. this can also be solved by moving them to the left sooner

<img width="651" alt="axes-overlapped" src="https://user-images.githubusercontent.com/394

[2020-05-06 21:29] julialedur opened #809 "adjust height of top header"
as per [discussion on Slack ](https://covid-tracking.slack.com/archives/C010N48RY73/p1588784465438100), can we adjust our elements to make the page look something like this?

<img width="1440" alt="Screen Shot 2020-05-06 at 1 08 53 PM" src="https://user-images.githubusercontent.com/39416238/81230221-10b45280-8fbf-11ea-9cda-2acb68acfa89.png">

I think we'll need to:
- change header height and paddi

[2020-05-06 21:30] neeshabeee commented on #764
FYI - Updated the list to include additional tweaks that make the search bar more a11y-friendly (bullet #0 at the top). Thanks :)

[2020-05-07 00:24] burdavis opened #810 "best data source for Washington State has changed, is now on a dedicated page"
Observed:
- https://covidtracking.com/data reports the best current data source for Washington State is https://www.doh.wa.gov/Emergencies/Coronavirus
- You *used* to be able to see current Covid stats there, but no longer.
- Now that page will just redirect you to the current good page.

Expected:
- Washington State has hived off current Covid stats to https://www.doh.wa.gov/Emergencies/NovelCoro

[2020-05-07 01:04] kissane commented on #806
so sorry fam can we strike the duplicate "the" the second time the ARPC is mentioned on the homepage?

[2020-05-07 09:36] annesodev commented on #632
@kevee : you mean 20 millions? If so, the cheapest offer (cloud hosted) with 6 months data retention and 3 team members, it would cost 289 € per month...

[2020-05-07 09:51] #806 closed

[2020-05-07 10:03] kevee commented on #807
Got it! Question fo @tealtan this changes the color for the header site-wide, do we want to change the footer to match it?

[2020-05-07 10:13] kevee commented on #808
Preview should be in the PR attached to this ticket.
For mobile, I have 30px for main text and 1rem for chart text. Does that sound fine?

I made the y axis switch to the left on large breakpoints, which is when the header element start to stack.

[2020-05-07 10:18] #802 closed

[2020-05-07 11:58] kevee commented on #792
After a thorough review, the table team realized that implementing this would be spotty, as [sticky support](https://caniuse.com/#search=position%3A%20sticky) is spotty, and especially with tables there's a lot of examples of them breaking.

However, I'm tagging this in the tables issue to keep track of it. Thanks!

[2020-05-07 11:58] #792 closed

[2020-05-07 11:58] kevee commented on #457
To track: #792

[2020-05-07 12:07] kevee opened #814 "Swagger UI tossing a ton of CSS into site"
The swagger-ui for the API page is putting a ton of CSS into the entire site - let's figure out how to just load that CSS on the API page.

[2020-05-07 12:13] kevee commented on #632
Thanks! We're engaging with an analytics vendor right now and since this is more of an inside-baseball discussion I'm going to close this issue for now and we can pick up the convo in slack.

[2020-05-07 12:13] #632 closed

[2020-05-07 15:30] tealtan commented on #807
@kevee Yes, I’m good with changing the header and footer colors to match.

Also, Julia and I looked at the preview and had some additional tweaks:
- Let’s bold the highlighted numbers.
- Can we reduce the horizontal spacing between the bars on the chart a bit and increase their width a bit? (The gaps should look less wide than the bars)
- We’d also like to adjust the orange color since its saturat

[2020-05-07 15:49] amandafrench opened #816 "Rename and revise How You Can Help page"
As per @sarawb, we need to change the name of https://covidtracking.com/about-project/help from "How You Can Help" to "Get Involved" to match the call to action in the global header. Maybe also port the slug from /help to /get-involved. We also need to

- [x] Rewrite copy (see below)
- [x] Incorporate action form
- [x] Link to volunteer application form
- [x] Link to Help We Need google doc (could

[2020-05-07 16:08] amandafrench opened #817 "Create new Volunteer Application form"
Related to #816. As per discussions with @sarawb and @kevee, we need a Volunteer Application form to replace our current Google form. Please ping me privately for the group email address the form should be sent to.

[code]

[2020-05-07 18:07] jdmaresco opened #818 "New "Contact Us" Page"
# Overview

We are looking to create a new Contact Us page for people to route their support inquiries to the right place. We will use a form that submits directly to Front (our help desk tool), where the message will be routed to the right inbox based on the option selected in a dropdown field.

# TODO
- [x] Design team provide styling guidance / mock
  - [x] "What are you contacting us about?" s

[2020-05-07 18:16] jdmaresco opened #819 "Change /accessibility page to point to /contact"
Must be completed after #818 is closed

On page `https://covidtracking.com/accessibility` :

- [x] Under Feedback, delete:
We welcome your feedback on the accessibility of COVID Tracking Project Website. Please let us know if you encounter accessibility barriers on COVID Tracking Project Website:
E-mail: Send us a message and we will email you back
Twitter: @COVID19Tracking
GitHub: In our website

[2020-05-07 19:00] #807 closed

[2020-05-07 19:00] #808 closed

[2020-05-07 19:00] #809 closed

[2020-05-07 19:07] kevee commented on #816
Where is the form for "advocate for better" data coming from? Is it mailchimp?

[2020-05-07 19:45] kevee commented on #818
@jdmaresco we already have https://covidtracking.com/contact/success, can we use that instead of `contact-success`?

[2020-05-07 19:59] jdmaresco commented on #818
yes, I just need to update the callback URL in Front

On Thu, May 7 2020 at 3:45 PM, Kevin Miller < notifications@github.com > wrote:

[2020-05-07 20:30] kevee commented on #818
Do you want recaptcha on this?

[2020-05-07 20:39] jdmaresco commented on #818
Probably.

On Thu, May 7 2020 at 4:31 PM, Kevin Miller < notifications@github.com > wrote:

[2020-05-07 21:38] sarawb commented on #816
This is me attempting to pull together multiple things at once into one cohesive thing! Both advocacy and volunteering will be handled on the new shiny Get Involved page, so I wrote copy to bring it all together.

This form will go to a Mailchimp list. State outreach has an account set up and is almost ready to start sending email. I am meeting with Michale Parks tomorrow to talk through details.

[2020-05-07 21:47] superbiche commented on #698
@kevee if you don't have any answer, would a on-premises Sentry be OK for now?
You can [ask DigitalOcean for free credits] (https://www.digitalocean.com/community/pages/covid-19) . [OVH also started a similar initiative](https://open-solidarity.com/)

Otherwise my company could give away one of our servers for this use (and other stuff that we can't get an account for)

[2020-05-07 21:51] kevee commented on #818
Contact page is up, there's an issue with Front not liking our referrer, I'm checking:

https://deploy-preview-820--upbeat-lovelace-3e9fff.netlify.app/contact

[2020-05-08 00:51] kevee commented on #816
Thanks! I think they can make an HTML form for the list in mailchimp. Get the form to use and we can style it and add it to the page

[2020-05-08 02:41] superbiche commented on #764
@neeshabeee all fixed! Will make a PR out of it so you get a review environment.
I didn't know that the label needed to be visible; would be very interested in knowing how it helps a11y for my personal knowledge :)

[2020-05-08 03:16] yimiller opened #823 "New case rate artefact due to more testing?"
My local county's data show a fairly flat rate of new cases, but a decreasing fraction of fatalities.  I suspect this is partially because a larger fraction of non-fatal cases are being identified now than a month ago.

If this is the case then the social distancing mitigation may have been more effective than it appears, and the actual number of new cases may be declining rather than staying flat

[2020-05-08 04:17] jdmaresco commented on #818
Cool. Yeah I got an error when trying to submit from the form at the URL above.

[2020-05-08 11:53] #814 closed

[2020-05-08 13:34] kevee commented on #818
OK referrer error fixed:

https://deploy-preview-820--upbeat-lovelace-3e9fff.netlify.app/contact

![image](https://user-images.githubusercontent.com/270536/81410636-102ad180-910f-11ea-923f-8094e3796234.png)

[2020-05-08 15:24] kevee commented on #817
@friej715 is taking this on later today, here's some notes:

- This should be it's own page under `contact/volunteer`
- Include the Contentful snippet `volunteer-form` on top
- This needs to be a custom form, not use the "contact us" form component
- Form name should be "volunteer"
- Make sure to wrap the radios with a `<fieldset>` and `<legend>` for a11y

[2020-05-08 16:39] thehammah commented on #774
Which field should we use in the load?  ie is there one that will be replaced?

[2020-05-08 17:17] kevee commented on #818
Note: We can also [change these form fields](https://help.frontapp.com/t/h429xa/how-to-set-up-a-form-inbox-in-front#autoreply-support) to switch the target inbox

[2020-05-08 19:53] kevee opened #825 "Bring the search autocomplete to mobile"
Let's bring the search autocomplete to mobile devices. Some things to keep in mind:

- The current `Combobox` portal needs to be positioned better and not cover mobile.
- Let's keep the portal attached to the menu so the menu goes up and down to match content. Maybe?

[2020-05-08 20:10] superbiche opened #826 "Search test coverage"
**Describe the bug**
Follow up to @schwartzadev who brought up the fact we didn't write tests for the search feature :eyes:

context/search-context
utilities/algolia
components/layout/search-autocomplete

Assigning myself as I never wrote Jest tests, but _need_ to learn how to do this. If it's urgent and I'm not doing it feel free to participate.

[2020-05-08 20:32] jdmaresco commented on #818
@kevee can you make sure the "success" page matches the copy Sara provided (see above)

[2020-05-08 20:43] jdmaresco commented on #818
Since we are likely going to hit "reply," it feels non-ideal that the IP address is logged in the body. Can you remove that?

![image](https://user-images.githubusercontent.com/1327983/81447575-e1325100-914a-11ea-89a2-9d6df29accfc.png)

[2020-05-08 20:47] schwartzadev opened #827 "Header Chart: Each child in a list should have a unique "key" prop"
**Describe the bug**
[code]
(Recreate the above stack trace by running `npm run test:coverage`)

[2020-05-08 20:48] schwartzadev opened #828 "Header Tabs: Each child in a list should have a unique "key" prop"
**Describe the bug**
[code]
(Recreate the above stack trace by running `npm run test:coverage`)

[2020-05-08 21:10] jrubenoff commented on #760
@schwartzadev Hmmm, can't seem to reproduce in the latest versions of:

- Chrome or Firefox on Mac
- Edge and Firefox on Windows

If you're still seeing this, what browser / device are you using?

[2020-05-08 21:24] jurassicparks commented on #816
Kevin -- I'm dropping HTML for the form here. First time using github so please tell me if I'm doing it wrong.

[2020-05-08 21:24] jurassicparks commented on #816
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file.

[2020-05-08 21:35] kevee commented on #818
The IP thing is in Front, I'll remove that.

[2020-05-08 21:36] kevee commented on #818
I updated the success page.

[2020-05-08 22:42] Bruce404 opened #830 "Need .CSV or .XLSX file for new or cumulative cases & deaths by date and by state"
As CDC retirees continuing to update a chart for a public Medium.com essay:

                                 "Straight Talk by ex-CDC for the Long Slog Ahead"
 (https://medium.com/@bgweniger/straight-talk-from-ex-cdc-for-the-long-slog-ahead-f9d18a8502d1?source=friends_link&sk=449ec6deec0ec1595bdd9eeae23ea7a0)

... We need a downloadable .CSV, .XLSX, or equivalent dataset to continue updating stra

[2020-05-09 18:35] superbiche commented on #825
I'm working on it, I think this can be added to #822 .

[2020-05-09 19:42] julialedur opened #832 "add margin and move "are" on homepage"
@superbiche pointed out that the hero is a bit crowded in a specific size on his computer:

![image (13)](https://user-images.githubusercontent.com/39416238/81483328-64b37700-920b-11ea-9e6b-171c1d126e8c.png)

- let's move the "are." to the previous sentence so it's not lost in its own line.
- let's add a bit of margin in between the two bits of text.

[2020-05-09 19:51] superbiche commented on #825
Done

[2020-05-09 21:46] superbiche commented on #832
Fixed in the PR :point_up:

[2020-05-11 10:27] #832 closed

[2020-05-11 15:29] #818 closed

[2020-05-11 15:31] #819 closed

[2020-05-11 15:55] kevee commented on #816
@jurassicparks that looks fine, we can reformat it to match our style and add that extra line.

I'm considering this dependent on #817

[2020-05-11 16:19] schwartzadev commented on #760
Thanks for following up on this @jrubenoff! It looks like it's no longer an issue :thinking: ... not sure why this happened, but I'll take it!

[2020-05-11 16:19] #760 closed

[2020-05-11 16:31] schwartzadev opened #835 "Byline spacing with default p margins"
Let us know what the design issue is. Screenshots are helpful!

![image](https://user-images.githubusercontent.com/18607205/81586217-6d728d00-9372-11ea-9e12-4d3d2ad66c2d.png)
I broke this spacing a little while ago...fix coming soon.

[2020-05-11 16:34] jdmaresco opened #836 "Change Front message subject for contact form submission"
Currently: Subject on Front message generated from Contact form is “Form Request”

Expected: Subject should be `$Name - $Reason`

[2020-05-11 17:13] ggrowe opened #839 "New Contact Form - change order of reasons for contacting us"
![image](https://user-images.githubusercontent.com/65028546/81590405-9b0a0700-936f-11ea-8594-5794f720b98b.png)
I would suggest that dropdown choices be in a different order.  Putting the ones that direct into a specific folder first, then the remaining ones after.  This is the order I would suggest (first 3 are being directed - the others are not):
I have questions about the state data grades
I ha

[2020-05-11 19:48] #827 closed

[2020-05-11 19:48] #828 closed

[2020-05-11 20:10] #598 closed

[2020-05-11 20:14] kevee commented on #835
Fixed in #837

[2020-05-11 20:14] #835 closed

[2020-05-11 23:13] #836 closed

[2020-05-11 23:13] #839 closed

[2020-05-12 04:53] AndyWongDev commented on #658
I have some experience with Sass, where can I help/start consolidating the stylesheets?

[2020-05-12 10:06] kevee opened #842 "Require reason field on the contact form"
- Add a default `--Select reason--` option
- Make form submit disabled if that option is selected

[2020-05-12 15:12] #724 closed

[2020-05-12 18:31] kevee opened #843 "Enable incremental builds"
We should test [incremental builds](https://www.netlify.com/blog/2020/04/23/enable-gatsby-incremental-builds-on-netlify/) for the site on a separate Netlify site.

[2020-05-12 19:33] #635 closed

[2020-05-12 19:33] #634 closed

[2020-05-12 20:00] superbiche opened #845 "Split header.js file in sub components"
**Describe the bug**
The `src/components/layout/header.js` is becoming huge, becomes hard to navigate, and the last merge conflict resolution was quite a pain.

It feels like time to split each components it contains into a single component to make it maintainable again.

(btw it's a great starter for anyone looking for a first issue to tackle :smiley: )

[2020-05-13 00:39] kissane opened #847 "JS flash on time zones on state data pages"
On state data pages, it looks like we're adjusting the timestamp ("Last updated: Tue May 12 2020 6:00 am EDT" or whatever, screenshot for clarity but it's not a GIF so it doesn't really show the issue) client-side again, which seems maybe not great?

<img width="389" alt="Screenshot 2020-05-12 17 37 25" src="https://user-images.githubusercontent.com/1910034/81758719-7e58f680-9477-11ea-9d03-6dc05d6

[2020-05-13 10:26] kevee commented on #847
Confirmed that the date is coming out in EDT and then being overwritten to local time by the client. I'm on it.

[2020-05-13 12:59] kevee commented on #816
@sarawb and @jurassicparks - Here's a preview of the page:

https://deploy-preview-849--upbeat-lovelace-3e9fff.netlify.app/about-project/help

I tested it and signed up in Mailchimp.

[2020-05-13 14:23] amandafrench opened #850 "CDC testing numbers on home page - citing source?"
This seems like a pretty urgent change we should make based on updates the CDC made yesterday.

On the home page at https://covidtracking.com/ we make the claim that "CDC numbers don't tell the full story. Their official count shows 558,293 tests to date across the US. Using a rigorous data-collection process, we've counted 9,637,930 tests." I expected to find a link in that paragraph to the CDC d

[2020-05-13 14:34] kevee commented on #850
The data on that chart is all tests confirmed from that "previous testing" page. I think we need to have a discussion about that new testing page and what it means.

[2020-05-13 15:07] #850 closed

[2020-05-13 16:05] #816 closed

[2020-05-13 17:48] beep opened #853 "Data page: table headers overlap the sticky “Totals by State” bar"
**Describe the bug**
The positioned [table headers on the data page](https://covidtracking.com/data) seems to be overlapping the sticky “Totals by State” menu bar. Here’s a screencap:

<img width="1170" alt="Screen Shot 2020-05-13 at 1 44 24 PM" src="https://user-images.githubusercontent.com/124493/81846428-0d214e00-9520-11ea-8c7c-da1c450fdb40.png">

Seems like a real minor stacking bug; applying

[2020-05-13 17:50] kevee commented on #853
Thanks, @beep, I love having a simple issue today!

[2020-05-13 18:55] #853 closed

[2020-05-14 10:44] #847 closed

[2020-05-14 10:49] kevee opened #855 "Refactor animation on mobile menu"
The mobile menu navigation currently uses [react-expand-animated](https://www.npmjs.com/package/react-expand-animated), but we should move to smoother CSS transitions. Some thoughts:

- The menu will *always* have different heights because of user screen zoom, font availability, and state of expanded submenus, so never set a height on the menu in CSS.

[2020-05-14 11:28] #845 closed

[2020-05-14 17:18] kevee opened #856 "Handle long lists of subnavigation items"
We don't have long sub-navigation lists, but we might. Let's refactor the subnavigation that appears below the title:

![image](https://user-images.githubusercontent.com/270536/81965003-6d2df800-95e5-11ea-9042-6045fb484d1b.png)

[2020-05-14 19:50] kevee commented on #825
Fixed in #822

[2020-05-14 19:50] #825 closed

[2020-05-14 19:50] kevee commented on #764
Fixed in #822

[2020-05-14 19:50] #764 closed

[2020-05-14 20:49] jrubenoff commented on #855
@kevee Here's a proof of concept. Let me know what you think: https://codepen.io/jrubenoff/pen/KKdxWKx

[2020-05-14 23:43] kissane opened #858 "Blog tables weird on smaller screens/windows"
We have a beautiful new table in here thanks to @kevee https://covidtracking.com/blog/antibody-data-reporting

…but it seems to get weird and very wide at smaller widths, which throws off the rest of the page as well. Any ideas?

[2020-05-14 23:49] schwartzadev commented on #858
(related: the `line-height` for `th`s is less than one, which makes them rather _smooshed_.  When this gets fixed, let's also bump that up to at least 1, maybe 1.15.)

Example:
![image](https://user-images.githubusercontent.com/18607205/81996797-3b2f8c80-960b-11ea-942f-6232e6f9fda7.png)

[2020-05-15 00:53] #858 closed

[2020-05-15 01:58] superbiche opened #860 "Tables: mobile stacked variant"
[This new blog post from Erin & Quang](https://covidtracking.com/blog/antibody-data-reporting) uses the new Table component - it's the same table component as before, but in Contentful.

But this `contentful` (pun intended) table, in smaller layouts, is rendered in a way that makes it hard to read:

![image](https://user-images.githubusercontent.com/2478146/82002957-78be0500-965f-11ea-89c3-6dff4e6

[2020-05-15 10:38] kevee commented on #860
Good point, @superbiche! I know the folks in the web table group have been gearing up for stacked mobile tables, but I think these content-only tables are safe to play with.

[2020-05-15 10:48] kevee opened #861 "Add smart quote support to all content pages"
Let's get some [smart quoting](https://smartquotesforsmartpeople.com/) into our content. How about we:

- [ ] Install `gatsby-remark-smartypants`, this should fix all MD stuff from Contentful
- [ ] Implement a filter for blog posts, since they use rich text format.
- [ ] Create a common smartQuote component that uses [smartypants](https://www.npmjs.com/package/smartypants) package (see below)
- [

[2020-05-15 10:51] kevee commented on #860
So the Contentful table component is just an embedded entity with markdown, since they don't have a built-in tool for that.

However, we can do stacking with just CSS! The component and it's SCSS module is at: `/src/components/pages/blog/table-content-block.js`

[2020-05-15 18:32] tatianamac opened #864 "🐛 CSV/JSON files are unlabelled, unclear what data it is"
Page: [Data API, endpoints](https://covidtracking.com/api#endpoints)

## Expected Behaviour
The ability to tab through links and know where they go without digging for more info using my screen reader (SR).

## Actual Behaviour
In the area with all the JSON/CSV files, if I'm navigating using a SR and tabbing through links, it will repeatedly announce "JSON" and "CSV" without the visual context of

[2020-05-15 18:47] amandafrench commented on #817
Thanks, guys! Sorry it took me so long to review this. There have been some changes to the process logic that require some changes to the form. Which is good, because we are making it simpler! This whole question & its responses:

[code]
needs to be changed to

[code]

[2020-05-15 18:52] amandafrench commented on #817
I have a question about routing, as well. I'd like one copy of all application responses to go to a single group email address and a single Slack channel, but I'd also like applications to be routed to four *different* group email addresses and four related Slack channels based on the user's response to the above question about what they want to volunteer to do. Is this possible? We had discussed

[2020-05-15 18:54] amandafrench commented on #816
The page title should be changed from How You Can Help to Get Involved, and ditto the tab name.

[2020-05-15 18:55] amandafrench commented on #816
I think the correct page preview is https://deploy-preview-849--upbeat-lovelace-3e9fff.netlify.app/get-involved

[2020-05-15 19:01] tatianamac opened #865 "🐛 Dropdown contents inaccessible by keyboard"
## Element
[US Current and Historical Data](https://covidtracking.com/api#status) (Note this is technically the link to the status above, but this element does not have an anchor link)

<img width="1182" alt="Dropdown activated with several GET button-looking things that are not tabable" src="https://user-images.githubusercontent.com/7484549/82085521-0f131a80-96a2-11ea-93c3-1c5882dcc190.png">

##

[2020-05-15 19:12] tatianamac opened #866 "🐛 Servers dropdown is missing its label"
## Element
[COVID Tracking API Sandbox](https://covidtracking.com/api#status)
Note the above link actually goes to the element above it; this element didn't have an anchor link.
Maybe it should? Separate issue.

<img width="304" alt="select input with https://covidtracking.com and server text above it. Server text is not the label" src="https://user-images.githubusercontent.com/7484549/82087456-fc

[2020-05-15 19:30] kevee commented on #864
I think the page is fixed now, please double-check for me.

[2020-05-15 19:30] kevee commented on #865
@friej715 can we see if this is fixable via Swagger's UI?

[2020-05-15 19:31] kevee commented on #866
@friej715 ditto - maybe we should do a support request with Swagger on this?

[2020-05-16 10:02] #602 closed

[2020-05-16 10:05] kevee commented on #864
Links look good now, closing!

[2020-05-16 10:06] kevee commented on #856
Closing per #863

[2020-05-16 10:06] #856 closed

[2020-05-16 16:02] tatianamac commented on #864
Hiya! sorry I didn't see this alert come through. Minor things: The first JSON link says "curren" and the last link says CSV format instead of version like the rest.

[2020-05-17 07:48] kissane opened #867 "New Atlantic credit on the site"
Hi! We have it resolved that we are now The COVID Tracking Project at _The Atlantic_, so it would be fantastic if someone could jump in and make us a new website bug that replaces that nice "from" in the top left with a nice "at" instead.

<3

[2020-05-17 10:47] #867 closed

[2020-05-17 11:23] kevee commented on #864
Thanks for the catch! Done!

[2020-05-17 11:23] #864 closed

[2020-05-17 11:30] kevee commented on #866
I opened this issue with the Swagger-UI project:
https://github.com/swagger-api/swagger-ui/issues/6015

[2020-05-17 11:30] kevee commented on #865
I opened this issue with the Swagger-UI project:
https://github.com/swagger-api/swagger-ui/issues/6015

[2020-05-17 20:46] friej715 commented on #865
I'm going to take a look and see if I can propose a PR...

[2020-05-17 20:57] friej715 commented on #865
Actually, are we sure this is a Swagger-UI issue? I checked out that repo and ran the sample server, and it seems tabbable. I just don't know what would cause that to change here.

[2020-05-18 01:36] tsargent opened #870 "Mobile subnav left margin"
I made a recent fix for a subnav design issue:

Merged pull request:
https://github.com/COVID19Tracking/website/pull/863

Issue:
https://github.com/COVID19Tracking/website/issues/856

But I just noticed that this introduced another issue on mobile screens, where the subnav is not correctly aligned:

![Screen Shot 2020-05-17 at 9 33 44 PM](https://user-images.githubusercontent.com/173215/82166323-1

[2020-05-18 01:37] tsargent commented on #870
I have a fix for this coming up if you would like to assign this to me.

[2020-05-18 16:33] kevee opened #873 "IE date support"
In an unnamed version of IE the dates are not formatting correctly:

![image](https://user-images.githubusercontent.com/270536/82237496-b642bc80-9903-11ea-942f-f27036845d17.jpeg)

[2020-05-18 21:22] #842 closed

[2020-05-18 21:25] kevee commented on #873
Confirmed issue exists only in IE 11. We are using luxon to parse dates, I'll see if there's no shim we can add to fix this quickly.

[2020-05-18 21:44] ctp-support opened #875 "Dates / times not rendering in IE"
From support email:

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_23zgx)

[2020-05-18 21:45] jdmaresco commented on #875
Second email:

![image004](https://user-images.githubusercontent.com/1327983/82262665-53671a80-992f-11ea-9de7-6d341f9f1c5b.jpg)

[2020-05-18 21:52] #873 closed

[2020-05-18 23:17] #870 closed

[2020-05-19 14:51] kevee commented on #817
@friej715 can you add this to the PR?

[2020-05-19 15:47] tatianamac opened #880 "CRDT Dashboard: Stack key elements"
## Expected Behaviour
For key to be legible at all screen widths

## Actual Behaviour
Key is not legible at all screen widths

<img width="429" alt="image" src="https://user-images.githubusercontent.com/7484549/82347921-1477aa00-99ad-11ea-8c86-925561cb2db1.png">

## Recommended Fix
- Append media query to key element to switch to `flex-direction: column` for narrower widths.
- Left-align title (e.

[2020-05-19 15:54] tatianamac opened #881 "CRDT Dashboard: Place percentages side by side"
## Expected Behaviour
For percentages to display side by side if horizontal space exists

## Actual Behaviour
Percentages stack, even when there is room to accommodate forcing extra scroll; it also makes it harder to tell what the second number represents.

<img width="433" alt="image" src="https://user-images.githubusercontent.com/7484549/82348663-0a09e000-99ae-11ea-8b4c-dd2f80a74655.png">

## Re

[2020-05-19 15:59] tatianamac opened #882 "CRDT Dashboard: Add line between states"
## Expected Behaviour
Each state should have a line after it to help separate it from following state

## Actual Behaviour
No line

## Recommended Fix
Add `border-bottom` to each state to separate states
From Figma file:
<img width="1441" alt="image" src="https://user-images.githubusercontent.com/7484549/82349380-e09d8400-99ae-11ea-9ca0-51a69a7f065b.png">

[2020-05-19 16:22] kevee commented on #875
Also issue in Safari 9

[2020-05-19 16:47] tatianamac opened #883 "CRDT Dashboard: Add space between states, tables, etc"
## Expected Behaviour
For white space to help break up information-dense sections

## Actual Behaviour
Information is very dense, making it hard to digest the information

## Recommended Fixes

- Add space between "US section" at top and the Race and Ethnicity Data by State
<img width="1189" alt="image" src="https://user-images.githubusercontent.com/7484549/82353934-f4e47f80-99b4-11ea-9edd-08520fc

[2020-05-19 16:49] tatianamac opened #884 "CRDT Dashboard: Make each race row header fit one line"
## Expected Behaviour
For each race field to fit one line

## Actual Behaviour
Race headers wrap for longer race titles, like NH/PI and AI/AN. Additionally it makes it such that the percentage columns are wider than necessary, which makes them harder to scan.

<img width="1218" alt="image" src="https://user-images.githubusercontent.com/7484549/82354659-f498b400-99b5-11ea-9bc2-1ead083c87b5.png">

#

[2020-05-19 16:59] schwartzadev commented on #881
Can do! Would you like to keep the `column` behavior for the US overviews? (This uses the same base component.)

Here's the current display on mobile:
![image](https://user-images.githubusercontent.com/18607205/82355634-b86a5100-99bf-11ea-95b1-02ba822cc606.png)

[2020-05-19 17:04] tatianamac opened #885 "CRDT Dashboard: Decrease h-space between percentage columns"
## Expected Behaviour
For state percentage cols to align with U.S.  percentage columns

## Actual Behaviour
State percentage columns are a lot wider, leaving a big gap between cases and deaths percentages
<img width="662" alt="image" src="https://user-images.githubusercontent.com/7484549/82355890-b3090880-99b7-11ea-9a08-b439922ab3b1.png">

## Recommended Fix
Give each column a `flex: 1` and `width

[2020-05-19 17:11] tatianamac commented on #881
Ah I should have guessed they were the same!

Another suggestion so that we can maintain the same behaviour is to instead keep each state as its own row, but flip the number and "of" clause to being columns for smaller widths, like so:
<img width="434" alt="image" src="https://user-images.githubusercontent.com/7484549/82356859-0d569900-99b9-11ea-8399-1950668a7a39.png">

(Instead of what I have, we

[2020-05-19 17:11] tatianamac commented on #881
Also, I know this is bad issues-practice, but while you are in there, could you please make it "of cases" and  "of deaths"? It's currently missing visually.

[2020-05-19 18:39] #875 closed

[2020-05-19 18:47] kevee opened #886 "Bold does not work in Catalina with San Francisco"
In MacOS with San Francisco, any body copy that is bold or font weight over 300 does not render as bold.

[2020-05-19 19:03] kevee commented on #886
https://www.coywolf.news/webmaster/chrome-81-breaks-system-fonts-bold/

[2020-05-19 22:56] heyheatherirene opened #888 "Enable UNFURL when sharing page(s) on social media"
Would be cool to unfurl website links, so we have some visual to accompany direct links. This is especially evident, given the new white paper. May need to open another ticket to ensure proper graphic is ready for unfurling.

[2020-05-20 01:23] #605 closed

[2020-05-20 17:34] tatianamac opened #892 "CRDT Dashboard: Extra space between data and descriptor"
## Expected Behaviour
No space between number of states reporting and the descriptor

## Actual Behaviour
<img width="647" alt="image" src="https://user-images.githubusercontent.com/7484549/82478151-583de280-9a85-11ea-92fd-c492aca63a2e.png">

## Recommended Fix
Omit extra <br>

## Specs
https://mybrowser.fyi/report/5ec56a0bcabf07001531559b

[2020-05-20 17:42] olivierlacan opened #893 "Double @-sign on blog bylines"
On the blog bylines, two `@` symbols are shown instead of one.
![image](https://user-images.githubusercontent.com/65950/82478982-b972af80-9a9f-11ea-8622-8d1b52711718.png)

Example: https://covidtracking.com/blog/tracking-cdc

[2020-05-20 17:42] tatianamac opened #894 "CRDT Dashboard: Symbol margin rules cause spacing issues"
## Expected Behaviour
Spacing around all symbols

## Actual Behaviour
Spacing rules seem to be specific to singular use cases, which make the spacing odd in some places

<img width="482" alt="image" src="https://user-images.githubusercontent.com/7484549/82478972-9091f080-9a86-11ea-9bb4-533ba95d6dde.png">

## Recommended Fix
Assess margin system for all locations.

🚩 needs margin-left to prevent it

[2020-05-20 17:52] tatianamac opened #895 "CRDT Dashboard: Toggle behaviour is unclear"
## Expected Behaviour
Toggle for the 🚩 and the 🔵 to either be independent, or connected.

## Actual Behaviour
When you click on one to expand, and go to click the other one, it closes the first one instead of opening the second one.

I can't upload a video here but I can share it with you if helpful.

[2020-05-20 17:53] tatianamac opened #896 "CRDT Dashboard: Superscript annotation anchor link behaviour is unclear"
## Expected Behaviour
For anchor links to be clear what they're jumping me to.

## Actual Behaviour
For clear "jumping" down to whatever section I'm supposed to have, perhaps with a corresponding header?

Right now, it jumps me down somewhere, but I honestly can't tell where and what I'm supposed to read?

[2020-05-20 18:24] sarawb opened #897 "Copy edits - racial data dashboard"
- [x] Add "Here's" to first sentence of headline so it is "Here's the latest..."
- [x] After the headline, we are missing all of the body copy for the intro section:

- [x] - Header for Race and Ethnicity Data by State should be sentence case
- [x] - Purple box text -- change "The following charts" to "The following data tables"
- [x] - In text above % for states that have race/ethnicity combined,

[2020-05-20 18:45] julialedur opened #898 "update viz guide"
- [x] Delete cdc charts
- [x] Change top text to text below
- [x] Add new chart and note

**Delete this text:**

"Complete, up-to-date testing and outcomes data is essential to a successful public health response to the US COVID-19 outbreak, but that data is not being published by the Centers for Disease Control and Prevention (CDC) or any other governmental entity.

The COVID Tracking Project exi

[2020-05-20 18:47] kevee commented on #893
Data entry issue in the CMS, removed.

[2020-05-20 18:47] #893 closed

[2020-05-20 18:48] kevee commented on #895
That's a known issue, should be fixed soon.

[2020-05-20 19:27] kevee commented on #892
Good catch! Prettier had wiped those spaces, so I forced them back in.

[2020-05-20 19:27] #892 closed

[2020-05-20 19:35] toddparker opened #899 "Racial data dashboard accessibility review items"
URL tested:
https://feature-crdt-dashboard--upbeat-lovelace-3e9fff.netlify.app/race/dashboard

Looked at in Safari, FF and Chrome with VoiceOver and NVDA

- [x] **State input needs a visible focus state**

<img width="259" alt="image" src="https://user-images.githubusercontent.com/359929/82490535-6b66a780-9ab1-11ea-9887-97b55c819610.png">

Seems this rule from the header should just be scoped more

[2020-05-20 19:55] kevee commented on #899
@beep did let us know about role. I'm considering that a tooling issue.

[2020-05-20 20:05] amandafrench commented on #817
If you can't get to it, @friej715, I think I can hack it out myself in the next day or two

[2020-05-20 20:07] friej715 commented on #817
@amandafrench oops should have tagged this issue—already pushed a commit that should update these options 👍

[2020-05-20 20:18] sarawb commented on #895
Additional toggle issue: Looks like the see why for the red flag is no longer functioning at all.

[2020-05-20 20:19] sarawb commented on #897
Noting that the copy has changed to "Arkansas does not report race data for deaths that are not deaths." but should say "Arkansas does not report race data for deaths."

[2020-05-20 20:23] tealtan commented on #899
Yep, exactly – role="text" we intentionally added to improve readability.

[2020-05-20 20:43] sarawb opened #901 "Racial data dash: Update content across all purple boxes"
New copy (Aviva and Sara collabed)

Replace all instances of copy in the purple box next to each state's %s with:

[2020-05-20 20:47] sarawb opened #902 "Data table headers and legend (red flag, blue dot) need more visual hierarchy"
Would like to see text size for legend brought down to be a bit smaller than body/table copy for more visual difference between chart header and legend. Aviva noted the legend felt like a subhead for the chart.

[2020-05-20 20:58] kevee commented on #896
@tatianamac - the anchors were broken to notes, and I believe this issue was fixed in https://github.com/COVID19Tracking/website/commit/a8c3be0d2af690c251d5305f7794ece8641e5530#diff-6cd599bc8dfc2ae13bae13a3a6277532

[2020-05-20 21:08] sarawb commented on #897
First item was not completed:

Add "Here's" to first sentence of headline so it is "Here's the latest..."

[2020-05-20 21:20] amandafrench commented on #817
Oh hey awesome thanks @friej715!

[2020-05-20 21:23] #899 closed

[2020-05-20 21:24] amandafrench commented on #817
I do also have a new email address the form should be sent to -- is there a demo version I could try, as well? I went to the "deploy preview" on the PR but didn't see the new form.

[2020-05-20 21:25] kevee commented on #897
Fixed in https://github.com/COVID19Tracking/website/commit/7f26ff119af7f2fe8d390809fa3f83bc0f8ba6ee

[2020-05-20 21:25] #897 closed

[2020-05-20 21:26] amandafrench commented on #817
New form launch will also require small text / link changes to https://covidtracking.com/get-involved btw

[2020-05-20 21:27] amandafrench commented on #817
Namely: remove "See what kinds of help we need" link & text and change link URL on "Fill out a volunteer application" to the URL of the form (or else embed the form on the Get Involved page)

[2020-05-21 00:08] farmdawgnation opened #903 "API Returns Multiple Date Formats"
Starting with 876205b6a7556a95ea4ede719c0300b05877de28 — the `lastUpdateEt` was added to the data that's returned from the API. However, this data for this column has a different format than the `dateChecked` field. We're running into issues attempting to load this into some of our tooling (in this case, BigQuery) because different timestamp formats are used throughout the file.

Could `lastUpdate

[2020-05-21 00:55] friej715 commented on #817
@amandafrench got it, I'll get on that now!

The new form lives [here](https://deploy-preview-831--upbeat-lovelace-3e9fff.netlify.app/contact/volunteer). I think all the Netlify stuff is in a testable place, right @kevee?

[2020-05-21 00:58] friej715 commented on #817
I'll also tweak the "(required)" text on the new volunteer form page to match how it looks on the Get Involved page.

[2020-05-21 01:04] friej715 commented on #817
Oh wait, I think those links are in Contentful and have to be changed there. In any case, the new form currently lives at `/contact/volunteer`.

[2020-05-21 09:59] kevee commented on #896
I did more!

- Made the notes link to the header above the notes
- Prevent the anchor from being hidden by the sticky search bar
- Gave notes header better context for AT (read as "Notes [on race/ethnicity] for [state]

[2020-05-21 09:59] #896 closed

[2020-05-21 10:10] kevee commented on #895
@tatianamac I think this is fixed, the toggles will close the other toggle if it's already expanded now.

[2020-05-21 10:10] #895 closed

[2020-05-21 10:10] #880 closed

[2020-05-21 10:10] #881 closed

[2020-05-21 10:10] #882 closed

[2020-05-21 10:10] #883 closed

[2020-05-21 10:10] #884 closed

[2020-05-21 10:10] #885 closed

[2020-05-21 10:10] #894 closed

[2020-05-21 10:11] #902 closed

[2020-05-21 10:13] kevee commented on #903
Moving to the issues group.

This is currently being served straight from the spreadsheet.

[2020-05-21 10:14] #901 closed

[2020-05-21 10:19] kevee opened #906 "CRDT Dashboard: Fix null notes"
When an entire note column is empty, GraphQL will just silently ignore it. There are several note fields in the sheet that are therefore missing from our GraphQL queries, but are referenced in code.

Fields include `blackDeathNotes`, `blackPosNotes`, `whitePosNotes`, etc.

[2020-05-21 10:20] #886 closed

[2020-05-21 15:44] jdmaresco opened #910 "Flash of unstyled menu when loading page"
Observed: Brief flash of unstyled content on menu on race page, when opening on mobile

To get here I clicked on a link posted in slack and observed the page inside the slack-embedded web browser

I was able to reproduce this happen occasionally, about 15-20% of the time

![25C81EAF-5094-4D96-B6C0-F75AB3EDA4C2](https://user-images.githubusercontent.com/1327983/82576898-3e210480-9b58-11ea-84f7-cb7c

[2020-05-21 16:37] kevee commented on #910
That's our JS-disabled backup menu, I'll hide it for mobile.

[2020-05-21 16:37] schwartzadev opened #911 ""not comparable" / "disparity likely" dialogs inaccessible without Javascript"
**Describe the bug**
A clear and concise description of what the bug is.

## Current behavior
I hate for Javascript to be My Thing, _but_... There is currently no way to view these dialogs without using Javascript.

![image](https://user-images.githubusercontent.com/18607205/82581754-483e0580-9b4e-11ea-9390-4de1c13b8c3d.png)
(Open links are highlighted)

### Reproduction
1. Disable JS
2. Go to htt

[2020-05-21 18:04] kevee commented on #911
Good catch! We have the special `.js-disabled` classes - how about we use that to put a link next to these that got to the bottom of the page with a description?

[2020-05-21 18:15] kevee opened #913 "Enable Sensitive variable policy in netlify"
Needs testing, but we should setup a [sensitive variable policy](https://docs.netlify.com/configure-builds/environment-variables/#sensitive-variable-policy) in Netlify so we can allow anyone to do a branch deploy preview without approval.

[2020-05-21 19:45] #906 closed

[2020-05-22 22:08] amandafrench opened #916 "Feature request: embed @COVID19Tracking Twitter feed?"
Please let us know the page you are talking about, and your content suggestions!

I know it’s very 2010, but if the CTP Twitter account were embedded on the site somewhere it would often provide valuable context for each day’s numbers. Can haz?

[2020-05-22 23:50] weatherman0516 opened #917 "Erroneous 'defer' attribute in html source?"
At the very end of the html code for each data page (states and us totals) there's a 'defer' attribute just before the </script> tag without any value after it.

[2020-05-23 01:08] schwartzadev commented on #916
Are you thinking of a "latest tweets" dialog on the homepage?

I like this idea! @sarawb, what do you think?

[2020-05-23 01:14] schwartzadev opened #918 "Contentful cleaning options?"
I've noticed double spaces between words in some blog posts, and some spaces trailing paragraphs.

Would it be appropriate to clean contentful fields (or maybe just blog content fields) to stop these double/trailing space from hitting the website?

On the other hand, I totally understand if this is overstepping from a content side of things. I'll defer to @sarawb on this.

[2020-05-23 12:20] sarawb commented on #916
100% agree that the context and perspective on Twitter needs to get onto the site better! I don't love the idea of putting up latest tweets as the way to solve it, but I do want to think about what we are losing to the ephemeral stream by not capturing it in the context of the site.

[2020-05-23 12:30] sarawb commented on #918
I am trying to imagine a situation where this goes wrong, and I can't quite think of one! I'd say, let's do it for blog content fields, where we definitely don't have any purposeful double-spaces.

[2020-05-23 17:14] muamichali commented on #916
I think I suggested this before in an issue but not sure if anyone saw it.
What if we indexed the tweets as one of the types of content in search
results?

On Sat, May 23, 2020 at 8:21 AM sarawb <notifications@github.com> wrote:

[2020-05-23 20:42] tsargent commented on #917
I think that's actually valid. It's just the boolean defer attribute for the script tag: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script

I believe it's valid to set a boolean attribute to true by assigning it to an empty string:
https://html.spec.whatwg.org/multipage/common-microsyntaxes.html#boolean-attributes

[2020-05-23 21:08] weatherman0516 commented on #917
Interesting.

I assumed it was in error because I was getting the following error using Google Apps Script

![image](https://user-images.githubusercontent.com/63274008/82740546-c7326a00-9d17-11ea-9773-b22dc6f34eef.png)

Using the following line of code...

`XmlService.parse(page).getRootElement()`

[2020-05-24 22:06] kissane commented on #916
@amandafrench this is such a good issue to open. I think there are two kinds of content to deal with here:

### Daily data tweets
The daily tweets are the closest thing we have to release notes for the daily data, so the most useful home for that information would be _right next to each day's update_. I think a link to the daily (pinned) tweet that begins the daily thread is probably the correct t